.action-form {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  flex-grow: 1;
  padding: 12px 0 12px 8px;
  column-gap: 8px;

  + .action-form {
    margin-top: 3px;
  }

  .dd__combo {
    min-height: auto;
    padding-right: 30px;
  }

  .dd__combo,
  .dd__list {
    border-width: 1px;
  }

  input[type="text"] {
    display: flex;
    padding: 5px;
    height: 32px;
    border-width: 1px;
    border-style: solid;
    flex: 1 1 150px;
  }
}

/* Form and validation message container */
.action-form__container {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 auto;
}

/* Fields container */
.action-form__fields {
  display: flex;
  flex-flow: row wrap;
  flex: 1 1 auto;
  column-gap: 8px;
  row-gap: 8px;
}

.action-type-field {
  flex-grow: 0;
  flex-shrink: 1;
}

.action-form__controls {
  display: flex;
  align-items: center;
}
