body
{
	background-color: #000000;
	color: #FFFFFF;
}


a, a:visited
{
	color: #FFFFFF;
}


input[type="button"], input[type="submit"], button
{
	border: 2px solid #FFFFFF;
	background-color: #000000;
	color: #FFFFFF;
}


.btn:hover, .btn:active
{
	background-color: #FFFFFF;
	color: #000000;
}


input[type="text"], input[type="password"], select
{
	border: 2px solid #FFFFFF;
	background-color: #000000;
	color: #FFFFFF;
}
