body
{
	background-color: #000000;
	color: #FFFFFF;
}


a, a:visited
{
	color: #FFFFFF;
}


.btn
{
	border: 2px solid #FFFFFF;
	background-color: #000000;
	color: #FFFFFF;
}


.btn:hover, .btn:active
{
	background-color: #FFFFFF;
	color: #000000;
}


.inp, .sel
{
	border: 2px solid #FFFFFF;
	background-color: #000000;
	color: #FFFFFF;
}
