body
{
	margin: 0;
	padding: 0;
	font-family: Verdana, sans-serif;
	width: 100%;
	height: 100%;
}


table tr td
{
	margin: 0;
	padding: 0;
}


.maintable
{
	vertical-align: middle;
	width: 100%;
	height: 100%;
}


.maintable tr td
{
	padding-left: 50px;
}


.maintitle
{
	font-size: 20pt;
	font-weight: normal;
}


.userblock
{
	margin-top: 15px;
	margin-right: 30px;
	width: 100%;
	height: 30px;
	text-align: right;
}


a, a:visited
{
	text-decoration: underline;
}


a:hover
{
	text-decoration: none;
}


.btn
{
	font-family: Verdana, sans-serif;
	font-weight: bold;
	cursor: pointer;
	text-transform: lowercase;
	padding: 2px 20px;
	height: 30px;
	display: inline-block;
}


.inp
{
	font-family: Verdana, sans-serif;
	font-weight: bold;
	padding: 2px 5px;
	height: 22px;
	display: inline-block;
}


.mainmenu
{
	font-size: 16px;
}


.mainmenu span
{
	margin: 0px 25px;
}


.submenu
{
	font-size: 14px;
}


.submenu span
{
	margin: 0px 25px;
}


.infotable tr:nth-child(even)
{
	background-color: #E0E0E0;
}
