/* Common */
*, body
{
	font-family: "Segoe UI", "Lucida Sans Unicode", "Geneva", "Helvetica Neue", "Arial", "Nimbus Sans L", sans-serif;
	margin: 0;
	padding: 0;
}


body
{
	width: 100%;
	height: 100%;
}


div
{
	border: 0px none;
}


/* headings */
h1
{
	font-size: 32px;
	font-weight: normal;
}


/* link style */
a, a:visited
{
	color: #0072C6;
}


a:hover
{
	color: #1E82CC;
}


/* Input controls */
input[type="text"], input[type="password"]
{
	font-size: 16px;
	font-weight: normal;
	padding: 2px 5px;
	height: 22px;
	display: inline-block;
	float: left;
	border: 2px solid;
}


select
{
	padding: 2px 5px;
	height: 34px;
	margin: 0;
	border: 2px solid;
}


/* Input controls color */
input[type="text"], input[type="password"], select
{
	border-color: #000000;
	background-color: #FFFFFF;
	color: #000000;
}


/* Firefox fix */
button::-moz-focus-inner
{
	padding: 0;
	border: 0;
}


/* WebKit focus fix */
*:focus
{
	outline: none;
}


/* header */
.header
{
	height: 50px;
	background-color: #404040;
	position: fixed;
	width: 100%;
	z-index: 10;
	top: 0;
	left: 0;
}


.header > div
{
	height: 50px;
}


.header > div > a,
.header > div > button
{
	display: inline-block;
	height: 50px;
	padding: 0px 30px;
}


.header > div > a > span,
.header > div > button > span
{
	line-height: 50px;
	color: #FFFFFF;
	white-space: nowrap;
}


/* logo block */
.logo
{
	float: left;
}


.logo > a
{
	text-decoration: none;
	padding: 0px 30px;
}


.logo > a:hover
{
	background-color: #606060;
}


.logo > a > span
{
	height: 20px;
	font-size: 20px;
	font-weight: normal;
}


/* user block */
.userblock
{
	float: right;
}


.userblock > button
{
	border: 0 none;
	background-color: #404040;
}


.userblock > button:hover
{
	background-color: #606060;
}


.userblock > button > span
{
	height: 16px;
	font-size: 16px;
	font-weight: normal;
	color: #FFFFFF;
	text-transform: none;
}


/* drop down user menu */
.usermenu
{
	float: right;
	display: inline-block;
	position: absolute;
	top: 50px;
	right: 0px;
}


.usermenu > ul
{
	list-style-image: none;
	list-style-type: none;
	background-color: #404040;
	margin: 0;
	padding: 0;
}


.usermenu > ul > li
{
	color: #FFFFFF;
	list-style-image: none;
	border: 0 none;
	padding: 10px 30px;
}


.usermenu > ul > li:hover
{
	background-color: #808080;
}


.usermenu > ul > li > a,
.usermenu > ul > li > a:hover
{
	text-decoration: none;
	color: #FFFFFF;
}


/* content */
.content
{
	margin-top: 55px;
	z-index: 1;
}


.content > div
{
	height: 100%;
	display: inline-block;
	float: left;
	margin: 0px 0px 30px 30px;
}


.content > div > div
{
	height: 100%;
}


/* title of main page widget */
.widget_title
{
	font-size: 20px;
	margin: 10px 0px;
}


.widget_title > a,
.widget_title > a:hover
{
	color: #000000;
	text-decoration: none;
}


/* accounts page*/
.heading
{
	clear: both;
}


.heading > h1
{
	display: inline-block;
	float: left;
	margin: 0px 0px 10px;
}


.heading > .iconlink
{
	display: inline-block;
	float: left;
	clear: right;
	margin: 9px 0px 0px 30px;
}


.control_icons
{
	clear: both;
}


.control_icons > .iconlink
{
	clear: both;
	margin: 5px 0px;
}


.summ_text
{
	text-align: right;
}


.curr_sign
{
	margin: 0px 5px;
}


.rdiv > .currency_block
{
	padding: 8px 5px 10px 5px;
}


.rdiv > .balance_block
{
	text-align: right;
	padding: 10px 7px;
	height: 26px;
}


.rdiv > .balance_block > div
{
	padding: 2px 5px;
	height: 26px;
	border: 1px dashed #0072C6;
	cursor: pointer;
}


.rdiv > .balance_block > div > span
{
	height: 26px;
	line-height: 26px;
}


.acc_content
{
	margin-top: 55px;
	z-index: 1;
}


.acc_content > div
{
}


.acc_controls
{
	padding: 5px;
	clear: both;
}


/* buttons */
.std_btn
{
	height: 34px;
	font-size: 16px;
	font-weight: normal;
	padding: 2px 5px;
	background-color: #FFFFFF;
	color: #000000;
	border: 2px solid #000000;
}


.btn,
.btn:visited
{
	font-family: "Segoe UI", "Lucida Sans Unicode", "Geneva", "Helvetica Neue", "Arial", "Nimbus Sans L", sans-serif;
	font-weight: normal;
	font-size: 16px;
	display: inline-block;
	color: #FFFFFF;
	text-decoration: none;
	border: 0 none;
	padding: 4px 22px;
	margin-right: 15px;
	vertical-align: middle;
}


.ok_btn,
.ok_btn:visited
{
	background-color: #0072C6;
}


.ok_btn:hover
{
	background-color: #1E82CC;
}


.cancel_btn,
.cancel_btn:visited
{
	background-color: #B0B0B0;
}


.cancel_btn:hover
{
	background-color: #C0C0C0;
}


/* sub menu header */
.subHeader
{
	margin: 10px 5px;
	font-size: 16px;
}


.subHeader > span
{
	padding: 0 20px 0 0;
}


/* dashed underline button */
.dashed_btn
{
	margin: 0 0 8px 0;
	border: 0 none;
	clear: both;
	cursor: pointer;
	background-color: #FFFFFF;
}


.dashed_btn > span
{
	color: #0072C6;
	padding: 0;
	margin-top: -10px;
	border-top: 0 none;
	border-right: 0 none;
	border-left: 0 none;
	border-bottom: 1px dashed #0072C6;	/* TODO : try png background */
}


.dashed_btn:hover > span
{
	border-bottom: 1px solid #0072C6;
}
