/* Common */
*, body
{
	font-family: "Segoe UI", "Lucida Sans Unicode", "Geneva", "Helvetica Neue", "Arial", "Nimbus Sans L", sans-serif;
	margin: 0;
	padding: 0;
}


body
{
	width: 100%;
	height: 100%;
}


div
{
	border: 0px none;
}


/* link style */
a, a:visited
{
	color: #0072C6;
}


a:hover
{
	color: #1E82CC;
}


/* Input controls */
input[type="button"], input[type="submit"], button
{
	font-weight: bold;
	cursor: pointer;
	text-transform: lowercase;
	padding: 2px 20px;
	height: 30px;
}


input[type="text"], input[type="password"]
{
	font-size: 16px;
	font-weight: normal;
	padding: 2px 5px;
	height: 22px;
	display: inline-block;
	float: left;
}


select
{
	font-weight: bold;
	padding: 2px 5px;
	height: 30px;
	margin: 0;
}


input[type="button"], input[type="submit"], button
{
	border: 2px solid #000000;
	background-color: #FFFFFF;
	color: #000000;
}


input[type="button"]:hover, input[type="submit"]:hover, button:hover,
input[type="button"]:active, input[type="submit"]:active, button:active
{
	background-color: #000000;
	color: #FFFFFF;
}


input[type="button"]:disabled, input[type="submit"]:disabled, button:disabled
{
	border: 2px solid #808080;
	background-color: #FFFFFF;
	color: #808080;
}


input[type="button"]:disabled:hover, input[type="submit"]:disabled:hover, button:disabled:hover,
input[type="button"]:disabled:active, input[type="submit"]:disabled:active, button:disabled:active,
input[type="button"]:disabled:focus, input[type="submit"]:disabled:focus, button:disabled:focus
{
	border: 2px solid #808080;
	background-color: #FFFFFF;
	color: #808080;
}


input[type="text"], input[type="password"], select
{
	border: 2px solid #000000;
	background-color: #FFFFFF;
	color: #000000;
}


/* header */
.header
{
	height: 50px;
	background-color: #404040;
	position: fixed;
	width: 100%;
	z-index: 10;
	top: 0;
	left: 0;
}


.header > div
{
	height: 50px;
}


.header > div > a,
.header > div > button
{
	display: inline-block;
	height: 50px;
	padding: 0px 30px;
}


.header > div > a > span,
.header > div > button > span
{
/*	border: 1px solid red; */
	line-height: 50px;
	color: #FFFFFF;
	white-space: nowrap;
}


/* logo block */
.logo
{
	float: left;
}


.logo > a
{
	text-decoration: none;
	padding: 0px 30px;
}


.logo > a:hover
{
	background-color: #606060;
}


.logo > a > span
{
	height: 20px;
	font-size: 20px;
	font-weight: normal;
}


/* user block */
.userblock
{
	float: right;
}


.userblock > button
{
	border: 0 none;
	background-color: #404040;
}


.userblock > button:hover
{
	background-color: #606060;
}


.userblock > button > span
{
	height: 16px;
	font-size: 16px;
	font-weight: normal;
	color: #FFFFFF;
	text-transform: none;
}


/* drop down user menu */
.usermenu
{
	float: right;
	display: inline-block;
	position: absolute;
	top: 50px;
	right: 0px;
}


.usermenu > ul
{
	list-style-image: none;
	list-style-type: none;
	background-color: #404040;
	margin: 0;
	padding: 0;
}


.usermenu > ul > li
{
	color: #FFFFFF;
	list-style-image: none;
	border: 0 none;
	padding: 10px 30px;
}


.usermenu > ul > li:hover
{
	background-color: #808080;
}


.usermenu > ul > li > a,
.usermenu > ul > li > a:hover
{
	text-decoration: none;
	color: #FFFFFF;
}


/* content */
.content
{
	margin-top: 55px;
	z-index: 1;
}


.content > div
{
	height: 100%;
	display: inline-block;
	float: left;
	margin: 0px 0px 30px 30px;
}


.content > div > div
{
	height: 100%;
}


/* title of main page widget */
.widget_title
{
	font-size: 20px;
	margin: 10px 0px;
}


.widget_title > a,
.widget_title > a:hover
{
	color: #000000;
	text-decoration: none;
}


/* accounts page*/
.heading
{
	clear: both;
}


.heading > h1
{
	display: inline-block;
	float: left;
	margin: 0px 0px 10px;
}


.heading > .iconlink
{
	display: inline-block;
	float: left;
	clear: right;
	margin: 9px 0px 0px 30px;
}


.control_icons
{
	clear: both;
}


.control_icons > .iconlink
{
	clear: both;
	margin: 5px 0px;
}
