body
{
	margin: 0;
	padding: 0;
	font-family: Verdana, sans-serif;
	width: 100%;
	height: 100%;
}


table tr td
{
	margin: 0;
	padding: 0;
}


.maintable
{
	vertical-align: middle;
	width: 100%;
	height: 100%;
}


.maintable tr td
{
	padding-left: 50px;
}


.maintitle
{
	font-size: 20pt;
	font-weight: normal;
}


.userblock
{
	margin-top: 15px;
	margin-right: 30px;
	width: 100%;
	height: 30px;
	text-align: right;
}


a, a:visited
{
	text-decoration: underline;
}


a:hover
{
	text-decoration: none;
}


input[type="button"], input[type="submit"], button
{
	font-family: Verdana, sans-serif;
	font-weight: bold;
	cursor: pointer;
	text-transform: lowercase;
	padding: 2px 20px;
	height: 30px;
}


input[type="text"], input[type="password"]
{
	font-family: Verdana, sans-serif;
	font-weight: bold;
	padding: 2px 5px;
	height: 22px;
	display: inline-block;
	float: left;
}


select
{
	font-family: Verdana, sans-serif;
	font-weight: bold;
	padding: 2px 5px;
	height: 30px;
	margin: 0;
}


.mainmenu
{
	font-size: 16px;
}


.mainmenu span
{
	margin: 0px 25px;
}


.submenu
{
	font-size: 14px;
}


.submenu span
{
	margin: 0px 25px;
}


.infotable
{
	border-spacing: 0;
}


.pages
{
	padding: 5px 0px;
	text-align: right;
}


.pages span
{
	font-size: 14px;
	margin-left: 5px;
}


.currsign
{
	margin: 0 5px;
	display: inline-block;
	line-height: 30px;
}


.lblcell, .sumcell
{
	text-align: right;
}


.lblcell span
{
	margin-right: 5px;
}


/* widget on main page */
.mainwidget
{
	display: inline-block;
	float: left;
	margin: 20px 30px 0px 0px;
}


.mainwidget > span
{
	font-size: 18px;
	padding-left: 20px;
}
