/* Container of drop down control */
.dd_container
{
	position: relative;
	display: inline-block;
	border: 2px solid #000000;
	height: 30px;
}


.dd_input_cont
{
	overflow: hidden;
}


/* Disabled input */
.statsel
{
	display: inline-block;
	font-family: Verdana, sans-serif;
	font-weight: bold;
	font-size: 13px;
	padding: 5px;
	margin: 0;
	height: 20px;
	line-height: 20px;
	background-color: #FFFFFF;
	color: #000000;
	float: left;
}


/* Editable input */
.ddinp
{
	display: inline-block;
	font-family: Verdana, sans-serif;
	font-weight: bold;
	font-size: 13px;
	padding: 5px;
	margin: 0;
	height: 20px;
	line-height: 20px;
	background-color: #FFFFFF;
	color: #000000;
	float: left;
}


/* Select Drop Down button */
.selectBtn
{
	display: inline-block;
	background-color: #FFFFFF;
	float: right;
	padding: 0;
	margin: 0;
	height: 30px;
	overflow: hidden;
}


.selectBtn > div
{
	width: 20px;
	height: 20px;
	overflow: hidden;
	background-image: url('../img/ddarrow.png');
	background-position: -6px -6px;
	margin: 0px 2px;
}


.selectBtn:hover > div
{
	background-position: -6px -38px;
}


/* Drop down list */
.ddlist
{
	background-color: #FFFFFF;
	border-bottom: 2px solid #000000;
	border-right: 2px solid #000000;
	border-left: 2px solid #000000;
	overflow-y: auto;
	position: absolute;
	left: -2px;
	top: 32px;
	width: 100%;
	float: left;
	display: inline-block;
	z-index: 100;
}


.ddlist > ul
{
	padding: 0;
	margin: 0;
	list-style-image: none;
	list-style-type: none;

	overflow-x: hidden;
}


.ddlist > ul > li > div
{
	font-family: Verdana, sans-serif;
	padding: 10px;
	font-size: 14px;
	text-align: left;
	border-width: 0px;
	border-style: none;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: default;
	height: 17px;
	line-height: 17px;
}


.ddlist > ul > li > div.dditem_idle
{
	color: #000000;
	background-color: #FFFFFF;
}


.ddlist > ul > li > div.dditem_act
{
	color: #FFFFFF;
	background-color: #0000FF;
}


.ddlist > ul > li input[type="checkbox"]
{
	margin: 0px 5px 0px 0px;
}


.ddmobile
{
	float: none;
	display: block;
	left: 0;
	top: 0;
	border: 0 none;
	height: 30px;
	background: none;
	overflow: hidden;
	width: 100%;
}


.ddmobile > select
{
	opacity: 0;
	height: 30px;
	width: 100%;
}


/* Forced display of select control for mobile */
.ddmobile.forced
{
	left: -2px;
	top: 32px;
	height: 70px;
	border-bottom: 2px solid #000000;
	border-right: 2px solid #000000;
	border-left: 2px solid #000000;
}


.ddmobile.forced > select
{
	opacity: 1;
	height: 70px;
}


/* Attached drop down list */
.dd_attached
{
	position: relative;
}


.dd_attached .ddlist
{
	border: 2px solid #000000;
	left: 0px;
	width: auto;
	min-width: 130px;
	max-width: 250px;
}


.dd_attached .ddmobile
{
	border: 0 none;
	height: 100%;
	width: 100%;
	min-width: 0;
}


.dd_attached .ddmobile > select
{
	height: 100%;
}
