/* icon link */
.iconlink
{
	display: inline-block;
	float: left;
	overflow: hidden;
	height: 32px;
/*	margin: 9px 0px 0px 30px; */
}


.iconlink div
{
	width: 32px;
	height: 32px;
	background: url('../img/icons.png') no-repeat;
	overflow: hidden;
	display: inline-block;
	float: left;
}


.iconlink span
{
	height: 32px;
	color: #000000;
	display: table-cell;
	vertical-align: middle;
	padding: 0px 0px 0px 5px;
	float: left;
	white-space: nowrap;
	line-height: 32px;
}


.iconlink > *:hover > span
{
	color: #000000;
}


.iconlink > a
{
	height: 32px;
	display: table-cell;
	vertical-align: middle;
	text-decoration: none;
}


.iconlink > button
{
	height: 32px;
	border: none 0px;
	cursor: pointer;
	padding: 0;
	background: none;
}


/* iconlink icons */
.iconlink div.add
{
	background-position: 0px 0px;
}


.iconlink > *:hover > div.add
{
	background-position: 0px -32px;
}


.iconlink div.edit
{
	background-position: -32px 0px;
}


.iconlink > *:hover > div.edit
{
	background-position: -32px -32px;
}


.iconlink div.del
{
	background-position: -64px 0px;
}


.iconlink > *:hover > div.del
{
	background-position: -64px -32px;
}


.iconlink div.link
{
	background-position: -96px 0px;
}


.iconlink > *:hover > div.link
{
	background-position: -96px -32px;
}


.iconlink div.reset
{
	background-position: -128px 0px;
}


.iconlink > *:hover > div.reset
{
	background-position: -128px -32px;
}


.iconlink div.save
{
	background-position: -160px 0px;
}


.iconlink > *:hover > div.save
{
	background-position: -160px -32px;
}


.iconlink div.view
{
	background-position: -192px 0px;
}


.iconlink > *:hover > div.view
{
	background-position: -192px -32px;
}


.iconlink div.key
{
	background-position: -224px 0px;
}


.iconlink > *:hover > div.key
{
	background-position: -224px -32px;
}


/* icon button */
.iconbtn
{
	overflow: hidden;
	width: 20px;
	height: 20px;
	border: none 0px;
	padding: 0;
	background: none;
	display: inline-block;
	float: left;
}


.iconbtn > div
{
	width: 20px;
	height: 20px;
	background: url('../img/icons20.png') no-repeat;
	overflow: hidden;
}


/* icons */
.iconbtn > div.add20
{
	background-position: 0px 0px;
}


.iconbtn:hover > div.add20
{
	background-position: 0px -20px;
}


.iconbtn > div.edit20
{
	background-position: -20px 0px;
}


.iconbtn:hover > div.edit20
{
	background-position: -20px -20px;
}


.iconbtn > div.del20
{
	background-position: -40px 0px;
}


.iconbtn:hover > div.del20
{
	background-position: -40px -20px;
}


.iconbtn > div.link20
{
	background-position: -60px 0px;
}


.iconbtn:hover > div.link20
{
	background-position: -60px -20px;
}


.iconbtn > div.reset20
{
	background-position: -80px 0px;
}


.iconbtn:hover > div.reset20
{
	background-position: -80px -20px;
}


.iconbtn > div.save20
{
	background-position: -100px 0px;
}


.iconbtn:hover > div.save20
{
	background-position: -100px -20px;
}


.iconbtn > div.view20
{
	background-position: -120px 0px;
}


.iconbtn:hover > div.view20
{
	background-position: -120px -20px;
}


.iconbtn > div.key20
{
	background-position: -140px 0px;
}


.iconbtn:hover > div.key20
{
	background-position: -140px -20px;
}
