/* icon link */
.iconlink
{
	display: inline-block;
	float: left;
	overflow: hidden;
	height: 32px;
}


.iconlink div
{
	width: 32px;
	height: 32px;
	background: url('../img/icons.png') no-repeat;
	overflow: hidden;
	display: inline-block;
	float: left;
}


.iconlink span
{
	height: 32px;
	color: #000000;
	display: table-cell;
	vertical-align: middle;
	padding: 0px 0px 0px 5px;
	float: left;
	white-space: nowrap;
	line-height: 32px;
	font-size: 16px;
	font-weight: normal;
	text-decoration: none;
	text-transform: none;
}


.iconlink > *:hover > span
{
	color: #000000;
}


.iconlink > a
{
	height: 32px;
	display: table-cell;
	vertical-align: middle;
	text-decoration: none;
}


.iconlink > button
{
	height: 32px;
	border: 0 none;
	cursor: pointer;
	padding: 0;
	background: none;
}


/* iconlink icons */
.iconlink div.add
{
	background-position: 0px 0px;
}


.iconlink > *:hover > div.add
{
	background-position: 0px -32px;
}


.iconlink div.edit
{
	background-position: -32px 0px;
}


.iconlink > *:hover > div.edit
{
	background-position: -32px -32px;
}


.iconlink div.del
{
	background-position: -64px 0px;
}


.iconlink > *:hover > div.del
{
	background-position: -64px -32px;
}

