/* layered layout */
.page
{
	position: absolute;
	top: 50px;
	bottom: 0;
	left: 0;
	right: 0;
}


.cont
{
	position: relative;
	top: 50%;
}


.box
{
	max-width: 400px;
	min-width: 130px;
	margin: 0 auto;
}


/* login page */
.login_page
{
	min-height: 264px;
}


.login_page > .cont
{
	margin-top: -132px;	
}


.login_page > .cont > .box
{
	height: 264px;
}


.login_controls
{
	padding: 5px;
}


/* registration page */
.register_page
{
	min-height: 335px;
}


.register_page > .cont
{
	margin-top: -168px;
}


.register_page > .cont > .box
{
	height: 335px;
}


/* page header */
.box > h1
{
	margin: 0px 3px 10px 3px;
}


.box > label
{
	width: 150px;
	height: 20px;
	line-height: 20px;
	padding: 0px 5px;
}


.rdiv
{
	height: 50px;
	overflow: hidden;
}


.rdiv > div
{
	height: 32px;
	padding: 8px 19px 10px 5px;
}


.rdiv > div > input
{
	width: 100%;
	height: 26px;
	margin: 0;
}


.rtext
{
	float: right;
}


.rtext > span
{
	line-height: 50px;
	height: 50px;
}


/*
.box > div > .ok_btn
{
	font-family: "Segoe UI", "Lucida Sans Unicode", "Geneva", "Helvetica Neue", "Arial", "Nimbus Sans L", sans-serif;
	margin: 29px 0px 8px 5px;
	padding: 4px 22px;
	border: 0 none;
	background-color: #0072C6;
	color: #FFFFFF;
}


.box > div > .ok_btn:hover
{
	background-color: #1E82CC;
}
*/


/* alternative link */
.alter_link
{
	margin: 0px 20px;
}


/* profile */
.profile_content
{
	margin-top: 55px;
	z-index: 1;
}


.profile_content > div
{
}


.profile_summary
{
	margin: 20px 5px 5px 30px;
	max-width: 300px;
}


.profile_summary > h1
{
	margin: 0px 0px 10px 0px;
}


.profile_summary > div
{
	margin: 10px 0px 20px 0px;
}


.profile_summary > div > h2
{
	font-size: 18px;
	font-weight: normal;
}


.profile_summary > div > span
{
	font-size: 16px;
}


.profile_common
{
	max-width: 300px;
	margin: 30px 5px 5px 25px;
}


.profile_common > h2
{
	font-size: 20px;
	font-weight: normal;
	margin: 2px 5px;
}


.profile_common > div > label
{
	width: 150px;
	height: 20px;
	line-height: 20px;
	padding: 0px 5px;
}


.profile_controls
{
	padding: 5px;
}

/*
.profile_common > div > div > .ok_btn
{
	font-family: "Segoe UI", "Lucida Sans Unicode", "Geneva", "Helvetica Neue", "Arial", "Nimbus Sans L", sans-serif;
	margin: 29px 0px 8px 5px;
	padding: 4px 22px;
	border: 0 none;
	background-color: #0072C6;
	color: #FFFFFF;
}


.profile_common > div > div > .ok_btn:hover
{
	background-color: #1E82CC;
}


.profile_common > div > div > .cancel_btn
{
	font-family: "Segoe UI", "Lucida Sans Unicode", "Geneva", "Helvetica Neue", "Arial", "Nimbus Sans L", sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
	margin: 29px 0px 8px 15px;
	padding: 4px 22px;
	border: 0 none;
	background-color: #B0B0B0;
	color: #FFFFFF;
	line-height: 22px;
	height: 22px;
	display: inline-block;
}

.profile_common > div > div > .cancel_btn:hover
{
	background-color: #C0C0C0;
}
*/
