/* layered layout */
.page
{
	position: absolute;
	top: 50px;
	bottom: 0;
	left: 0;
	right: 0;
}


.cont
{
	position: relative;
	top: 50%;
}


.box
{
	max-width: 400px;
	min-width: 130px;
	margin: 0 auto;
}


/* login page */
.login_page
{
	min-height: 264px;
}


.login_page > .cont
{
	margin-top: -132px;	
}


.login_page > .cont > .box
{
	height: 264px;
}


.login_controls
{
	padding: 5px;
}


/* registration page */
.register_page
{
	min-height: 335px;
}


.register_page > .cont
{
	margin-top: -168px;
}


.register_page > .cont > .box
{
	height: 335px;
}


.register_page label
{
	width: 150px;
	height: 20px;
	line-height: 20px;
	padding: 0px 5px;
}


/* page header */
.box > h1
{
	margin: 0px 3px 10px 3px;
}


.login_page label
{
	width: 150px;
	height: 20px;
	line-height: 20px;
	padding: 0px 5px;
}


.profile_input
{
	padding: 8px 5px;
}

/*
.rdiv
{
	height: 50px;
	overflow: hidden;
}


.rdiv > div
{
	height: 32px;
	padding: 8px 19px 10px 5px;
}


.rdiv > div > input,
.rdiv > div > span
{
	width: 100%;
	height: 26px;
	line-height: 26px;
	margin: 0;
}


.rtext
{
	float: right;
}


.rtext > span
{
	line-height: 50px;
	height: 50px;
}
*/


/* alternative link */
.alter_link
{
	margin: 0px 20px;
}


/* profile */
.profile_content
{
	margin-top: 55px;
	z-index: 1;
}


.profile_content > div
{
}


.profile_summary
{
	margin: 20px 5px 5px 30px;
	max-width: 300px;
}


.profile_summary > h1
{
	margin: 0px 0px 10px 0px;
}


.profile_summary > div
{
	margin: 10px 0px 20px 0px;
}


.profile_summary > div > h2
{
	font-size: 18px;
	font-weight: normal;
}


.profile_summary > div > span
{
	font-size: 16px;
}


.profile_common
{
	max-width: 300px;
	margin: 30px 5px 5px 25px;
}


.profile_common > h2
{
	font-size: 20px;
	font-weight: normal;
	margin: 2px 5px;
}


.profile_common label
{
	width: 150px;
	height: 20px;
	line-height: 20px;
	padding: 0px 5px;
	font-size: 14px;
}


.profile_controls
{
	padding: 5px;
}
