/* layered layout */
.cont
{
	position: absolute;
	top: 50%;
	left: 0%;
	width: 100%;
}


.login_cont
{
	margin-top: -109px;
}


.register_cont
{
	margin-top: -145px;
}


.box
{
	max-width: 400px;
	min-width: 130px;
	margin: 0 auto;
}


/* page header */
.box > h1
{
	font-size: 32px;
	font-weight: normal;
	margin: 0px 3px 10px 3px;
}


.box > label
{
	width: 150px;
	height: 20px;
	line-height: 20px;
	padding: 0px 5px;
}


.rdiv
{
	width: 100%;
	min-width: 240px;
	height: 50px;
}


.rdiv > div
{
	height: 32px;
	padding: 8px 19px 10px 5px;
}


.rdiv > div > input
{
	width: 100%;
	height: 26px;
	margin: 0;
}


.box > div > .ok_btn
{
	font-family: "Segoe UI", "Lucida Sans Unicode", "Geneva", "Helvetica Neue", "Arial", "Nimbus Sans L", sans-serif;
	margin: 29px 0px 8px 5px;
	padding: 4px 22px;
	border: 0 none;
	background-color: #0072C6;
	color: #FFFFFF;
}


.box > div > .ok_btn:hover
{
	background-color: #1E82CC;
}


/* alternative link */
.alter_link
{
	margin: 0px 20px;
}


/* profile */
.profile_content
{
	margin-top: 55px;
	z-index: 1;
}


.profile_content > div
{
}


.profile_summary
{
	margin: 20px 5px 5px 30px;
	max-width: 300px;
}


.profile_summary > h1
{
	font-size: 32px;
	font-weight: normal;
	margin: 0px 0px 10px 0px;
}


.account_name
{
	margin: 0px 0px 10px 0px;
}


.account_name > b
{
	font-size: 18px;
	font-weight: normal;
	display: block;
}


.account_name > span
{
	font-size: 16px;
}


.person_name
{
	margin: 0px 0px 10px 0px;
}


.person_name > b
{
	font-size: 18px;
	font-weight: normal;
	display: block;
}


.person_name > span
{
	font-size: 16px;
}


.profile_common
{
	max-width: 300px;
	margin: 30px 5px 5px 25px;
}


.profile_common > h2
{
	font-size: 20px;
	font-weight: normal;
	margin: 2px 5px;
}


.profile_common > div > label
{
	width: 150px;
	height: 20px;
	line-height: 20px;
	padding: 0px 5px;
}


.profile_common > div > div > .ok_btn
{
	font-family: "Segoe UI", "Lucida Sans Unicode", "Geneva", "Helvetica Neue", "Arial", "Nimbus Sans L", sans-serif;
	margin: 29px 0px 8px 5px;
	padding: 4px 22px;
	border: 0 none;
	background-color: #0072C6;
	color: #FFFFFF;
}


.profile_common > div > .ok_btn:hover
{
	background-color: #1E82CC;
}
