html
{
	height: 100%;
	border: 0 none;
	margin: 0;
	padding: 0;
}

body
{
	height: 100%;
	border: 0 none;
	margin: 0;
	padding: 0;
}


.page
{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}


.page_wrapper
{
	display: block;
	width: 100%;
	min-height: 100%;

	height: 100%;
	position: static;
}


/* Main content */
.container
{
	display: block;
	min-height: 100%;
}


.content
{
	display: block;
	min-height: 100%;
	height: 100%;
}


/* Sidebar */
.sidebar
{
	display: block;
	position: fixed;
	min-height: 0;
	height: auto;
	width: 100%;
	left: 0;
	right: 0;
	bottom: 0;
}


.sidebar > div
{
	position: static;
	height: 50px;
	width: 100%;

	background-color: #44AAFF;
}


.sidebar_ellipsis
{
	display: none;
}


.sidebar.active > div
{
	width: auto;
}


.sidebar > div > .siderbar_content
{
	display: none;
}


.sidebar.active > div > .siderbar_content
{
	display: block;
	padding: 0px;
	color: #FFFFFF;
	background-color: #44AAFF;
	position: static;

	margin: 0px auto;
	max-width: 824px;
	min-width: 200px;
}


.siderbar_content > div
{
	display: inline-block;
	height: 32px;
	line-height: 32px;
	margin: 9px 12px;
}


.siderbar_content > .iconlink
{
	clear: none;
	margin: 9px 0px 9px 12px;
}
