.trlist_item_wrap
{
	width: 100%;
	float: left;
	margin: 2px 0px;
}


.trlist_item
{
	background-color: #F0F0F0;
	padding: 8px;
	border: 0px none;
}


.act_tr
{
	padding: 5px;
	background-color: #F0F0F0;
	border: 3px solid #0072C6;
	cursor: pointer;
}


.latest_acc_name
{
	font-size: 14px;
	clear: both;
}


.latest_sum
{
	font-size: 16px;
	font-weight: bold;
	clear: both;
	padding: 3px 0px;
}


.latest_date
{
	font-size: 12px;
	color: #808080;
	margin-right: 5px;
	clear: left;
}


.latest_comm
{
	font-size: 12px;
	color: #808080;
}


.paginator
{
	padding: 5px 0px;
	text-align: right;
}


.paginator > span
{
	margin-left: 5px;
}

