.latest
{
	padding: 5px;
}


.latest > span
{
	display: inline-block;
	float: left;
}


.latest_acc_name
{
	font-size: 14px;
	clear: both;
}


.latest_sum
{
	font-size: 16px;
	font-weight: bold;
	clear: both;
	padding: 3px 0px;
}


.latest_date
{
	font-size: 12px;
	color: #808080;
	margin-right: 5px;
	clear: left;
}


.latest_comm
{
	font-size: 12px;
	color: #808080;
}


.tbl
{
	border: 0 none;
	border-collapse: collapse;
}


.tbl tr
{
	background-color: #FFFFFF;
}


.tbl tr.even_row
{
	background-color: #E0E0E0;
}


.tbl td
{
	width: 500px;
	height: 30px;
}


.paginator
{
	padding: 5px 0px;
}


.paginator > span
{
	margin-right: 5px;
}
