.tiles
{
	display: block;
	clear: both;
	max-width: 450px;
}


.tile
{
	width: 100px;
	height: 100px;
	background-color: #20A0FF;
	margin: 0px 10px 10px 0px;
	padding: 0;
	display: inline-block;
	float: left;
	position: relative;
	overflow: hidden;
}


.tile:hover
{
	background-color: #1E82CC;
}


.act
{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 94px;
	height: 94px;
	border: 3px solid #0072C6;
	cursor: pointer;
}


/* inactive tile */
.inact
{
	background-color: #B0B0B0;
}


.inact:hover
{
	background-color: #C0C0C0;
}


button.tilelink
{
	width: 100px;
	height: 100px;
	border: 0 none;
	background: none;
	padding: 0;
	margin: 0;
	text-transform: none;
	font-weight: normal;
}


.tilelink > div
{
	height: 100px;
	width: 100px;
	margin: 0;
	padding: 0;
}


.tilelink > div > span
{
	position: absolute;
	color: #FFFFFF;
	white-space: nowrap;
}


.acc_name
{
	position: absolute;
	left: 5px;
	bottom: 2px;
	font-size: 20px;
}


.acc_bal
{
	top: 5px;
	right: 5px;
	font-size: 14px;
	text-align: right;
}
