.tiles
{
	max-width: 450px;
}


.tile
{
	width: 100px;
	height: 100px;
	background-color: #20A0FF;
	margin: 5px;
	padding: 0;
	display: inline-block;
	float: left;
	position: relative;
	overflow: hidden;
}


.tilelink > div
{
	height: 100px;
	width: 100px;
	margin: 0;
	padding: 0;
}


.tilelink > div > span
{
	position: absolute;
	color: #FFFFFF;
	white-space: nowrap;
}


.acc_name
{
	position: absolute;
	left: 5px;
	bottom: 2px;
	font-size: 20px;
}


.acc_bal
{
	top: 5px;
	right: 5px;
	font-size: 14px;
}
