/* Sidebar */
.sidebar
{
	display: table-cell;
	min-height: 100%;
	height: 100%;
	width: 15px;
}


.sidebar > div
{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 15px;

	background-color: #404040;
}


.sidebar.active > div
{
	width: auto;
}


.sidebar > div > .siderbar_content
{
	overflow: hidden;
	min-height: 1px;
	position: relative;
}


.sidebar.active > div > .siderbar_content
{
	display: block;
	padding: 5px;
	color: #FFFFFF;
	background-color: #404040;
	position: relative;
}


.sidebar_ellipsis
{
	width: 15px;
	height: 32px;
	background: url('../img/sbellipsis.png') no-repeat;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -16px;
}


.siderbar_content > .iconlink
{
	display: block;
	clear: both;
	float: none;
	margin: 9px 12px;
}



.siderbar_content > .iconlink span
{
	color: #FFFFFF;
}

