.trlist_item_wrap
{
	width: 100%;
	float: left;
	margin: 2px 0px;
	height: 85px;
}


.trlist_item
{
	background-color: #F0F0F0;
	padding: 8px;
	border: 0px none;
}


.act_tr
{
	padding: 5px;
	background-color: #F0F0F0;
	border: 3px solid #0072C6;
	cursor: pointer;
}


.tritem_acc_name
{
	font-size: 14px;
	clear: both;
	height: 23px;
	line-height: 23px;
}


.tritem_sum
{
	font-size: 16px;
	font-weight: bold;
	clear: left;
	height: 23px;
	line-height: 23px;
}


.tritem_date_comm
{
	font-size: 12px;
	color: #808080;
	clear: both;
	height: 23px;
	line-height: 23px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}


.tritem_comm
{
	margin: 0px 0px 0px 5px;
	padding: 0px 0px 0px 5px;
	border: 0px solid #808080;
	border-left-width: 1px;
}


/* Ellipsis cell */
.ellipsis_cell > div
{
	position: relative;
	overflow: hidden;
	height: 23px;
}


/* visible content */
.ellipsis_cell > div > span
{
	display: block;
	position: absolute;	
	max-width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 23px;		/* for vertical align of text */
}


/* cell stretching content */
.ellipsis_cell > div:after
{
	content: attr(title);
	overflow: hidden;
	height: 0;
	display: block;
}


/* Details mode */
.details_table
{
	border-collapse: collapse;
	width: 100%;
}


.details_table td
{
	padding: 2px 0px;
}

.details_table td > div
{
	height: 23px;
	padding: 8px;
	background-color: #F0F0F0;
}


.details_table .tritem_acc_name
{
	white-space: nowrap;
}


.details_table .tritem_sum
{
	font-size: 14px;
	color: #0080B0;
	white-space: nowrap;
}


.details_table .tritem_date_comm
{
	min-width: 10px;
}


.details_table .tritem_comm
{
	font-size: 12px;
	color: #808080;
	margin: 0;
	padding: 0;
	border: 0px none;
}


.details_table .tritem_balance
{
	font-size: 14px;
	text-align: right;
	white-space: nowrap;
}

/*
.trlist_detail_item
{
	height: 39px;
}


.trlist_detail_item > div
{
	height: 23px;
}


.trlist_detail_item > div > div
{
	float: left;
	clear: none;

	white-space: nowrap;
}


.trlist_detail_item .tritem_acc_name
{
	width: 30%;
}


.trlist_detail_item .tritem_sum
{
	color: #0080B0;
	width: 25%;
}


.trlist_detail_item .tritem_date_comm
{
	width: 20%;
}


.tritem_balance
{
	width: 25%;
	text-align: right;
}

*/

.tritem_balance > span
{
	margin: 0px 10px 0px 0px;
}


.mode_selector
{
	float: left;
}


.mode_selector > span
{
	margin: 0px 10px 0px 0px;
}


.paginator
{
	padding: 5px 0px;
	text-align: right;
}


.paginator > span
{
	margin-left: 5px;
}

