.trlist_item_wrap
{
	width: 100%;
	float: left;
	margin: 2px 0px;
	height: 85px;
}


.trlist_item
{
	background-color: #F0F0F0;
	padding: 8px;
	border: 0px none;
}


.act_tr
{
	padding: 5px;
	background-color: #F0F0F0;
	border: 3px solid #0072C6;
	cursor: pointer;
}


.tritem_acc_name
{
	font-size: 14px;
	clear: both;
	height: 23px;
	line-height: 23px;
}


.tritem_sum
{
	font-size: 16px;
	font-weight: bold;
	clear: left;
	height: 23px;
	line-height: 23px;
	overflow: hidden;
}


.tritem_date_comm
{
	font-size: 12px;
	color: #808080;
	clear: both;
	height: 23px;
	line-height: 23px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}


.tritem_comm
{
	margin: 0px 0px 0px 5px;
	padding: 0px 0px 0px 5px;
	border: 0px solid #808080;
	border-left-width: 1px;
}


.tritem_balance
{
	float: right;
}


.tritem_balance > span
{
	margin: 0px 0px 0px 10px;
}


.mode_selector
{
	float: left;
}


.mode_selector > span
{
	margin: 0px 10px 0px 0px;
}


.paginator
{
	padding: 5px 0px;
	text-align: right;
}


.paginator > span
{
	margin-left: 5px;
}

