body
{
	background-color: #FFFFFF;
	color: #000000;
}


.btn
{
	border: 2px solid #000000;
	background-color: #FFFFFF;
	color: #000000;
}


.btn:hover, .btn:active
{
	background-color: #000000;
	color: #FFFFFF;
}


a, a:visited
{
	color: #000000;
}


.inp
{
	border: 2px solid #000000;
	background-color: #FFFFFF;
	color: #000000;
}
