body
{
	background-color: #FFFFFF;
	color: #000000;
}


input[type="button"], input[type="submit"], button
{
	border: 2px solid #000000;
	background-color: #FFFFFF;
	color: #000000;
}


input[type="button"]:hover, input[type="submit"]:hover, button:hover,
input[type="button"]:active, input[type="submit"]:active, button:active
{
	background-color: #000000;
	color: #FFFFFF;
}


a, a:visited
{
	color: #000000;
}


input[type="text"], input[type="password"], select
{
	border: 2px solid #000000;
	background-color: #FFFFFF;
	color: #000000;
}
