.heading,
.content-header,
.content-container {
  max-width: 430px;
}

.content-container {
  position: relative;
}

.list-section {
  display: flex;
  flex-flow: column nowrap;
  align-items: baseline;
  margin-bottom: 1rem;
}

.list-header {
  padding: 0.2rem 0;
  font-size: 1rem;
  border-bottom: 2px solid var(--accent-color-alt);
  margin-bottom: 0.75rem;
  display: inline-block;
}

/* Categories list */
.categories-list {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  width: 100%;
  gap: 4px;
  max-width: 430px;
}

.categories-list_select .trans-item {
  cursor: pointer;
}
