.field {
  /* Title */
  --field-title-font-size: 0.8rem;
  --field-title-font-weight: 400;
  --field-title-margin: 0 0 5px 1px;
  --field-title-color: var(--dimmed-text-color);

  /* Content */
  --field-content-font-size: 1rem;

  display: flex;
  flex-flow: column nowrap;
  align-items: normal;
}

.field__title {
  margin: var(--field-title-margin);
  font-size: var(--field-title-font-size);
  font-weight: var(--field-title-font-weight);
  color: var(--field-title-color);
}

.field__content {
  font-size: var(--field-content-font-size);
}
