.trans-item {
  --trans-item-amount-color: #20a0ff;
  --trans-item-selected-color: #0072c6;
  --trans-item-column-gap: 10px;
  --trans-item-row-gap: 2px;

  border: 0;
  display: flex;
  flex-flow: column wrap;
  padding: 8px;
  position: relative;
  row-gap: 2px;
}

.trans-item_placeholder {
  opacity: 0;
}

.trans-item_selected::after {
  border: 3px solid var(--trans-item-selected-color);
  bottom: 0;
  content: "";
  cursor: pointer;
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.trans-item__amount,
.trans-item__comment,
.trans-item__date,
.trans-item__title {
  height: 23px;
  line-height: 23px;
}

.trans-item__comment,
.trans-item__title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.trans-item__title {
  font-size: 14px;
}

.trans-item__amount {
  color: var(--trans-item-amount-color);
  font-size: 16px;
  font-weight: 600;
}

.trans-item__date-comment {
  display: flex;
  flex-flow: row nowrap;
  font-size: 12px;
  gap: 10px;
  overflow: hidden;
  width: 100%;
}

.trans-item__date {
  flex: 0 0 auto;
}

.trans-item__comment {
  flex: 1 1 auto;
}

.trans-item_details {
  align-items: baseline;
  column-gap: var(--trans-item-column-gap);
  flex-flow: column nowrap;
  row-gap: var(--trans-item-row-gap);

  .field {
    --field-title-font-size: 12px;
    --field-content-font-size: 14px;
  }

  .field__title {
    margin-bottom: 1px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .field__content {
    height: 23px;
    line-height: 23px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .trans-item__amount-result-group {
    column-gap: var(--trans-item-column-gap);
    display: flex;
    flex: 0 0 auto;
    flex-flow: column nowrap;
    overflow: hidden;
    row-gap: var(--trans-item-row-gap);
    width: 100%;
  }

  .trans-item__accounts-group,
  .trans-item__amount-group,
  .trans-item__results-group {
    column-gap: var(--trans-item-column-gap);
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    white-space: nowrap;
    width: 100%;
  }

  .trans-item__account-field,
  .trans-item__amount-field,
  .trans-item__result-field {
    width: calc(50% - var(--trans-item-column-gap) / 2);
  }

  .trans-item__amount-field .field__content,
  .trans-item__result-field .field__content {
    text-align: left;
  }

  .trans-item__amount-field .field__content {
    color: var(--trans-item-amount-color);
  }

  .trans-item__result-field {
    flex: 1 1 100%;
  }

  .trans-item__comment-field {
    overflow: hidden;
  }
}

@media (min-width: 576px) {
  .trans-item_details {
    .trans-item__amount-result-group {
      flex-flow: row nowrap;
    }

    .trans-item__amount-group,
    .trans-item__results-group {
      width: calc(50% - var(--trans-item-column-gap) / 2);
    }
  }
}

@media (min-width: 1200px) {
  .trans-item_details {
    align-items: center;
    flex-flow: row nowrap;

    .trans-item__accounts-group,
    .trans-item__amount-group {
      flex: 0 0 auto;
    }

    .trans-item__accounts-group {
      width: 30%;
    }

    .trans-item__amount-group,
    .trans-item__results-group {
      width: calc(50% - var(--trans-item-column-gap) / 2);
    }

    .trans-item__amount-result-group {
      width: 40%;
    }

    .trans-item__date-field,
    .trans-item__result-field {
      flex: 0 0 auto;
    }

    .trans-item__comment-field {
      flex: 1 1 auto;
    }

    .trans-item__amount {
      text-align: right;
    }

    .trans-item__balance {
      justify-content: flex-end;
    }
  }
}
