.trans-item {
  --trans-item-amount-color: var(--accent-color-alt);
  --trans-item-selected-color: var(--accent-color);
  --trans-item-column-gap: 10px;
  --trans-item-row-gap: 2px;

  border: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  position: relative;
  row-gap: 2px;
}

.trans-item__select {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  width: 0;
  flex-shrink: 0;
  transition: width 0.2s ease;

  .checkbox {
    --checkbox-size: 24px;

    margin: 0;
  }

  .checkbox__check {
    margin: 0;
    border-radius: 50%;
  }
}

.trans-list_select .trans-item__select {
  width: 32px;
}

.trans-item__content {
  display: flex;
  flex-flow: column wrap;
  padding: 8px;
  position: relative;
  row-gap: 2px;
  flex: 1 1 auto;
  overflow: hidden;
}

.trans-item__controls {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  .popup-menu {
    position: static;
    height: 26px;
    margin: 0 4px;
  }

  .popup-menu-btn {
    width: 26px;
    height: 26px;
    padding: 4px;
    background: none;
    cursor: pointer;

    .popup-menu-btn__icon {
      height: 18px;
      width: 18px;
      fill: var(--list-item-icon-fill);
    }
  }

  .popup-menu-btn:focus {
    .popup-menu-btn__icon {
      fill: var(--list-item-hover-icon-fill);
    }
  }
}

.trans-item_placeholder {
  opacity: 0;
}

.trans-item_selected::after {
  border: 2px solid var(--trans-item-selected-color);
  bottom: 0;
  content: "";
  cursor: pointer;
  display: block;
  left: 32px;
  position: absolute;
  right: 0;
  top: 0;
}

/* Sort mode */
.trans-item_sort {
  cursor: move;
}

.trans-item__amount,
.trans-item__comment,
.trans-item__category,
.trans-item__date,
.trans-item__title {
  height: 23px;
  line-height: 23px;
}

.trans-item__comment,
.trans-item__title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.trans-item__title {
  font-size: 14px;
}

.trans-item__amount {
  color: var(--trans-item-amount-color);
  font-size: 16px;
  font-weight: 600;
}

.trans-item__amount-category {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.trans-item__date-comment {
  display: flex;
  flex-flow: row nowrap;
  font-size: 12px;
  gap: 10px;
  overflow: hidden;
  width: 100%;
}

.trans-item__date {
  flex: 0 0 auto;
}

.trans-item__category {
  padding: 0 12px;
  margin-left: auto;
  border-radius: 100vh;
  font-size: 0.75rem;
  white-space: nowrap;
  background-color: var(--btn-bg);
}

.trans-item__comment {
  flex: 1 1 auto;
}

.trans-item_details {
  .trans-item__content {
    align-items: baseline;
    column-gap: var(--trans-item-column-gap);
    flex-flow: column nowrap;
    row-gap: var(--trans-item-row-gap);
  }

  .field {
    --field-title-font-size: 12px;
    --field-content-font-size: 14px;
  }

  .field__title {
    margin-bottom: 1px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .field__content {
    height: 23px;
    line-height: 23px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .trans-item__amount-result-group {
    column-gap: var(--trans-item-column-gap);
    display: flex;
    flex: 0 0 auto;
    flex-flow: column nowrap;
    overflow: hidden;
    row-gap: var(--trans-item-row-gap);
    width: 100%;
  }

  .trans-item__accounts-group,
  .trans-item__amount-group,
  .trans-item__results-group {
    column-gap: var(--trans-item-column-gap);
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    white-space: nowrap;
    width: 100%;
  }

  .trans-item__account-field,
  .trans-item__amount-field,
  .trans-item__result-field {
    width: calc(50% - var(--trans-item-column-gap) / 2);
  }

  .trans-item__amount-field .field__content,
  .trans-item__result-field .field__content {
    text-align: left;
  }

  .trans-item__amount-field .field__content {
    color: var(--trans-item-amount-color);
  }

  .trans-item__result-field {
    flex: 1 1 100%;
  }

  .trans-item__comment-field {
    overflow: hidden;
  }
}

@media (min-width: 576px) {
  .trans-item_details {
    .trans-item__amount-result-group {
      flex-flow: row nowrap;
    }

    .trans-item__amount-group,
    .trans-item__results-group {
      width: calc(50% - var(--trans-item-column-gap) / 2);
    }
  }
}

@media (min-width: 1200px) {
  .trans-item_details {
    .trans-item__content {
      align-items: center;
      flex-flow: row nowrap;
    }

    .trans-item__accounts-group,
    .trans-item__amount-group {
      flex: 0 0 auto;
    }

    .trans-item__accounts-group {
      width: 30%;
    }

    .trans-item__amount-group,
    .trans-item__results-group {
      width: calc(50% - var(--trans-item-column-gap) / 2);
    }

    .trans-item__amount-result-group {
      width: 40%;
    }

    .trans-item__date-field,
    .trans-item__result-field {
      flex: 0 0 auto;
    }

    .trans-item__comment-field {
      flex: 1 1 auto;
    }

    .trans-item__amount {
      text-align: right;
    }

    .trans-item__balance {
      justify-content: flex-end;
    }
  }
}

@media (hover: hover) {
  .trans-item__controls .popup-menu-btn:hover {
    .popup-menu-btn__icon {
      fill: var(--list-item-hover-icon-fill);
    }
  }
}
