.trans-item {
  --trans-item-amount-color: var(--accent-color-alt);
  --trans-item-selected-color: var(--accent-color);
  --trans-item-column-gap: 16px;
  --trans-item-row-gap: 2px;
  --trans-item-details-row-gap: 8px;
  --trans-item-min-column-width: 130px;

  border: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  position: relative;
}

.trans-item__select {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  width: 0;
  flex-shrink: 0;
  transition: width 0.2s ease;

  .checkbox {
    --checkbox-size: 24px;

    margin: 0;
  }

  .checkbox__check {
    margin: 0;
    border-radius: 50%;
  }
}

.trans-list_select .trans-item__select {
  width: 32px;
}

.trans-item__content {
  display: grid;
  align-items: start;
  row-gap: var(--trans-item-row-gap);
  position: relative;
  overflow: hidden;
  flex: 1 1 auto;
  padding: 8px 0 8px 8px;
}

.trans-item__controls {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  .popup-menu {
    position: static;
    height: 26px;
    margin: 0 4px;
  }

  .popup-menu-btn {
    width: 26px;
    height: 26px;
    padding: 4px;
    background: none;
    cursor: pointer;

    .popup-menu-btn__icon {
      height: 18px;
      width: 18px;
      fill: var(--list-item-icon-fill);
    }
  }

  .popup-menu-btn:focus {
    .popup-menu-btn__icon {
      fill: var(--list-item-hover-icon-fill);
    }
  }
}

.trans-item_placeholder {
  opacity: 0;
}

.trans-item_selected::after {
  border: 2px solid var(--trans-item-selected-color);
  bottom: 0;
  content: "";
  cursor: pointer;
  display: block;
  left: 32px;
  position: absolute;
  right: 0;
  top: 0;
}

/* Sort mode */
.trans-item_sort {
  cursor: move;
}

.trans-item__amount,
.trans-item__comment,
.trans-item__category,
.trans-item__date,
.trans-item__title {
  min-height: 23px;
  line-height: 23px;
}

.trans-item__comment,
.trans-item__title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.trans-item__title {
  font-size: 14px;
}

.trans-item__amount {
  color: var(--trans-item-amount-color);
  font-size: 16px;
  font-weight: 600;
}

.trans-item__amount-category {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  row-gap: var(--trans-item-row-gap);
  column-gap: var(--trans-item-column-gap);
  overflow: hidden;
}

.trans-item__date-comment {
  display: flex;
  flex-flow: row nowrap;
  font-size: 12px;
  column-gap: var(--trans-item-column-gap);
  overflow: hidden;
  width: 100%;
}

.trans-item__date {
  flex: 0 0 auto;
}

.trans-item__category {
  padding: 0 12px;
  margin-left: auto;
  border-radius: 100vh;
  font-size: 0.75rem;
  white-space: nowrap;
  background-color: var(--btn-bg);
}

.trans-item__comment {
  flex: 1 1 auto;
}

.trans-item__category,
.trans-item__comment {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.trans-item_details {
  .trans-item__content {
    gap: var(--trans-item-details-row-gap) var(--trans-item-column-gap);
  }

  .field {
    --field-title-font-size: 12px;
    --field-content-font-size: 14px;
  }

  .field__title {
    margin-bottom: 1px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .field__content {
    min-height: 23px;
    line-height: 23px;
  }

  .trans-item__column {
    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      minmax(var(--trans-item-min-column-width), 1fr)
    );
    gap: var(--trans-item-details-row-gap) var(--trans-item-column-gap);
  }

  .trans-item__amount-field .field__content {
    color: var(--trans-item-amount-color);
  }
}

@media (min-width: 1200px) {
  .trans-item_details {
    .trans-item__content {
      grid-template-columns: 1fr 2fr 1fr 1fr;
    }
  }
}

@media (hover: hover) {
  .trans-item__controls .popup-menu-btn:hover {
    .popup-menu-btn__icon {
      fill: var(--list-item-hover-icon-fill);
    }
  }
}
