.trans-item {
  --trans-item-amount-color: var(--accent-color-alt);
  --trans-item-selected-color: var(--accent-color);
  --trans-item-column-gap: 16px;
  --trans-item-row-gap: 2px;
  --trans-item-details-row-gap: 8px;
  --trans-item-min-column-width: 130px;

  border: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  position: relative;
}

.trans-item__select {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  width: 0;
  flex-shrink: 0;
  transition: width 0.2s ease;

  .checkbox {
    --checkbox-size: 24px;
    --checkbox-border-radius: 50%;

    margin: 0;
  }

  .checkbox__check {
    margin: 0;
  }
}

.trans-item__content {
  display: grid;
  align-items: start;
  row-gap: var(--trans-item-row-gap);
  position: relative;
  overflow: hidden;
  flex: 1 1 auto;
  padding: 8px 0 8px 8px;
  background-color: var(--list-item-bg-color);
}

.trans-item__controls {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  background-color: var(--list-item-bg-color);

  .btn.menu-btn {
    --btn-size: 32px;
    --btn-icon-size: 24px;
    --btn-padding: 0;
    --btn-background: none;
    --btn-icon-color: var(--list-item-icon-fill);

    margin: 0 4px;
  }

  .menu-btn:focus {
    .btn__icon {
      fill: var(--list-item-hover-icon-fill);
    }
  }
}

.trans-item_placeholder {
  opacity: 0;
}

/* Select mode */
.trans-list_select {
  .trans-item__select {
    width: 32px;
  }

  .trans-item__content {
    padding: 8px;
  }
}

.trans-item_selected::after {
  border: 2px solid var(--trans-item-selected-color);
  bottom: 0;
  content: "";
  cursor: pointer;
  display: block;
  left: 32px;
  position: absolute;
  right: 0;
  top: 0;
}

/* Sort mode */
.trans-item_sort {
  cursor: move;

  .trans-item__content {
    padding: 8px;
  }
}

@media (hover: hover) {
  .trans-item__controls .menu-btn:hover {
    .btn__icon {
      fill: var(--list-item-hover-icon-fill);
    }
  }
}
