.login-layer {
  --login-logo-size: 54px;
  --login-logo-font-size: 26px;

  justify-content: flex-start;
  background-color: var(--main-bg-color);

  h1 {
    color: var(--main-text-color);
  }
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #006cbd;
}

.login-logo {
  display: flex;
  flex-flow: row nowrap;
  padding: 24px 0;

  .logo {
    width: var(--login-logo-size);
  }

  .logo-icon {
    width: var(--login-logo-size);
    height: var(--login-logo-size);
  }

  .title {
    height: var(--login-logo-size);
    line-height: var(--login-logo-size);
    font-size: var(--login-logo-font-size);
    font-weight: normal;
    color: #ffffff;
    white-space: nowrap;
    margin: 0 0 0 12px;
  }
}

.login-form {
  width: 100%;
  min-width: 100px;
  max-width: 300px;
  padding: 0 12px;
}

@media screen and (min-width: 576px) {
  .login-layer {
    --login-logo-size: 62px;
    --login-logo-font-size: 32px;
  }
}

@media screen and (min-width: 768px) {
  .login-layer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }

  .login-layer .layer-box {
    display: flex;
    flex-flow: row nowrap;
    flex-basis: auto;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .logo-container {
    justify-content: flex-end;
  }

  .login-logo {
    padding: 24px 48px;
  }

  .form-container {
    align-items: flex-start;
  }

  .login-form {
    max-width: 380px;
    padding: 0 48px;
  }
}
