/* Categories list item */
.category-item {
  --category-item-height: 3rem;
  --category-item-bg: var(--list-item-bg-color);
  --category-item-text-color: var(--accent-color-alt);
  --category-item-font-size: 1rem;
  --category-item-selected-color: var(--accent-color);

  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}

/* Main container */
.category-item__main {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  position: relative;
  border: 0;
  height: var(--category-item-height);
}

/* Content */
.category-item__content {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 8px;
  position: relative;
  row-gap: 2px;
  flex: 1 1 auto;
  overflow: hidden;
  background-color: var(--list-item-bg-color);
}

/* Category title */
.category-item__title {
  color: var(--category-item-text-color);
  font-size: var(--category-item-font-size);
}

/* Select controls */
.category-item__select {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  width: 0;
  transition: width 0.2s ease;

  .checkbox {
    --checkbox-size: 24px;
    --checkbox-border-radius: 50%;

    margin: 0;
  }

  .checkbox__check {
    margin: 0;
  }
}

/* Select state */
.categories-list_select {
  .category-item {
    cursor: pointer;
  }

  .category-item__select {
    width: 32px;
  }
}

/* Sort mode */
.category-item_sort {
  cursor: move;
}

/* Menu controls */
.category-item__controls {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  background-color: var(--category-item-bg);

  .btn.menu-btn {
    --btn-size: 32px;
    --btn-icon-size: 24px;
    --btn-padding: 0;
    --btn-background: none;
    --btn-icon-color: var(--list-item-icon-fill);
    --btn-hover-icon-color: var(--list-item-hover-icon-fill);
    --btn-focus-icon-color: var(--list-item-hover-icon-fill);

    margin: 0 4px;
  }
}

/* Child item container */
.category-item__children {
  padding-left: 32px;

  .category-item:first-child {
    margin-top: 4px;
  }
}

/* Selected state */
.category-item_selected > .collapsible-header > .category-item__main::after {
  content: "";
  display: block;
  position: absolute;
  left: 32px;
  right: 0;
  top: 0;
  bottom: 0;
  border: 2px solid var(--category-item-selected-color);
  cursor: pointer;
}

.category-item_placeholder {
  --sort-placeholder-border-width: 2px;
  --sort-placeholder-border-color: #143fff86;

  outline-width: var(--sort-placeholder-border-width);
  outline-style: dashed;
  outline-offset: calc(var(--sort-placeholder-border-width) * -1);
  outline-color: var(--sort-placeholder-border-color);

  * {
    visibility: hidden;
  }
}
