/* Transaction item */
.import-item {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  margin: 2px 0;

  .form-container {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    align-items: normal;
  }

  .form-rows {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    align-items: normal;
  }

  .form-row {
    display: flex;
    flex-flow: column nowrap;
  }

  /* Input field and label group */
  .field {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 0 0 4px 0;

    label {
      width: 15%;
      font-size: 14px;
      min-width: 70px;
      text-align: center;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  .amount-field input {
    min-width: 50px;
  }

  .date-field input {
    min-width: 50px;
    max-width: 100px;
  }

  .amount-field input,
  .date-field input,
  .comment-field input {
    width: 100%;
  }

  /* Data value static element */
  .data-value {
    display: flex;
    flex-flow: row nowrap;

    label {
      font-size: 14px;
      font-weight: 800;
      padding: 2px 8px;
      width: 20%;
      min-width: 120px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    div {
      font-size: 16px;
      padding: 2px 8px;
    }
  }

  .form-rows.type-col,
  .form-rows.amount-col {
    max-width: 300px;
  }

  .form-row .comment-field,
  .form-row .comment-field div {
    flex-grow: 1;
  }

  /* Controls */
  .controls {
    align-items: center;
  }

  .dd__container {
    display: flex;
    box-sizing: border-box;
  }

  .dd__combo,
  .dd__container.dd__container_disabled .dd__combo {
    border-width: 1px;
  }

  .dd__list {
    border-left-width: 1px;
    border-right-width: 1px;
  }

  .dd__list_drop-down {
    border-top-width: 1px;
  }

  .dd__list_drop-up {
    border-top-width: 1px;
  }

  input[type="text"] {
    display: flex;
    border-width: 1px;
    padding: 5px;
    height: 34px;
    box-sizing: border-box;
  }

  input[type="button"] {
    width: 30px;
    border: 0 none;
    pointer-events: all;
  }

  /* Enable/disable item checkbox container */
  .enable-check {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 6px;

    .checkbox__check {
      margin: 0;
    }

    input[type="checkbox"] {
      pointer-events: all;
    }
  }

  /* Common buttons style */
  .btn,
  .btn:visited,
  .btn:active {
    pointer-events: all;
    background: none;
    padding: 4px;
    cursor: pointer;
  }

  /* Toggle expand/collapse button */
  .toggle-btn,
  .toggle-btn:visited,
  .toggle-btn:active {
    padding: 7px;
  }

  .toggle-icon {
    width: 18px;
    height: 18px;
  }

  /* Delete item button */
  .delete-icon {
    width: 24px;
    height: 24px;
  }

  /* Container for transaction form */
  .main-content {
    padding: 4px 0 0 0;
    display: flex;
    flex-flow: row nowrap;
  }

  /* Container for extended content */
  .extended-content {
    display: none;
    border-top: 1px solid;
    padding: 8px;
    overflow: hidden;
  }

  &.import-item_expanded .extended-content {
    display: flex;
  }

  /* Validation */
  .invalid-feedback {
    padding: 4px 8px;
    color: #ff0000;
  }

  .field.invalid-block input,
  .field.invalid-block .dd__combo {
    border-color: #ff0000;
  }
}

/* Disabled transaction row */
.import-item_disabled .dd__container,
.import-item_disabled input[type="text"],
.import-item_disabled input[disabled] {
  pointer-events: none;
}

.import-item_expanded .toggle-icon {
  transform: rotate(180deg);
}

/* Original import data container */
.orig-data {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}

.orig-data h3 {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 8px;
}

/* Original import data table */
.orig-data-table {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}

/* Placeholder */
.import-item__placeholder {
  border: 1px dashed;
  height: 56px;
  margin: 3px 0;
}

.import-item__placeholder * {
  opacity: 0;
}

.field.invalid-block label {
  color: #ff0000;
}

/* Desktop */
@media (min-width: 768px) {
  .import-item {
    .form-container {
      flex-flow: row nowrap;
    }

    .form-row {
      flex-flow: row nowrap;
    }

    .main-content {
      padding: 4px 0 6px 0;
    }

    .controls {
      align-items: start;
      padding-top: 16px;
    }

    .field {
      flex-flow: column nowrap;
      align-items: normal;
      margin: 0 8px 0 0;
      label {
        width: auto;
        min-width: auto;
        font-size: 12px;
        text-align: left;
      }
    }

    .orig-data-table {
      flex-flow: row nowrap;
    }

    .data-value {
      flex-flow: column nowrap;

      label {
        padding: 2px 8px;
        width: auto;
        min-width: auto;
      }

      div {
        padding: 2px 8px;
        min-width: auto;
        text-align: right;
      }

      &.comment-value div {
        text-align: left;
      }
    }
  }
}
