/* Transaction item */
.import-item {
  --ii-font-size: 0.9rem;

  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  margin: 2px 0;

  .main-content {
    padding: 4px 0;
    display: flex;
    flex-flow: row nowrap;
  }

  .item-container {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    align-items: normal;
    gap: 8px;
    overflow: hidden;
  }

  .item-column {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    align-items: normal;
    gap: 8px;
    overflow: hidden;
  }

  .item-row {
    display: flex;
    flex-flow: row nowrap;
    gap: 16px;
  }

  /* Input field and label group */
  .field {
    --field-content-font-size: var(--ii-font-size);
    --field-title-font-size: 12px;
  }

  .field__title {
    margin-bottom: 1px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  /* Controls */
  .controls {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  /* Enable/disable item checkbox container */
  .enable-check {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 6px;

    .checkbox__check {
      margin: 0;
    }

    input[type="checkbox"] {
      pointer-events: all;
    }
  }

  /* Common buttons style */
  .btn {
    pointer-events: all;
    background: none;
    padding: 4px;
    cursor: pointer;
  }

  /* Toggle expand/collapse button */
  .toggle-btn {
    padding: 7px;
  }

  .toggle-icon {
    width: 18px;
    height: 18px;
  }

  .type-col,
  .amount-col {
    flex-direction: row;
    gap: 16px;
  }

  .update-icon,
  .delete-icon {
    width: 24px;
    height: 24px;
  }

  .account-field,
  .person-field {
    flex-shrink: 1;
    flex-grow: 1;
    overflow: hidden;
  }

  .comment-field,
  .comment-field div {
    overflow: hidden;
    flex-grow: 1;
    flex-shrink: 1;
  }

  .account-field div,
  .person-field div,
  .comment-field div {
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .import-item__date {
    min-width: 50px;
    max-width: 100px;
  }

  /* Container for extended content */
  .extended-content {
    display: none;
    border-top: 1px solid;
    padding: 8px;
    overflow: hidden;
  }

  &.import-item--expanded {
    .extended-content {
      display: flex;
    }

    .toggle-icon {
      transform: rotate(180deg);
    }
  }
}

/* Placeholder */
.import-item__placeholder {
  border: 1px dashed;

  * {
    opacity: 0;
  }
}

/* Desktop */
@media (min-width: 768px) {
  .import-item {
    .item-container {
      flex-flow: row nowrap;
      gap: 16px;
    }

    .main-content {
      padding: 4px 0 6px 0;
    }

    .item-row {
      gap: 8px;
    }

    .type-field,
    .amount-field {
      width: 120px;
    }

    .date-field {
      width: 100px;
      flex-shrink: 0;
    }

    .type-col,
    .amount-col {
      width: 120px;
      flex-direction: column;
      flex-shrink: 0;
      flex-grow: 0;
      gap: 8px;
    }
  }
}

/* Desktop */
@media (min-width: 992px) {
  .import-item {
    --ii-font-size: 1rem;

    .type-col,
    .amount-col {
      flex-direction: row;
    }

    .type-col {
      width: 35%;
    }

    .amount-col {
      width: 27%;
    }
  }
}
