/* Transaction item */
.import-item {
  --ii-font-size: 0.9rem;
  --ii-min-column-width: 150px;

  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;

  .collapsible-header {
    display: flex;
    flex-flow: row nowrap;
  }

  .item-container {
    display: grid;
    flex: 1 1 auto;
    align-items: start;
    gap: 8px 16px;
    padding: 4px 0 4px 8px;
    overflow: hidden;
    position: relative;
  }

  .item-column {
    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      minmax(var(--ii-min-column-width), 1fr)
    );
    align-items: normal;
    gap: 8px 16px;
    overflow: hidden;
  }

  .date-col {
    --ii-min-column-width: 6rem;
  }

  /* Input field and label group */
  .field {
    --field-content-font-size: var(--ii-font-size);
    --field-title-font-size: 12px;
  }

  .field__title {
    margin: 0 0 1px 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  /* Select controls */
  .select-controls {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    width: 0;
    transition: width 0.2s ease;
    flex-shrink: 0;

    .checkbox {
      --checkbox-size: 24px;

      margin: 0;
    }

    .checkbox__check {
      margin: 0;
      border-radius: 50%;
    }
  }

  /* Controls */
  .controls {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    width: 66px;
    flex: 0 0 66px;
  }

  /* Menu */
  .popup-menu-btn {
    width: 26px;
    height: 26px;
    padding: 4px;
    background: none;
    pointer-events: all;
    cursor: pointer;
  }

  .popup-menu-btn__icon {
    width: 18px;
    height: 18px;
  }

  .popup-menu {
    margin: 0 4px;
  }

  .collapsible-content {
    flex-flow: column nowrap;
    row-gap: 1rem;
    border-top: 1px solid;
    padding: 8px;
    overflow: hidden;
  }

  &.collapsible__expanded .toggle-btn .btn__icon {
    transform: rotate(180deg);
  }

  /* Sort mode */
  &.import-item_sort {
    cursor: move;
  }

  /* Selected item */
  &.import-item_selected {
    .collapsible-header {
      position: relative;
    }

    .collapsible-header::after {
      border: 2px solid var(--accent-color);
      bottom: 0;
      content: "";
      cursor: pointer;
      display: block;
      left: 32px;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}

/* Select mode */
.import-list_select .import-item {
  cursor: pointer;

  .select-controls {
    width: 32px;
  }

  .collapsible-content {
    margin-left: 32px;
  }
}

/* Placeholder */
.import-item__placeholder {
  border: 1px dashed;

  * {
    opacity: 0;
  }
}

/* Desktop */
@media (min-width: 992px) {
  .import-item {
    --ii-font-size: 1rem;

    .item-container {
      grid-template-columns: repeat(4, 1fr);
      padding: 4px 0 6px 8px;
    }
  }
}
