/* Transaction item */
.import-item {
  --ii-font-size: 0.9rem;

  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  margin: 2px 0;

  .main-content {
    padding: 4px 0 4px 8px;
    display: flex;
    flex-flow: row nowrap;
  }

  .item-container {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    align-items: normal;
    gap: 8px;
    overflow: hidden;
  }

  .item-column {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    align-items: normal;
    gap: 8px;
    overflow: hidden;
  }

  .item-row {
    display: flex;
    flex-flow: row nowrap;
    gap: 16px;
  }

  /* Input field and label group */
  .field {
    --field-content-font-size: var(--ii-font-size);
    --field-title-font-size: 12px;
  }

  .field__title {
    margin-bottom: 1px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  /* Select controls */
  .select-controls {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    width: 32px;

    .checkbox {
      --checkbox-size: 24px;

      margin: 0;
    }

    .checkbox__check {
      margin: 0;
      border-radius: 50%;
    }
  }

  /* Controls */
  .controls {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  /* Toggle expand/collapse button */
  .toggle-btn {
    width: 32px;
    height: 32px;
    padding: 7px;
    background: none;
    pointer-events: all;
    cursor: pointer;
  }

  .toggle-icon {
    width: 18px;
    height: 18px;
  }

  .type-col,
  .amount-col {
    flex-direction: row;
    gap: 16px;
  }

  /* Menu */
  .actions-menu-btn {
    width: 26px;
    height: 26px;
    padding: 4px;
    background: none;
    pointer-events: all;
    cursor: pointer;
  }

  .actions-menu-btn__icon {
    width: 18px;
    height: 18px;
  }

  .actions-menu {
    margin: 0 4px;
  }

  .account-field,
  .person-field {
    flex-shrink: 1;
    flex-grow: 1;
    overflow: hidden;
  }

  .comment-field,
  .comment-field div {
    overflow: hidden;
    flex-grow: 1;
    flex-shrink: 1;
  }

  .account-field div,
  .person-field div,
  .comment-field div {
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .import-item__date {
    min-width: 50px;
    max-width: 100px;
  }

  .collapsible-content {
    flex-flow: column nowrap;
    row-gap: 1rem;
    border-top: 1px solid;
    padding: 8px;
    overflow: hidden;
  }

  &.collapsible__expanded .toggle-icon {
    transform: rotate(180deg);
  }

  /* Found similar transaction info */
  .similar {
    display: flex;
    flex-flow: row nowrap;
    column-gap: 1rem;
    font-size: 14px;
  }
}

/* Placeholder */
.import-item__placeholder {
  border: 1px dashed;

  * {
    opacity: 0;
  }
}

/* Desktop */
@media (min-width: 768px) {
  .import-item {
    .item-container {
      flex-flow: row nowrap;
      gap: 16px;
      padding: 4px 0 6px 8px;
    }

    .main-content {
      padding: 0;
    }

    .item-row {
      gap: 8px;
    }

    .type-field,
    .amount-field {
      width: 120px;
    }

    .date-field {
      width: 100px;
      flex-shrink: 0;
    }

    .type-col,
    .amount-col {
      width: 120px;
      flex-direction: column;
      flex-shrink: 0;
      flex-grow: 0;
      gap: 8px;
    }
  }
}

/* Desktop */
@media (min-width: 992px) {
  .import-item {
    --ii-font-size: 1rem;

    .type-col,
    .amount-col {
      flex-direction: row;
    }

    .type-col {
      width: 35%;
    }

    .amount-col {
      width: 27%;
    }
  }
}
