/* Import template section */
.upload-form__converter {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;

  /* Uploaded file name */
  .converter__file {
    font-size: 0.9rem;
    color: #7b7b7b;
    margin: var(--form-field-margin);
  }

  /* Template form field */
  .field {
    .input-group {
      --ig-height: var(--input-height);
    }
  }

  /* Import template field */
  .template-field {
    width: 100%;
  }
}

/* Template field header */
.template-field__header {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 5px;
  width: 100%;

  label {
    font-size: 16px;
    font-weight: 100;
    margin-right: 18px;
    margin-bottom: 0;
    margin-left: 0;
  }

  .create-btn {
    --btn-icon-color: var(--list-item-icon-fill);
  }
}

/* Template select */
.converter__select-group {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  margin: var(--form-field-margin);
}

.tpl-account-field {
  justify-content: center;
  min-height: var(--input-height);
}
