/* Mode selector */
.btn.mode-selector {
  --btn-title-color: var(--accent-color);
  --btn-icon-color: var(--accent-color);
  --btn-hover-icon-color: var(--accent-color);
  --btn-hover-title-color: var(--accent-hover-color);
}

@media (hover: hover) {
  .mode-selector:hover {
    .btn__content {
      text-decoration: underline;
    }
  }
}
