h2 {
  font-size: 18px;
  font-weight: 400;
  clear: both;
  margin: 0 0 12px 0;
}

h3 {
  font-size: 16px;
  font-weight: 500;
  clear: both;
  margin: 0 0 12px 0;
}

.api-console {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
  justify-items: flex-start;
}

.center-column {
  display: inline-flex;
  flex-flow: column nowrap;
  min-width: 350px;
  margin-right: 12px;
  margin-bottom: 12px;
}

.right-column {
  display: inline-flex;
  flex-flow: column nowrap;
  padding: 6px;
  flex: 1 1 auto;
  width: 100%;
  min-width: 300px;
}

.methods-toggle-btn {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  column-gap: 8px;
  margin-bottom: 12px;
  color: var(--main-text-color);
  background-color: var(--btn-bg);
  border-radius: var(--action-btn-border-radius);
}

/* API methods menu */
.methods-menu {
  .header-logo {
    padding-left: 12px;
  }
}

/* Menu lists */
.menu-list {
  padding: 12px;
}

.menu-list > li {
  padding: 5px 0;
  list-style-type: none;
}

.menu-list > li > button {
  font-size: 18px;
  white-space: nowrap;
  background: none;
  cursor: pointer;
  color: var(--main-text-color);
}

.menu-list > li.active > button {
  font-weight: bold;
}

.menu-list .sub-menu-list {
  padding: 0 0 0 10px;
  display: none;
  list-style-image: none;
}

.menu-list > li.active .sub-menu-list {
  display: block;
}

.menu-list .sub-menu-list > li {
  list-style-image: none;
  list-style-type: none;
  cursor: pointer;
  padding: 5px 0;
  text-overflow: ellipsis;
  overflow: hidden;
}

.menu-list > li.active .sub-menu-list > li.active {
  font-style: italic;
}

/* View containers */
.request-data-form {
  display: none;
  max-width: 400px;
  width: 100%;

  &.active {
    display: inline-block;
  }

  .checkbox {
    margin-top: 9px;
    margin-bottom: 9px;
  }
}

/* Requests log */
.request-log {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  h2 {
    display: inline-flex;
  }

  input[type="button"] {
    display: inline-flex;
    margin-left: auto;
  }
}

/* Desktop */
@media (min-width: 768px) {
  .methods-menu {
    z-index: 500;

    .navigation-content {
      margin-top: 100px;
    }
  }

  .api-console {
    flex-flow: row nowrap;
  }

  .content_wrap {
    padding: 112px 12px 50px 212px;
  }

  .methods-toggle-btn {
    display: none;
  }
}

@media (hover: hover) {
  .methods-toggle-btn:hover {
    background-color: var(--btn-hover-bg);
  }

  .menu-list .sub-menu-list > li:hover {
    text-decoration: underline;
    color: var(--text-color-3);
  }
}
