h2 {
  font-size: 18px;
  font-weight: 400;
  clear: both;
  margin: 0 0 12px 0;
}

h3 {
  font-size: 16px;
  font-weight: 500;
  clear: both;
  margin: 0 0 12px 0;
}

.api-console {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: stretch;
  justify-items: flex-start;
}

.center-column {
  display: inline-flex;
  flex-flow: column nowrap;
  min-width: 350px;
  margin-right: 12px;
  margin-bottom: 12px;
}

.right-column {
  display: inline-flex;
  flex-flow: column nowrap;
  padding: 6px;
  flex: 1 1 auto;
  min-width: 300px;
  max-width: 100%;
}

/* API methods menu */
.methods-menu {
  .header-logo {
    padding-left: 12px;
  }
}

/* View containers */
.request-data-form {
  display: none;
  max-width: 400px;
  width: 100%;

  &.active {
    display: inline-block;
  }

  .checkbox {
    display: flex;
    margin-top: 9px;
    margin-bottom: 9px;
  }
}

/* Requests log */
.request-log {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  justify-content: space-between;

  h2 {
    display: inline-flex;
  }

  input[type="button"] {
    display: inline-flex;
    margin-left: auto;
  }
}

/* Desktop */
@media (min-width: 768px) {
  .methods-menu {
    z-index: 500;

    .navigation-content {
      margin-top: 100px;
    }
  }

  .api-console {
    flex-flow: row wrap;
  }

  .content_wrap {
    padding: 112px 12px 50px 212px;
  }

  .methods-toggle-btn {
    display: none;
  }
}
