h2 {
  font-size: 18px;
  font-weight: 400;
  clear: both;
  margin: 0 0 12px 0;
}

h3 {
  font-size: 16px;
  font-weight: 500;
  clear: both;
  margin: 0 0 12px 0;
}

.api-console {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
  justify-items: flex-start;
}

.center-column {
  display: inline-flex;
  flex-flow: column nowrap;
  min-width: 350px;
  margin-right: 12px;
  margin-bottom: 12px;
}

.right-column {
  display: inline-flex;
  flex-flow: column nowrap;
  padding: 6px;
  flex: 1 1 auto;
  width: 100%;
  min-width: 300px;
  box-sizing: border-box;
}

/* Left menus */

/* Menu lists */
.menu-list > li {
  padding: 5px;
  list-style-type: none;
}

.menu-list > li > button {
  font-size: 18px;
  background: none;
  cursor: pointer;
}

.menu-list > li.active > button {
  font-weight: bold;
}

.menu-list .sub-menu-list {
  padding: 0 0 0 10px;
  display: none;
  list-style-image: none;
}

.menu-list > li.active .sub-menu-list {
  display: block;
}

.menu-list .sub-menu-list > li {
  list-style-image: none;
  list-style-type: none;
  cursor: pointer;
  padding: 5px 0;
  text-overflow: ellipsis;
  overflow: hidden;
}

.menu-list > li.active .sub-menu-list > li.active {
  font-style: italic;
}

/* View containers */
.request-data-form {
  max-width: 400px;
  padding: 12px;
  display: none;
  border: 1px solid;
  border-radius: 3px;
  box-sizing: border-box;
  width: 100%;
}

.request-data-form.active {
  display: inline-block;
}

.request-data-form input[type="checkbox"] {
  margin: 0 5px 2px 0;
  vertical-align: middle;
}

.request-data-form input[type="text"] {
  border: 1px solid;
  display: inline;
  padding: 3px;
}

/* Requests log */

/* Both request and response container */
.request-item {
  padding: 5px;
  margin: 5px 0;
  border: 1px solid;
  border-radius: 2px;

  .request-container,
  .response-container {
    margin: 5px 0;
  }

  /* Request */
  .request-container .title,
  .response-container .title {
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #ffffff;
    background-color: #66a1f0;
    cursor: pointer;
    height: 25px;
    line-height: 25px;
  }

  .request-container .title::before,
  .response-container .title::before {
    content: "-";
    padding: 0 10px;
    display: inline-block;
    width: 0.5rem;
    text-align: center;
  }

  .request-container.collapsed .title::before,
  .response-container.collapsed .title::before {
    content: "+";
  }

  .request-container .request-details,
  .response-container .response-details {
    word-break: break-all;
    font-size: 14px;
    padding: 0 5px;
  }

  .request-container.collapsed .request-details,
  .response-container.collapsed .response-details {
    display: none;
  }

  /* Result */
  .response-container.response-container_pending {
    background: none;
    border: 1px dashed;
  }

  .response-container.ok-result .title {
    background-color: #65d458;
  }

  .response-container.fail-result .title {
    background-color: #ff6666;
  }
}

/* Requests log */
.request-log {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.request-log h2 {
  display: inline-flex;
}

.request-log input[type="button"] {
  display: inline-flex;
  margin-left: auto;
}

/* Desktop */
@media (min-width: 768px) {
  .api-console {
    flex-flow: row nowrap;
  }
}

@media (hover: hover) {
  .menu-list .sub-menu-list > li:hover {
    text-decoration: underline;
  }

  .request-item {
    .request-container .title:hover::before {
      background-color: #95c3ff;
    }

    .response-container.ok-result .title:hover::before {
      background-color: #59b74e;
    }

    .response-container.fail-result .title:hover::before {
      background-color: #ff8a8a;
    }
  }
}
