h2 {
  font-size: 18px;
  font-weight: 400;
  clear: both;
  margin: 0 0 12px 0;
}

h3 {
  font-size: 16px;
  font-weight: 500;
  clear: both;
  margin: 0 0 12px 0;
}

.api-console {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
  justify-items: flex-start;
}

.center-column {
  display: inline-flex;
  flex-flow: column nowrap;
  min-width: 350px;
  margin-right: 12px;
  margin-bottom: 12px;
}

.right-column {
  display: inline-flex;
  flex-flow: column nowrap;
  padding: 6px;
  flex: 1 1 auto;
  width: 100%;
  min-width: 300px;
}

.methods-toggle-btn {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  column-gap: 8px;
  color: var(--main-text-color);
}

.methods-menu.offcanvas_closed {
  transform: translateX(-100%);
}

/* Left menus */

/* Menu lists */
.menu-list {
  padding: 24px;
}

.menu-list > li {
  padding: 5px 0;
  list-style-type: none;
}

.menu-list > li > button {
  font-size: 18px;
  white-space: nowrap;
  background: none;
  cursor: pointer;
}

.menu-list > li.active > button {
  font-weight: bold;
}

.menu-list .sub-menu-list {
  padding: 0 0 0 10px;
  display: none;
  list-style-image: none;
}

.menu-list > li.active .sub-menu-list {
  display: block;
}

.menu-list .sub-menu-list > li {
  list-style-image: none;
  list-style-type: none;
  cursor: pointer;
  padding: 5px 0;
  text-overflow: ellipsis;
  overflow: hidden;
}

.menu-list > li.active .sub-menu-list > li.active {
  font-style: italic;
}

/* View containers */
.request-data-form {
  max-width: 400px;
  padding: 12px;
  display: none;
  border: 1px solid;
  border-radius: 3px;
  width: 100%;
}

.request-data-form.active {
  display: inline-block;
}

.request-data-form input[type="checkbox"] {
  margin: 0 5px 2px 0;
  vertical-align: middle;
}

.request-data-form input[type="text"] {
  border: 1px solid;
  display: inline;
  padding: 3px;
}

/* Requests log */
.request-log {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.request-log h2 {
  display: inline-flex;
}

.request-log input[type="button"] {
  display: inline-flex;
  margin-left: auto;
}

/* Desktop */
@media (min-width: 768px) {
  .api-console {
    flex-flow: row nowrap;
  }
}

/* Desktop */
@media (min-width: 1200px) {
  .methods-menu,
  .methods-menu.offcanvas_closed {
    transform: translateX(200px);
  }

  .content_wrap {
    padding: 50px 12px 50px 412px;
  }

  .methods-toggle-btn {
    display: none;
  }
}

@media (hover: hover) {
  .menu-list .sub-menu-list > li:hover {
    text-decoration: underline;
  }
}
