/* Transaction type menu */
.menu.trtype-menu {
  /* Checkbox */
  --menu-checkbox-size: 20px;
  --menu-checkbox-icon-size: 20px;
  --menu-checkbox-icon-color: #000000;
  --menu-checkbox-border-radius: var(--default-border-radius);
  --menu-checkbox-border-width: 1px;
  --menu-checkbox-border-style: solid;
  --menu-checkbox-border-color: var(--input-border-color);
  --menu-checkbox-background: var(--input-bg-color);

  /* Selected item */
  --menu-item-selected-checkbox-icon-color: var(--accent-color);

  /* 'Show all' item */
  .menu-list_left .menu-item__content:first-child {
    padding-left: 0;
  }
}
