/* Transaction item */
.import-item {
  --ii-font-size: 0.9rem;
  --ii-min-column-width: 150px;
  --ii-content-border-radius: 5px;

  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;

  .collapsible-header {
    display: flex;
    flex-flow: row nowrap;
  }

  .list-item__content {
    gap: 8px 16px;
  }

  .item-column {
    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      minmax(var(--ii-min-column-width), 1fr)
    );
    align-items: normal;
    gap: 8px 16px;
    overflow: hidden;
  }

  .date-col {
    --ii-min-column-width: 6rem;
  }

  /* Input field and label group */
  .field {
    --field-content-font-size: var(--ii-font-size);
    --field-title-font-size: 12px;
    --field-title-margin: 0 0 1px 0;
    --field-title-color: var(--dimmed-text-color);
  }

  .field__title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  /* Controls */
  .list-item__controls {
    justify-content: flex-end;
    width: 66px;
    flex: 0 0 66px;
  }

  .toggle-btn {
    --btn-icon-color: var(--list-item-icon-fill);
    --btn-hover-icon-color: var(--list-item-hover-icon-fill);
  }

  .collapsible-content {
    flex-flow: column nowrap;
    row-gap: 1rem;
    padding: 8px;
    overflow: hidden;
    border-bottom-left-radius: var(--ii-content-border-radius);
    border-bottom-right-radius: var(--ii-content-border-radius);
    color: var(--text-color-3);
    background-color: var(--list-item-alt-bg-color);
  }

  &.collapsible__expanded {
    .collapsible-header {
      box-shadow: 0 2px 5px -2px #00000088;
      z-index: 2;
    }

    .toggle-btn .btn__icon {
      transform: rotate(180deg);
    }
  }

  /* Selected item */
  &.list-item_selected {
    &::after {
      display: none;
    }

    .collapsible-header {
      position: relative;
    }

    .collapsible-header::after {
      border: 2px solid var(--accent-color);
      bottom: 0;
      content: "";
      cursor: pointer;
      display: block;
      left: 32px;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}

/* Import item */
.import-item[disabled] {
  .list-item__content,
  .list-item__controls {
    background-color: var(--list-item-disabled-bg-color);
    color: var(--neutral-color);
  }

  .collapsible-content {
    color: var(--text-color-6);
    background-color: var(--list-item-disabled-bg-color);
  }

  .orig-data {
    --odt-header-color: var(--neutral-color);
  }
}

/* Select mode */
.list_select .import-item {
  .collapsible-content {
    margin-left: 32px;
  }
}

/* Placeholder */
.import-item__placeholder {
  border: 1px dashed var(--neutral-color);
  background-color: var(--main-bg-color);

  * {
    opacity: 0;
  }
}

/* Desktop */
@media (min-width: 992px) {
  .import-item {
    --ii-font-size: 1rem;

    .list-item__content {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
