/* Toggle expand/collapse button */
.iconbutton.toggle-btn {
  --iconbtn-icon-size: 18px;
  --iconbtn-icon-color: var(--main-text-color);

  padding: 7px;
  margin-left: auto;

  .iconbutton__icon {
    min-width: auto;
  }
}

.toggle-btn.rotate .iconbutton__icon {
  transform: rotate(180deg);
}
