/* Import rules dialog */
.rules-popup {
  .popup__wrapper {
    position: relative;
  }

  .popup__content-box {
    max-width: 600px;
    width: 100%;
  }
}

.rules-dialog {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  flex: 1 1 auto;
  min-height: 100px;

  /* Create button */
  .link-btn,
  .link-btn:visited,
  .link-btn:active {
    pointer-events: all;
    padding: 0;
    cursor: pointer;
  }
}

.rules-dialog .loading-indicator {
  border-radius: 10px;
}

/* Import rules dialog heading */
.rules-header {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;

  label {
    font-size: 24px;
    font-weight: 300;
    margin-right: 16px;
    margin-bottom: 0;
  }
}

.rules-list {
  display: flex;
  flex-flow: column nowrap;
  overflow-y: auto;
}
