/* Clear all filters button */
.btn.clear-all-btn {
  --btn-title-color: var(--accent-color);
  --btn-hover-title-color: var(--accent-hover-color);
  --btn-size: var(--input-height);

  text-decoration: none;
}

@media (hover: hover) {
  .btn.clear-all-btn:hover {
    text-decoration: underline;
  }
}

/* Date range filter */
.date-range-filter {
  min-width: 250px;
  max-width: 400px;
  overflow: hidden;

  .filter-item__title {
    display: flex;
    flex-flow: row nowrap;
    column-gap: 1rem;
    overflow-x: auto;

    .field-header-btn {
      flex: 0 0 auto;
    }
  }
}

@media (min-width: 576px) {
  .date-range-filter .filter-item__title {
    column-gap: 1.5rem;
  }
}

/* Filters inside Collapsible container */
.filters-collapsible {
  .submit-btn {
    display: none;
  }

  .filters-controls {
    padding-top: 12px;
  }
}
