/* Switch field */
.switch.switch-field {
  --switch-font-size: 1rem;
  --switch-text-color: var(--main-text-color);
  --switch-label-order: -1;

  align-items: center;
  justify-content: space-between;
  width: 100%;

  .switch__label {
    padding: 0.5rem 0;
    font-weight: 400;
  }
}
