:root {
  --header-size: 50px;
  --header-color: #dddddd;
  --header-bg-color: #404040;
  --header-hover-btn-bg-color: #606060;
  --header-active-btn-bg-color: #202020;
}

/* header */
.header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  position: fixed;
  overflow: hidden;
  height: var(--header-size);
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2000;
  background-color: var(--header-bg-color);
}

/* logo block */
.header-logo {
  text-decoration: none;
  display: none;
  flex-flow: row nowrap;
  align-items: center;
  padding: 0 12px 0 0;
  width: 200px;
  height: var(--header-size);
  flex-shrink: 0;
}

.header-logo:active {
  background-color: var(--header-active-btn-bg-color);
}

.header-logo__icon,
.logo-icon {
  width: var(--header-size);
  height: var(--header-size);
}

.logo-icon {
  fill: var(--header-color);
}

.header-logo__title {
  font-size: 20px;
  font-weight: 200;
  color: var(--header-color);
  white-space: nowrap;
}

/* Header container */
.header__container {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  align-self: flex-start;
  width: 100%;
  padding-left: 12px;
  position: relative;
  top: 0;
  transition: top 0.2s ease;
}

.header__container.show-actions {
  top: calc(var(--header-size) * -1);
}

/* Header content */
.header__content {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  height: var(--header-size);
}

/* Main header content */
.main-header-content {
  justify-content: flex-end;
}

/* Title */
.header-title {
  font-size: 20px;
  font-weight: 300;
  height: var(--header-size);
  line-height: var(--header-size);
  color: var(--header-color);
}

/* Header button */
.btn.header-btn {
  --btn-size: var(--header-size);
  --btn-padding: 0 0.5rem;
  --btn-content-padding: 0 0.25rem;
  --btn-title-color: var(--header-color);
  --btn-icon-color: var(--header-color);
  --btn-hover-title-color: var(--header-color);
  --btn-hover-icon-color: var(--header-color);
  --btn-hover-background: var(--header-hover-btn-bg-color);
  --btn-active-background: var(--header-active-btn-bg-color);
}

/* User button */
.btn.user-btn {
  .btn__content {
    display: none;
  }
}

/* User navigation */
.user-navigation {
  --offcanvas-bg: var(--alt-bg-color);

  max-width: 100%;
  z-index: 2110;
}

.user-navigation .offcanvas__content {
  display: flex;
  height: 100%;
}

.user-navigation + .offcanvas__bg {
  z-index: 2100;
}

/* User navigation content */
.user-navigation-content {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;

  .btn.user-btn {
    --btn-padding: 0 0.75rem;

    .btn__content {
      display: inline-flex;
    }
  }

  .field.horizontal-field {
    padding: 0 0.75rem;
  }
}

/* User navigation controls */
.user-navigation-controls {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: var(--header-size);
  background-color: var(--header-bg-color);

  /* Close navigation button */
  .btn.close-btn {
    --btn-icon-color: var(--list-item-icon-fill);

    margin-right: 0.25rem;
  }
}

/* Locale select, theme switch */
.locale-select,
.theme-switch {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.locale-select {
  padding-right: 0.75rem;
}

.theme-switch .switch {
  margin: 0 0.75rem;
}

/* Focused Switch */
.theme-switch .switch input:focus-visible + .switch-slider {
  outline-width: 0;
  box-shadow: var(--focus-shadow);
}

/* Navigation toggle button */
.btn.header-menu-btn {
  --btn-border-radius: 100vh;
  --btn-padding: 13px;
  --btn-icon-size: 24px;
  --btn-icon-color: var(--header-color);
  --btn-active-background: #4e4e4e;
  --btn-hover-background: #646464;

  flex: 0 0 auto;
}

/* Left side navigation */
.navigation {
  --offcanvas-bg: var(--alt-bg-color);

  z-index: 2110;
}

.navigation .offcanvas__content {
  display: flex;
  height: 100%;
}

.navigation + .offcanvas__bg {
  z-index: 2100;
}

.navigation-content {
  display: flex;
  flex-flow: column nowrap;
}

.navigation-controls {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 0 12px;
  background-color: var(--header-bg-color);

  /* Close navigation button */
  .btn.close-btn {
    --btn-size: 32px;
    --btn-icon-size: 24px;
    --btn-padding: 4px;
    --btn-icon-color: var(--list-item-icon-fill);

    margin-left: -4px;
  }
}

/* Link to main page with logo */
.navigation-content .header-logo {
  display: flex;
}

/* Navigation items */
.nav-list {
  display: flex;
  flex-flow: column nowrap;
  padding: 0.25rem;
  height: 100%;
  list-style-type: none;
}

.nav-item {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 40px;
  flex-shrink: 0;
}

.nav-item__title {
  white-space: nowrap;
  padding: 0.5rem 0.75rem;
  font-size: 1.15rem;
  font-weight: 300;
}

a.nav-item__link,
a.nav-item__link:visited {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  white-space: nowrap;
  color: var(--text-color-2);
}

.btn.nav-item__icon-btn {
  --btn-icon-size: 13px;
  --btn-hover-background: var(--icon-btn-hover-bg);
  --btn-active-background: var(--icon-btn-active-bg);
  --btn-icon-color: var(--main-text-color);

  margin-left: auto;
  padding: 0.6rem;
  border-radius: 50%;
}

.nav-bottom {
  margin-top: auto;
}

.nav-separator {
  margin: 0.5rem 0.25rem;
  border-top: 1px solid var(--nav-menu-separator-color);
}

/* Desktop */
@media (min-width: 768px) {
  .header {
    z-index: 2010;
  }

  .header-logo {
    display: flex;
  }

  .btn.header-menu-btn {
    display: none;
  }

  .btn.header-btn {
    --btn-padding: 0 0.75rem;
  }

  .btn.user-btn {
    .btn__content {
      display: inline-flex;
    }
  }

  .navigation {
    width: 200px;
    z-index: 1000;
  }

  .navigation-content {
    width: 100%;
    margin: 50px 0 0 0;
  }

  .navigation.offcanvas_closed {
    transform: translateX(0);
  }

  .offcanvas__bg,
  .navigation-controls {
    display: none;
  }
}

@media (hover: hover) {
  .theme-switch .switch-slider:hover {
    background-color: #707070;
  }

  .theme-switch .switch-slider:hover::before {
    background-color: #ffffff;
  }

  .header-logo:hover {
    background-color: var(--header-hover-btn-bg-color);
  }

  .header-logo:active:hover {
    background-color: var(--header-active-btn-bg-color);
  }

  .btn.header-menu-btn:hover {
    background-color: #323232;
  }

  a.nav-item__link:hover {
    text-decoration: underline;
    color: var(--hl-text-color);
  }
}
