.calBase
{
	position: relative;
	display: table;
}


.calWrap
{
	position: absolute;
	display: table-cell;
	margin: 0;
	background-color: #FFFFFF;
	color: #000000;
	border: 2px solid #000000;
	font-family: sans-serif;
	font-size: 12px;
	z-index: 1000;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
}


.calWrap.staticCal
{
	position: static;
	z-index: auto;
}


.calWrap .calTbl > table
{
	border-collapse: separate;
	border-spacing: 0;
	background-color: #FFFFFF;
	position: relative;
	left: 0;
	top: 0;
}


.calWrap .calTbl,
.calWrap .calTbl > table
{
	-webkit-transform: none;
	transform: none;
	-webkit-transition-delay: 0;
	transition-delay: 0;
	transform-origin: 0 0;
}


.calWrap .calTbl.animated,
.calWrap .calTbl.animated > table
{
	transition-property: all;
    transition-duration: .5s;
}


.calWrap .calTbl > table.layered
{
	position: absolute;
	top: 0;
	left: 0;
}


.calWrap .calTbl > table.layered.top_from
{
	z-index: 3;
	opacity: 1;
}


.calWrap .calTbl > table.layered.top_to
{
	z-index: 3;
	opacity: 0;
}


.calWrap .calTbl > table.layered.bottom_from
{
	z-index: 2;
	opacity: 1;
}


.calWrap .calTbl > table.layered.bottom_to
{
	z-index: 2;
	opacity: 0;
}


.calHeadTbl
{
	position: relative;
}


.calHeadTbl > div
{
	height: 37px;
	text-align: center;
}


.calHeadTbl .title
{
	height: 37px;
	line-height: 37px;
	cursor: pointer;
}


.calHeadTbl .title:hover
{
	color: #20D0FF;
}


/* Prev/Next navigation buttons */
.calHeadTbl .nav,
.calHeadTbl .nav:hover
{
	position: absolute;
	width: 23px;
	height: 23px;
	padding: 7px 0px;
	background-color: #FFFFFF;
	cursor: pointer;
}


.calHeadTbl .nav.prev
{
	left: 0;
}


.calHeadTbl .nav.next
{
	right: 0;
}


.calHeadTbl .nav > div
{
	width: 0px;
	height: 0px;
	border: 6px solid transparent;
}


.calHeadTbl .nav.prev > div
{
	margin: 7px 7px 7px 1px;
	border-right-color: #B0B0B0;
}


.calHeadTbl .nav.next > div
{
	margin: 7px 1px 7px 7px;
	border-left-color: #B0B0B0;
}


.calHeadTbl .nav.prev:hover > div
{
	border-right-color: #80D0FF;
}


.calHeadTbl .nav.next:hover > div
{
	border-left-color: #80D0FF;
}


.calTbl
{
	overflow: hidden;
	position: relative;
}


.calTbl td,
.calTbl th
{
	padding: 3px 9px;
	text-align: right;
	color: #000000;
	font-weight: normal;
	cursor: pointer;
	border: 1px solid #FFFFFF;
}


.calTbl th
{
	padding: 0;
	text-align: center;
}


.calTbl td:hover
{
	background-color: #80D0FF;
}


.calTbl.animated td:hover
{
	background-color: #FFFFFF;
}


.calTbl td.act
{
	border: 1px solid #20D0FF;
}


.calTbl td.today
{
	border: 1px dashed #20D0FF;
}


.calTbl td.hl,
.calTbl td.hl.omonth
{
	background-color: #80D0FF;
	border: 1px solid #80D0FF;
	color: #FFFFFF;
}


/* previous and next month days style */
.calTbl td.omonth
{
	color: #B0B0B0;
}


/* Month button of year view */
.calTbl td.monthCell,
.calTbl td.yearCell
{
	padding: 10px 16px;
	text-align: center;
	font-size: 14px;
}


.calTbl td.yearCell
{
	padding: 10px 13px;
}
