/* Main container for charts */
.charts
{
	clear: both;
}


.widget_charts
{
	max-width: 500px;
}


.chart_wrap
{
	overflow: hidden;
}


.chart_content
{
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: auto;
}


/* Bar chart information popup */
.chart_popup
{
	position: absolute;
	border: 1px solid #000000;
	background-color: #FFFFFF;
	padding: 5px;
	white-space: nowrap;
}
