.column
{
	float: left;
	width: 49%;
}

.column #importRows
{
	margin-right: 10px;
}


.improw,
.tr_row
{
	padding: 10px;
	background-color: #DDDDDD;
	margin: 3px 0;
}


.improw td
{
	padding: 0px 5px;
	height: 57px;
}


/* Ellipsis cell */
.ellipsis_cell > div
{
	position: relative;
	overflow: hidden;
	height: 23px;
}


/* visible content */
.ellipsis_cell > div > span
{
	display: block;
	position: absolute;
	max-width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 23px;		/* for vertical align of text */
}


/* cell stretching content */
.ellipsis_cell > div:after
{
	content: attr(title);
	overflow: hidden;
	height: 0;
	display: block;
	font-size: 14px;
}


#acc_id,
.controls
{
	margin: 10px;
}

.tr_row > select,
.tr_row input
{
	display: inline;
	float: left;
	border: 1px solid #000;
	padding: 5px;
	width: 100px;
	margin: 0px 5px 0px 0px;
}

.tr_row > select[disabled],
.tr_row input[disabled]
{
	border-color: #DDDDDD;
	background-color: #EEEEEE;
}

.tr_row input[type=button]
{
	width: 30px;
	border: 0 none;
}

.tr_row_placeholder
{
	border: 1px dashed #888888;
	height: 54px;
	margin: 3px 0px;
}

.tr_row_placeholder > input,
.tr_row_placeholder > select
{
	display: none;
}
