.tr_row
{
	padding: 10px;
	background-color: #DDDDDD;
	margin: 3px 0;
}

#acc_id,
.controls
{
	margin: 10px;
}

.tr_row > select,
.tr_row input
{
	display: inline;
	float: left;
	border: 1px solid #000;
	padding: 5px;
	width: 100px;
	margin: 0px 5px 0px 0px;
}

.tr_row > select[disabled],
.tr_row input[disabled]
{
	border-color: #DDDDDD;
	background-color: #EEEEEE;
}

.tr_row input[type=button]
{
	width: 30px;
	border: 0 none;
}

.tr_row_placeholder
{
	border: 1px dashed #888888;
	height: 54px;
}

.tr_row_placeholder > input,
.tr_row_placeholder > select
{
	display: none;
}
