/* icon link */
.iconlink
{
	display: inline-block;
	float: left;
	overflow: hidden;
	height: 32px;
}


.iconlink .icon
{
	width: 32px;
	height: 32px;
	background: url('../img/icons2x.png') no-repeat;
	background-size: 288px 64px;
	overflow: hidden;
	display: inline-block;
	float: left;
}


.iconlink .icon_white
{
	width: 32px;
	height: 32px;
	background: url('../img/icons2x_white.png') no-repeat;
	background-size: 288px 64px;
	overflow: hidden;
	display: inline-block;
	float: left;
}


.iconlink span.icontitle
{
	height: 32px;
	color: #000000;
	display: table-cell;
	vertical-align: middle;
	padding: 0px 0px 0px 5px;
	float: left;
	white-space: nowrap;
	line-height: 32px;
	font-size: 16px;
	font-weight: normal;
	text-decoration: none;
	text-transform: none;
}


.iconlink .icontitle
{
	float: left;
}


.iconlink .maintitle
{
	height: 20px;
	line-height: 20px;
	float: left;
	white-space: nowrap;
	font-size: 16px;
	font-weight: normal;
	text-decoration: none;
	text-transform: none;

	clear: both;
}


.iconlink .addtitle
{
	height: 12px;
	line-height: 12px;
	clear: both;
	float : left;
	color: #20A0FF;
	font-size: 10px;
	font-weight: bold;
	white-space: nowrap;
}


.iconlink > *:hover > span
{
	color: #000000;
}


.iconlink > a
{
	height: 32px;
	display: table-cell;
	vertical-align: middle;
	text-decoration: none;
}


.iconlink > button
{
	height: 32px;
	border: 0 none;
	cursor: pointer;
	padding: 0;
	background: none;
}


/* 16x16 iconlink */
.small_icon
{
	height: 16px;
}


.small_icon .icon
{
	width: 16px;
	height: 16px;
}


.small_icon span
{
	height: 16px;
	line-height: 16px;
	font-size: 10px;
}


.small_icon > a,
.small_icon > button
{
	height: 16px;
}


/* flat square button with icon */
.icon_btn
{
	width: 34px;
	height: 34px;
	padding: 2px;
	margin: 0px;
	color: #FFFFFF;
	background-color: #0072C6;
	cursor: pointer;
}


.icon_btn > span
{
	width: 32px;
	height: 32px;
	background-image: url('../img/icons2x.png');
	background-size: 288px 64px;
	background-repeat: no-repeat;
	display: block;
}


/* calendar button */
.cal_btn
{
	margin: 8px 0px;
}


.cal_btn > span
{
	background-position: -192px -32px;
}


/* search button */
.search_btn > span
{
	background-position: -192px 0px;
}


/* iconlink icons */
.iconlink .add
{
	background-position: 0px 0px;
}


.iconlink > *:hover > .add
{
	background-position: 0px -32px;
}


.iconlink .edit
{
	background-position: -32px 0px;
}


.iconlink > *:hover > .edit
{
	background-position: -32px -32px;
}


.iconlink .del
{
	background-position: -64px 0px;
}


.iconlink > *:hover > .del
{
	background-position: -64px -32px;
}


.iconlink .calendar
{
	background-position: -96px 0px;
}


.iconlink > *:hover > .calendar
{
	background-position: -96px -32px;
}


.iconlink .search
{
	background-position: -128px 0px;
}


.iconlink > *:hover > .search
{
	background-position: -128px -32px;
}


.iconlink .export
{
	background-position: -160px 0px;
}


.iconlink > *:hover > .export
{
	background-position: -160px -32px;
}


.iconlink .close
{
	width: 16px;
	height: 16px;
	background-position: -224px -32px;
}


.iconlink > *:hover > .close
{
	background-position: -224px -48px;
}


.iconlink .close_gray
{
	width: 16px;
	height: 16px;
	background-position: -240px -46px;
}


.iconlink > *:hover > .close_gray
{
	background-position: -224px -46px;
}
