/* Fix IE8 don't support background-size */
/* user button */
.user_button .user_icon
{
	background-image: url('../img/icons.png');
}

/* icon links */
.iconlink .icon
{
	background-image: url('../img/icons.png');
}


.iconlink .icon_white
{
	background-image: url('../img/icons_white.png');
}

.icon_btn > span
{
	background-image: url('../img/icons.png');
}


/* tile icons */
.tile_icon
{
	background-image: url('../img/tileicons.png');
}


/* sidebar ellipsis */
.sidebar_ellipsis
{
	background: url('../img/sbellipsis.png') no-repeat;
}


/* Widget title glyph arrow */
.widget_title .glyph
{
	background-image: url('../img/icons.png');
}
