/* popup */
.popup
{
	display: block;
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	z-index: 20;
}


.popup > .popup_back
{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #000000;
	opacity: 0.5;
}


.popup > .popup_content
{
	position: fixed;
	background-color: #FFFFFF;
	width: 100%;
	top: 50%;
	margin-top: -120px;
	color: #000000;
}


.popup > .popup_content > .box
{
	margin: 0px auto;
	max-width: 600px;
	min-width: 130px;
	padding: 15px 20px;
	position: relative;
	background-color: #FFFFFF;
}


/* Close button */
.popup .close_btn,
.box.dragging .close_btn
{
	position: absolute;
	overflow: hidden;
	top: 10px;
	right: 10px;
	height: 14px;
	width: 14px
}


.popup .close_btn > button,
.box.dragging .close_btn > button
{
	height: 14px;
	width: 14px;
	border: 0 none;
	cursor: pointer;
	padding: 0;
	background: none;
}


.popup .close_btn > button > span,
.box.dragging .close_btn > button > span
{
	width: 14px;
	height: 14px;
	background-image: url('../img/close.png');
	background-repeat: no-repeat;
	overflow: hidden;
	background-position: -14px 0px;
	display: inline-block;
}


.popup .close_btn > button:hover > span,
.box.dragging .close_btn > button:hover > span
{
	background-position: 0px 0px;
}


.popup_message
{
}


.popup_controls
{
	padding: 29px 0px 8px;
	display: inline-block;
}


.popup_title
{
}
