/* logo */
.logo > a > .logo_img
{
	background-image: url('../img/logo.png');
}


.login_logo > .logo
{
	background-image: url('../img/logo_u.png');
}


/* user button */
.user_button .user_icon
{
	background-image: url('../img/icons.png');
}

/* icon links */
.iconlink .icon
{
	background-image: url('../img/icons.png');
}


.iconlink .icon_white
{
	background-image: url('../img/icons_white.png');
}

.icon_btn > span
{
	background-image: url('../img/icons.png');
}


/* tile icons */
.tile_icon
{
	background-image: url('../img/tileicons.png');
}


/* sidebar ellipsis */
.sidebar_ellipsis
{
	background-image: url('../img/sbellipsis.png');
}


/* Widget title glyph arrow */
.widget_title .glyph
{
	background-image: url('../img/icons.png');
}


/* Transactions list mode icons */
.mode_selector .icon
{
	background-image: url('../img/icons.png');
}


/* Popup close button */
.popup .close_btn > button > span,
.box.dragging .close_btn > button > span
{
	background-image: url('../img/icons.png');
}
