/* Sidebar */
.sidebar
{
	display: table-cell;
	min-height: 100%;
	height: 100%;
	width: 15px;
}


.sidebar > div
{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: #404040;
}


.sidebar > div > .siderbar_content
{
	overflow: hidden;
	min-width: 15px;
	height: 100%;
}


.sidebar.active > div > .siderbar_content
{
	display: block;
	color: #FFFFFF;
	background-color: #404040;
}


.siderbar_content > div
{
	position: relative;
	min-height: 64px;
}


.sidebar_ellipsis
{
	width: 15px;
	height: 32px;
	background: url('../img/sbellipsis2x.png') no-repeat;
	background-size: 15px 32px;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -16px;
}


.sidebar_buttons
{
	display: none;
	overflow: hidden;
	padding: 5px;
}


.sidebar.active .sidebar_buttons
{
	display: block;
}


.siderbar_content .iconlink
{
	display: block;
	clear: both;
	float: none;
	margin: 9px 12px;
}



.siderbar_content .iconlink span
{
	color: #FFFFFF;
}

