/* layered layout */
.layer
{
	position: absolute;
	top: 50px;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
	height: auto;
}


.cont
{
	position: absolute;
	width: 100%;
	top: 50%;
}


.box
{
	max-width: 400px;
	min-width: 130px;
	margin: 0 auto;
	padding: 0px 12px;
}


/* login page */
.login_layer
{
	min-height: 264px;
}


.login_layer > .cont
{
	margin-top: -132px;	
}


.login_layer > .cont > .box
{
	height: 264px;
}


.login_controls
{
	padding: 5px 0px;
}


/* registration page */
.register_layer
{
	min-height: 335px;
}


.register_layer > .cont
{
	margin-top: -168px;
}


.register_layer > .cont > .box
{
	height: 335px;
}


/* alternative link */
.alter_link
{
	margin: 0px 20px;
}


/* profile */
.profile_block
{
	margin: 10px 0px 20px 0px;
}


.profile_block > h2
{
	font-size: 18px;
	font-weight: normal;
	margin: 0px;
}


.profile_block > span
{
	font-size: 16px;
}

