/* Type menu */
.trtype-menu {
  margin-bottom: 12px;

  .link-menu-item_selected {
    font-weight: 500;
  }
}

/* Account container */
.accounts-section {
  display: flex;
  flex-flow: column nowrap;
  align-items: normal;
  position: relative;
  max-width: var(--section-width);
}

/* Debt account toggle button */
.account-toggler {
  display: flex;
}

/* Swap button */
.swap-btn {
  --btn-icon-size: 24px;
  --btn-hover-icon-color: var(--main-text-color);
  --btn-active-background: var(--bg-color-4);
  --btn-icon-color: var(--neutral-color);

  display: inline-flex;
  position: absolute;
  top: 50%;
  margin-top: -18px;
  background: none;
  padding: 5px;
  align-self: flex-end;
  border: 0 none;
  border-radius: 50%;
  cursor: pointer;
}

/* Interval offset field */
.interval-offset-field .field__content {
  display: flex;
  flex-flow: row nowrap;
}

.weekday-select {
  --wds-item-size: 2rem;
  --link-menu-border-width: 1px;
  --link-menu-border-color: var(--accent-color);
  --link-menu-color: var(--accent-color);
  --link-menu-selected-color: #ffffff;
  --link-menu-selected-bg: var(--accent-color);
  --link-menu-hover-color: #ffffff;
  --link-menu-hover-bg: var(--accent-color);
  --link-menu-disabled-border-color: var(--link-menu-disabled-color);

  .link-menu-item,
  .link-menu-item:visited {
    justify-content: center;
    border-radius: 100vh;
    width: var(--wds-item-size);
    height: var(--wds-item-size);
    line-height: var(--wds-item-size);
    cursor: pointer;
  }

  .checkbox__check {
    display: none;
  }
}

/* Desktop */
@media (min-width: 768px) {
  .swap-btn {
    position: static;
    align-self: center;
    margin: 0 8px;
  }

  .accounts-section {
    flex-flow: row nowrap;
    max-width: 100%;
  }
}
