/* Original import data container */
.orig-data {
  --odt-header-color: #1083e9;
  --odt-min-column-width: 135px;

  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  overflow: hidden;

  header {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 8px;
  }
}

/* Original import data table */
.orig-data-table {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  column-gap: 16px;

  .column-group {
    display: flex;
    flex-flow: column nowrap;
    align-items: normal;
    column-gap: 16px;
  }

  .column {
    display: flex;
    flex-flow: row nowrap;
    column-gap: 8px;
  }

  .column__header {
    font-size: 14px;
    font-weight: 600;
    padding: 2px 0;
    margin: 0;
    flex-shrink: 0;
    min-width: var(--odt-min-column-width);
    white-space: nowrap;
    color: var(--odt-header-color);
  }

  .column__data {
    font-size: 16px;
    padding: 2px 0;
  }
}

/* Desktop */
@media (min-width: 992px) {
  .orig-data-table {
    flex-flow: row wrap;
    row-gap: 8px;

    .column-group {
      flex-flow: row nowrap;
    }

    .column__header {
      min-width: auto;
    }

    .column {
      flex-flow: column nowrap;
    }
  }
}
