/* Import rule create/update form */
.rule-form {
  display: flex;
  flex-flow: column nowrap;
  max-height: 100%;
  flex: 1 1 auto;
  min-height: 0;

  /* Delete button */
  .icon-btn,
  .icon-btn:visited {
    --btn-icon-width: 34px;
    --btn-icon-color: var(--list-item-icon-fill);
    --btn-hover-icon-color: var(--list-item-hover-icon-fill);
    --btn-hover-background: var(--bg-color-4);

    display: flex;
    align-items: center;
    padding: 0;
    flex-flow: row nowrap;
    justify-content: center;
    background: none;
    cursor: pointer;
  }

  /* No data message */
  .nodata-message {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: none;
  }
}

/* Collapsible container */
.rule-form-collapse {
  min-height: 40px;
  margin-bottom: 9px;

  .collapsible-header {
    flex-flow: row nowrap;
    align-items: center;
    column-gap: 24px;
    flex: none;
    padding: 2px 8px 2px 8px;
    border: 0;
    cursor: pointer;
    color: var(--main-text-color);
    background-color: var(--list-item-bg-color);

    label {
      font-size: 18px;
      margin: 0;
    }

    .create-btn,
    .toggle-btn {
      --btn-icon-color: var(--list-item-icon-fill);
      --btn-hover-icon-color: var(--list-item-hover-icon-fill);
    }

    .toggle-btn {
      margin-left: 0;
    }
  }

  /* Conditions/Actions list container */
  .collapsible-content {
    display: block;
    flex: 1 1 auto;
    height: 0;
    max-height: 0;
    overflow-y: auto;
    padding: 0;
    border: 0 none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: var(--text-color-3);
    background-color: var(--list-item-alt-bg-color);
  }

  .link-btn {
    display: none;
  }

  &.collapsible__expanded {
    .toggle-btn .btn__icon {
      transform: rotate(180deg);
    }

    .collapsible-header {
      box-shadow: 0 4px 5px -5px #00000088;
      z-index: 2;
    }

    .collapsible-content {
      height: auto;
      min-height: 48px;
      max-height: none;
      padding: 6px;
      margin: 0 1px;
    }

    .link-btn {
      display: inline-block;
    }
  }
}

.conditions-list,
.actions-list {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  row-gap: 3px;
}

/* Validation feedback container */
.rule-form__feedback {
  margin-bottom: 9px;
}

@media (hover: hover) {
  .rule-form-collapse .collapsible-header:hover {
    background-color: var(--list-item-hover-bg-color);
  }
}
