/* Import condition create/update form */
.cond-form {
  display: flex;
  flex-flow: row nowrap;
  max-height: 100%;
  flex: 1 1 auto;
  min-height: 0;
  padding: 4px;

  + .cond-form {
    margin-top: 3px;
  }

  /* Input field and label group */
  .field {
    --field-title-font-size: 14px;

    flex-flow: row nowrap;
    align-items: center;
    margin: 0 0 4px 0;
  }

  .field__title {
    width: 20%;
    min-width: 70px;
    margin: 0;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .dd__combo {
    min-height: auto;
    padding-right: 30px;
  }

  .dd__combo,
  .dd__list {
    border-width: 1px;
  }

  input[type="text"] {
    display: flex;
    border: 1px solid;
    padding: 5px;
    height: 32px;
  }

  /* Update and delete buttons */
  .icon-btn,
  .icon-btn:visited,
  .icon-btn:active {
    background: none;
    cursor: pointer;
  }
}

/* Form container */
.cond-form__container {
  display: flex;
  flex-flow: column nowrap;
  max-height: 100%;
  flex: 1 1 auto;
  min-height: 0;
  overflow: hidden;

  .checkbox__label {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

/* Fields container */
.cond-form__fields {
  display: flex;
  flex-flow: column nowrap;
  max-height: 100%;
  flex: 1 1 auto;
  min-height: 0;
  margin-bottom: 8px;
}

.property-field,
.operator-field {
  flex-grow: 1;
  flex-shrink: 0;
}

.value-field {
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
  flex-basis: 100%;
}

.value-field .checkbox {
  margin-left: 20%;
}

/* Controls container */
.cond-form__controls {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

/* Desktop */
@media (min-width: 768px) {
  .cond-form__fields {
    flex-flow: row nowrap;
  }

  .cond-form {
    .field {
      --field-title-font-size: 12px;

      flex-direction: column;
      align-items: normal;
      margin: 0 8px 0 0;
    }

    .field__title {
      width: auto;
      min-width: auto;
      margin: 0 0 4px 1px;
      text-align: left;
    }
  }

  .value-field .checkbox {
    margin-left: 0;
  }
}
