/* Raw data table */
.raw-data-table {
  --rdc-cell-height: 2rem;
  --rdc-tpl-prop-height: 1.75rem;
  --rdt-border-width: 1px;

  display: flex;
  flex-flow: row nowrap;
}

.raw-data-table__data {
  display: flex;
  flex-flow: row nowrap;
  overflow-x: auto;
}

.raw-data-column {
  display: flex;
  flex-flow: column nowrap;
  height: fit-content;
  margin-bottom: 2px;
  border-top: var(--rdt-border-width) solid;
  border-right: var(--rdt-border-width) solid;
  border-color: #9b9b9b;
}

.raw-data-column__tpl {
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  background-color: #214b6f;
}

.raw-data-column__header {
  font-weight: 600;
}

.raw-data-column__tpl,
.raw-data-column__header,
.raw-data-column__cell {
  white-space: nowrap;
  padding: 0 8px;
  height: var(--rdc-cell-height);
  line-height: var(--rdc-cell-height);
  border-bottom: var(--rdt-border-width) solid;
  border-color: #9b9b9b;
}

.raw-data-table__tpl-2 .raw-data-column__tpl {
  height: calc(var(--rdc-tpl-prop-height) * 2 + var(--rdt-border-width));
}

.raw-data-table__tpl-3 .raw-data-column__tpl {
  height: calc(var(--rdc-tpl-prop-height) * 3 + var(--rdt-border-width));
}

.raw-data-table__tpl-4 .raw-data-column__tpl {
  height: calc(var(--rdc-tpl-prop-height) * 4 + var(--rdt-border-width));
}

.raw-data-table__tpl-5 .raw-data-column__tpl {
  height: calc(var(--rdc-tpl-prop-height) * 5 + var(--rdt-border-width));
}

.raw-data-table__tpl-6 .raw-data-column__tpl {
  height: calc(var(--rdc-tpl-prop-height) * 6 + var(--rdt-border-width));
}

.raw-data-column__tpl-prop {
  height: var(--rdc-tpl-prop-height);
  line-height: var(--rdc-tpl-prop-height);
}

.raw-data-column_row-numbers {
  border-left: 0 none;
  border-top: var(--rdt-border-width) solid #00000000;

  .raw-data-column__tpl {
    background: none;
  }

  .raw-data-column__cell {
    text-align: right;
  }

  .raw-data-column__cell:last-child {
    border-bottom: 0 none;
  }
}

@media (hover: hover) {
  .raw-data-column:hover {
    background-color: #7b7b7b;
  }

  .raw-data-column:hover .raw-data-column__tpl {
    background-color: #2c6290;
  }
}
