.date-range-filter {
  .btn.input-group__inner-btn {
    --btn-icon-size: 14px;
    --btn-icon-color: var(--ig-inner-button-color);
    --btn-hover-icon-color: var(--ig-inner-button-active-color);
    --btn-active-icon-color: var(--ig-inner-button-active-color);
  }

  .date-range-part {
    min-width: 120px;
  }
}
