.content-container {
  display: inline-flex;
  flex-flow: row wrap;
  width: 100%;
  position: relative;
}

/* Main page widgets */
.widget {
  display: inline-flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  min-width: 200px;
  margin: 0 20px 20px 0;
}

@media screen and (max-width: 500px) {
  .widget {
    margin: 0;
    padding: 0 0 20px 0;
    overflow: hidden;
  }

  .widget_title {
    clear: both;
  }
}

/* title of main page widget */
.widget_title {
  display: block;
  height: 32px;
  margin: 10px 0;
  color: var(--main-text-color);

  .widget_title-link,
  .widget_title-link:visited {
    height: 32px;
    text-decoration: none;
    color: var(--main-text-color);
  }

  span {
    font-weight: 300;
    font-size: 26px;
    line-height: 32px;
    display: inline-block;
  }

  .glyph {
    width: 24px;
    height: 24px;
    display: inline-block;
    margin: 0 0 0 4px;
    vertical-align: text-bottom;
  }

  .glyph-icon {
    width: 24px;
    height: 24px;
    fill: var(--main-text-color);
  }
}

/* Summary widget */
.summary-widget {
  max-width: 440px;

  .tab-list {
    --tab-font-size: 26px;
    --tab-padding: 0;
    --tab-font-weight: 300;
    --tab-selected-font-weight: 300;
    --tab-gap: 24px;
    --tab-border-width: 0;
    --tab-content-background: none;
    --tab-content-padding: 0;
  }

  .tab-list_header {
    height: 32px;
    margin: 10px 0;

    .link-menu-item__title {
      line-height: 32px;
    }
  }

  .tiles + .tiles {
    border-top: 1px solid var(--list-separator-color);
    padding-top: 0.75rem;
    margin-top: 0.5rem;
  }

  .link-btn {
    padding: 0.5rem 0;
    height: auto;
  }
}

/* Latest transactions widget */
.transactions-widget {
  flex-basis: 350px;
}

@media (hover: hover) {
  .widget_title-link:hover {
    color: var(--main-text-color);
    text-decoration: none;
  }
}
