.content-container {
  display: inline-flex;
  flex-flow: row wrap;
  width: 100%;
  position: relative;
}

/* Main page widgets */
.widget {
  display: inline-flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  min-width: 200px;
  margin: 0 20px 20px 0;
}

@media screen and (max-width: 500px) {
  .widget {
    margin: 0;
    padding: 0 0 20px 0;
    overflow: hidden;
  }

  .widget_title {
    clear: both;
  }
}

/* title of main page widget */
.widget_title {
  display: block;
  height: 32px;
  margin: 10px 0;

  span {
    font-weight: 300;
    font-size: 26px;
    line-height: 32px;
    display: inline-block;
  }

  .glyph {
    width: 24px;
    height: 24px;
    display: inline-block;
    margin: 0 0 0 4px;
    vertical-align: text-bottom;
  }
}

.widget_title-link,
.widget_title-link:hover {
  height: 32px;
  text-decoration: none;
}

.glyph-icon {
  width: 24px;
  height: 24px;
}

/* Accounts widget */
.accounts-widget {
  max-width: 440px;
}

.accounts-widget,
.persons-widget {
  .tiles + .tiles {
    border-top: 1px solid var(--list-separator-color);
    padding-top: 0.75rem;
    margin-top: 0.5rem;
  }

  .link-btn {
    padding: 0.5rem 0;
  }
}

/* Latest transactions widget */
.transactions-widget {
  flex-basis: 350px;
}
