/* Rule action item */
.action-item {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  column-gap: 12px;
  padding: 8px;
  overflow: hidden;
}

.action-item__type {
  font-size: 14px;
}

.action-item__value {
  flex-grow: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 14px;
}

.action-item__value::before,
.action-item__value::after {
  content: "`";
}
