body.dark-theme {
  color: #dddddd;
  background-color: #101010;
}

.dark-theme .admin-tbl,
.dark-theme .admin-tbl th,
.dark-theme .admin-tbl td,
.dark-theme .test-tbl,
.dark-theme .test-tbl th,
.dark-theme .test-tbl td {
  border-color: #dddddd;
}

/* Tests */
.dark-theme .test-results-container td {
  border-color: #dddddd;
}

.dark-theme .admin-tbl tr:hover td,
.dark-theme .test-tbl tr:hover td {
  background-color: #444444;
}

.dark-theme textarea {
  color: #dddddd;
  border-color: #dddddd;
  background-color: #202020;
}

/* Popup */
.dark-theme .popup__content .popup__content-box {
  color: #dddddd;
  background-color: #303030;
}

.dark-theme .popup__title,
.dark-theme .popup__message {
  color: #dddddd;
}

/* API tests */
.dark-theme .left-column,
.dark-theme .right-column {
  background-color: #202020;
}

.dark-theme .menu-list > li > button {
  color: #dddddd;
}

.dark-theme .menu-list .sub-menu-list > li:hover {
  color: #b0b0b0;
}

.dark-theme .request-data-form {
  background-color: #444444;
  border-color: #202020;
}

.dark-theme .request-data-form input[type="text"] {
  color: #dddddd;
  border-color: #dddddd;
  background-color: #101010;
}

.dark-theme .request-data-form input[disabled],
.dark-theme .request-data-form select[disabled],
.dark-theme .request-data-form textarea[disabled] {
  color: #888888;
  border-color: #888888;
}

.dark-theme .request-item {
  border-color: #444444;
  background-color: #444444;
}

.dark-theme .request-item .response-container.response-container_pending {
  border-color: #444444;
  color: #444444;
}
