.dark-theme {
  --main-text-color: #dddddd;
  --main-bg-color: #202020;
  --alt-bg-color: #2a2a2a;

  /* Header */
  --header-bg-color: #181818;
  --header-hover-btn-bg-color: #303030;

  /* Buttons */
  --btn-bg: #3c3c3c;
  --btn-hover-bg: #4a4a4a;

  /* Inputs */
  --input-bg-color: #181818;
  --input-border-color: #2e2e2e;
  --active-input-border-color: #d0d0d0;

  color: var(--main-text-color);
  background-color: var(--main-bg-color);

  /* Navigation items */
  a.nav-item__link,
  a.nav-item__link:visited {
    color: #dddddd;
  }

  /* Tables */
  .admin-tbl,
  .admin-tbl th,
  .admin-tbl td,
  .test-tbl,
  .test-tbl th,
  .test-tbl td {
    border-color: #dddddd;
  }

  /* Tests */
  .test-results-container td {
    border-color: #dddddd;
  }

  textarea {
    color: #dddddd;
    border-color: #dddddd;
    background-color: #202020;
  }

  /* Checkbox */
  .checkbox {
    --checkbox-text: var(--main-text-color);
    --checkbox-bg: var(--input-bg-color);
    --checkbox-border: var(--input-border-color);
  }

  /* Popup */
  .popup__content .popup__content-box {
    color: #dddddd;
    background-color: #303030;
  }

  .popup__title,
  .popup__message {
    color: #dddddd;
  }

  /* API tests */
  .left-column,
  .right-column {
    background-color: #202020;
  }

  .menu-list > li > button {
    color: #dddddd;
  }

  .request-data-form {
    background-color: #444444;
    border-color: #202020;
  }

  .request-data-form input[type="text"] {
    color: #dddddd;
    border-color: #dddddd;
    background-color: #101010;
  }

  .request-data-form input[disabled],
  .request-data-form select[disabled],
  .request-data-form textarea[disabled] {
    color: #888888;
    border-color: #888888;
  }

  .request-item {
    border-color: #444444;
    background-color: #444444;
  }

  .request-item .response-container.response-container_pending {
    border-color: #444444;
    color: #444444;
  }
}

@media (hover: hover) {
  .dark-theme {
    a.nav-item__link:hover {
      color: #ffffff;
    }

    .admin-tbl tr:hover td,
    .test-tbl tr:hover td {
      background-color: #444444;
    }

    .menu-list .sub-menu-list > li:hover {
      color: #b0b0b0;
    }
  }
}
