.white-theme {
  --main-text-color: #000000;
  --main-bg-color: #ffffff;
  --alt-bg-color: #f0f0f0;

  /* Header */
  --header-bg-color: #404040;
  --header-hover-btn-bg-color: #606060;

  /* Navigation menus */
  --nav-menu-separator-color: #c0c0c0;

  /* Buttons */
  --btn-bg: #e8e8e8;
  --btn-hover-bg: #c9c9c9;

  /* Inputs */
  --input-bg-color: #f2f2f2;
  --input-border-color: #b0b0b0;
  --active-input-border-color: #888888;

  /* Disabled inputs */
  --input-disabled-bg-color: #eeeeee;
  --input-disabled-border-color: #dddddd;
  --input-disabled-text-color: #b0b0b0;

  color: var(--main-text-color);
  background-color: var(--main-bg-color);

  /* Navigation items */
  a.nav-item__link,
  a.nav-item__link:visited {
    color: #202020;
  }

  /* Tables */
  .admin-tbl,
  .admin-tbl th,
  .admin-tbl td,
  .test-tbl,
  .test-tbl th,
  .test-tbl td {
    border-color: #000000;
  }

  /* Tests */
  .test-results-container td {
    border-color: #000000;
  }

  textarea {
    color: #000000;
    border-color: #000000;
    background-color: #ffffff;
  }

  /* Checkbox */
  .checkbox {
    --checkbox-text: var(--main-text-color);
    --checkbox-bg: var(--input-bg-color);
    --checkbox-border: var(--input-border-color);
  }

  /* Popup */
  .popup__content .popup__content-box {
    color: #000000;
    background-color: #ffffff;
  }

  .popup__title,
  .popup__message {
    color: #000000;
  }

  /* API tests */
  .left-column,
  .right-column {
    background-color: #e0e0e0;
  }

  .menu-list > li > button {
    color: #000000;
  }

  .request-item {
    border-color: #cecece;
    background-color: #cecece;
  }

  .request-item .response-container.response-container_pending {
    border-color: #cccccc;
    color: #cccccc;
  }
}

@media (hover: hover) {
  .white-theme {
    a.nav-item__link:hover {
      color: #000000;
    }

    .admin-tbl tr:hover td,
    .test-tbl tr:hover td {
      background-color: #bbbbbb;
    }

    .menu-list .sub-menu-list > li:hover {
      color: #222222;
    }
  }
}
