.schedule-item {
  --schedule-item-column-gap: 16px;
  --schedule-item-details-row-gap: 8px;
  --schedule-item-min-column-width: 130px;

  border: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  position: relative;
}

.schedule-item[data-type="1"] {
  --transaction-color: var(--transaction-expense);
  --trans-item-amount-color: var(--transaction-color);
}

.schedule-item[data-type="2"] {
  --transaction-color: var(--transaction-income);
  --trans-item-amount-color: var(--transaction-color);
}

.schedule-item[data-type="3"] {
  --transaction-color: var(--transaction-transfer);
  --trans-item-amount-color: var(--transaction-color);
}

.schedule-item[data-type="4"] {
  --transaction-color: var(--transaction-debt);
  --trans-item-amount-color: var(--transaction-color);
}

.schedule-item[data-type="5"] {
  --transaction-color: var(--transaction-credit-limit);
  --trans-item-amount-color: var(--transaction-color);
}

.schedule-item .list-item__content {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: var(--transaction-color);
}

.schedule-item__schedule {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  row-gap: var(--list-item-row-gap);
  column-gap: var(--list-item-column-gap);
  overflow: hidden;
}

.schedule-item__date-range,
.schedule-item__start-date,
.schedule-item__end-date,
.schedule-item__interval,
.schedule-item__offset,
.schedule-item__start-date-field .field__content,
.schedule-item__end-date-field .field__content,
.schedule-item__interval-field .field__content,
.schedule-item__offset-field .field__content {
  color: var(--list-item-text-color);
}

.schedule-item__date-range,
.schedule-item__start-date,
.schedule-item__end-date,
.schedule-item__interval,
.schedule-item__offset {
  min-height: 23px;
  line-height: 23px;
  flex: 0 0 auto;
}

.schedule-item__date-range,
.schedule-item__interval,
.schedule-item__offset {
  font-size: 0.9rem;
}

.schedule-item_details {
  .schedule-item__content {
    row-gap: var(--schedule-item-details-row-gap);
  }

  .schedule-item__schedule {
    display: grid;
    align-items: stretch;
    row-gap: var(--schedule-item-details-row-gap);
  }

  .field {
    --field-title-font-size: 12px;
    --field-content-font-size: 14px;
  }

  .field__title {
    margin-bottom: 1px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--dimmed-text-color);
  }

  .field__content {
    min-height: 23px;
    line-height: 23px;
  }

  .schedule-item__column {
    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      minmax(var(--schedule-item-min-column-width), 1fr)
    );
    gap: var(--schedule-item-details-row-gap) var(--schedule-item-column-gap);
  }
}

@media (min-width: 1200px) {
  .schedule-item_details {
    .schedule-item__content {
      align-items: stretch;
    }

    .schedule-item__schedule {
      align-items: flex-start;
      grid-template-columns: 2fr 2fr;
    }
  }
}
