.chart-legend__content {
  width: 100%;
}

.chart__legend-list {
  --chart-legend-max-collapsed-height: 53px;

  max-height: var(--chart-legend-max-collapsed-height);
  overflow: hidden;
}

.chart__legend-list.expanded {
  max-height: none;
}

.chart-legend__item-title {
  position: relative;
  left: -5px;
  color: var(--dimmed-text-color);
}

/* Active legend item */
.chart-legend__item.chart-legend__item_active {
  .chart-legend__item-title {
    color: var(--main-text-color);
  }
}
