/* Filters */
.trans-type-filter {
  max-width: 500px;
}

.date-range-filter {
  max-width: 400px;

  .filter-item__title {
    display: flex;
    flex-flow: row nowrap;
    column-gap: 1.5rem;
  }
}

.amount-range-filter {
  max-width: 400px;
}

/* Clear all filters button */
.btn.clear-all-btn {
  --btn-title-color: var(--accent-color);
  --btn-hover-title-color: var(--accent-hover-color);
  --btn-size: var(--input-height);

  text-decoration: none;
}

@media (hover: hover) {
  .btn.clear-all-btn:hover {
    text-decoration: underline;
  }
}

/* Filters inside Collapsible container */
.filters-collapsible {
  .submit-btn {
    display: none;
  }

  .filters-controls {
    padding-top: 12px;
  }
}
