/* Filters */
.trans-type-filter {
  max-width: 450px;
}

.report-type-filter,
.group-type-filter {
  max-width: 300px;

  .link-menu {
    flex-flow: row nowrap;
  }
}

.accounts-filter {
  flex-shrink: 0;
}

.currency-filter {
  flex-grow: 0;
}

/* Filters inside Collapsible container */
.filters-collapsible {
  .submit-btn {
    display: none;
  }
}
