/* icon link */
.iconbutton {
  display: inline-flex;
  flex-flow: row nowrap;
  height: 32px;
  border: 0 none;
  padding: 0;
  overflow: hidden;
  vertical-align: middle;
  text-decoration: none;
  background: none;
  cursor: pointer;

  &:focus-visible {
    box-shadow: var(--focus-shadow);
  }
}

.iconbutton__icon {
  width: 32px;
  height: 32px;
  border: 2px solid #000000;
  border-radius: 50%;
  padding: 2px;
  overflow: hidden;
}

.iconbutton__content {
  height: 32px;
  color: #000000;
  display: inline-flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  vertical-align: middle;
  padding: 0 0 0 5px;
  white-space: nowrap;
  line-height: 32px;
  font-size: 16px;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
}

.iconbutton__title {
  height: 20px;
  line-height: 20px;
  white-space: nowrap;
  font-size: 16px;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
}

.iconbutton__subtitle {
  height: 12px;
  line-height: 12px;
  clear: both;
  color: var(--accent-color-alt);
  font-size: 10px;
  font-weight: bold;
  white-space: nowrap;
}

.iconbutton[disabled] {
  pointer-events: none;
  opacity: 0.3;
}

@media (hover: hover) {
  .iconbutton:hover .iconbutton__icon {
    background-color: #000000;
  }

  .iconbutton:hover .iconbutton__icon-content {
    fill: #ffffff;
  }

  .iconbutton:hover .iconbutton__icon,
  .iconbutton:hover .iconbutton__content {
    color: #000000;
  }
}
