.heading {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  padding: 10px 0 0 0;
  column-gap: 24px;

  h1 {
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 32px;
    vertical-align: middle;
  }
}

.heading-actions {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
  flex: 1 1 auto;
  column-gap: 18px;
  z-index: 1001;

  .popup-menu-btn {
    background: none;
  }
}

.header .heading-actions {
  margin-right: 9px;

  .btn {
    --btn-title-color: var(--header-color);
    --btn-icon-color: var(--header-color);
    --btn-hover-title-color: var(--header-color);
    --btn-hover-icon-color: var(--header-color);
  }

  .popup-menu-btn__icon {
    fill: var(--header-color);
  }
}
