.heading {
  display: flex;
  flex-flow: row wrap;
  padding: 10px 0 0 0;
  column-gap: 24px;

  h1 {
    font-size: 26px;
    font-weight: 300;
    line-height: 32px;
    height: 32px;
    vertical-align: middle;
    white-space: nowrap;
  }
}

.heading-actions {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
  flex: 1 1 auto;
  column-gap: 18px;
  z-index: 1001;
}

.header .heading-actions {
  margin-right: 9px;
}
