/* Import rule item */
.list-item.rule-item {
  flex: 0 0 auto;
  flex-flow: column nowrap;

  /* Main static view */
  .collapsible-header {
    flex-flow: row nowrap;
    font-size: 16px;
    border: 0;
    width: 100%;
    flex-shrink: 0;
    cursor: pointer;
    color: var(--main-text-color);
    background-color: var(--list-item-bg-color);
  }

  /* Menu */
  .popup-menu {
    position: static;
  }

  .popup-menu-list {
    right: auto;
  }

  /* Delete and toggle expand/collapse button */
  .icon-btn {
    display: flex;
    align-items: center;
    padding: 0;
    flex-flow: row nowrap;
    justify-content: center;
    background: none;
    cursor: pointer;
  }

  .toggle-btn {
    --btn-icon-color: var(--list-item-icon-fill);
    --btn-hover-icon-color: var(--list-item-hover-icon-fill);
  }

  .collapsible-content {
    flex-flow: column nowrap;
    padding: 0;
    overflow: hidden;
    border: 0 none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: var(--text-color-3);
    background-color: var(--list-item-alt-bg-color);
    transition: all 0.2s ease;
  }

  .rule-item__content {
    padding: 8px;
  }
}

/* Top row: property, operator, value */
.rule-item__main-top {
  display: flex;
  flex-flow: row wrap;
}

.rule-item__property,
.rule-item__value-property {
  font-weight: 200;
  white-space: nowrap;
  margin-right: 12px;
}

.rule-item__operator {
  font-size: 16px;
  font-weight: 200;
  font-style: italic;
  white-space: nowrap;
  margin-right: 12px;
  color: var(--dimmed-text-color);
}

.rule-item__value {
  flex-grow: 1;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.rule-item__value::before,
.rule-item__value::after {
  content: "`";
}

/* Actions and child rules count info element */
.rule-item__info {
  font-size: 12px;
  color: var(--list-item-text-color);
}

/* Controls */
.rule-item.collapsible__expanded .toggle-btn .btn__icon {
  transform: rotate(180deg);
}

/* Rule item header */
.rule-item.collapsible__expanded > .collapsible-header {
  box-shadow: 0 4px 5px -5px #00000088;
  z-index: 2;
}

/* Rule item content */
.rule-item.collapsible__expanded > .collapsible-content {
  margin: 0 1px;
}

.rule-item__header {
  font-size: 14px;
  font-weight: 600;
}

.rule-item__conditions,
.rule-item__actions {
  display: flex;
  flex-flow: column nowrap;
  gap: 1px;
}

.rule-item__conditions {
  margin-bottom: 8px;
}

.rule-item__conditions .cond-item:first-child,
.rule-item__actions .action-item:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.rule-item__conditions .cond-item:last-child,
.rule-item__actions .action-item:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
