/* Raw data table */
.raw-data-table {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 4px;
}

.raw-data-column {
  display: flex;
  flex-flow: column nowrap;
  margin-right: 2px;
  border: 1px solid;
  border-bottom: 0 none;
  border-color: #9b9b9b;
}

.raw-data-column__tpl {
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  background-color: #214b6f;
}

.raw-data-column__header {
  font-weight: 600;
}

.raw-data-column__tpl,
.raw-data-column__header,
.raw-data-column__cell {
  --rdc-cell-height: 1.75rem;

  white-space: nowrap;
  padding: 0 4px;
  height: var(--rdc-cell-height);
  line-height: var(--rdc-cell-height);
  border-bottom: 1px solid;
  border-color: #9b9b9b;
}

.raw-data-table__tpl-2 .raw-data-column__tpl {
  height: calc(var(--rdc-cell-height) * 2);
}

.raw-data-table__tpl-3 .raw-data-column__tpl {
  height: calc(var(--rdc-cell-height) * 3);
}

.raw-data-table__tpl-4 .raw-data-column__tpl {
  height: calc(var(--rdc-cell-height) * 4);
}

.raw-data-table__tpl-5 .raw-data-column__tpl {
  height: calc(var(--rdc-cell-height) * 5);
}

.raw-data-table__tpl-6 .raw-data-column__tpl {
  height: calc(var(--rdc-cell-height) * 6);
}

.raw-data-column__tpl-prop {
  height: var(--rdc-cell-height);
  line-height: var(--rdc-cell-height);
}

@media (hover: hover) {
  .raw-data-column:hover {
    background-color: #7b7b7b;
  }

  .raw-data-column:hover .raw-data-column__tpl {
    background-color: #2c6290;
  }
}
