:root {
  --tile-gap: 10px;
  --tile-size: 100px;
  --tile-content-color: #ffffff;
  --tile-bg-color: #20a0ff;
}

.tile {
  width: var(--tile-size);
  height: var(--tile-size);
  background-color: var(--tile-bg-color);
  border: 0 none;
  padding: 0;
  margin: 0;
  display: inline-flex;
  position: relative;
  overflow: hidden;
  text-transform: none;
  font-weight: normal;
  text-decoration: none;
  cursor: pointer;
}

.tile_wide {
  width: calc(var(--tile-size) * 2 + var(--tile-gap));
}

.tile_selected::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border: 3px solid #0072c6;
  cursor: pointer;
}

.tile__title,
.tile__subtitle,
.tile__icon {
  position: absolute;
}

.tile__title,
.tile__subtitle {
  color: var(--tile-content-color);
  white-space: nowrap;
}

.tile__title {
  left: 5px;
  bottom: 2px;
  font-size: 18px;
  text-align: left;
}

.tile__subtitle {
  top: 2px;
  right: 5px;
  font-size: 14px;
  text-align: right;
}

.tile__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  right: 0;
  top: 23px;
}

.tile__icon-content {
  width: 60px;
  height: 54px;
  fill: var(--tile-content-color);
}

@media (hover: hover) {
  .tile:hover {
    background-color: #1e82cc;
  }
}
