.tile {
  --tile-gap: 10px;
  --tile-size: 100px;
  --tile-content-color: #ffffff;
  --tile-bg-color: var(--accent-color-alt);

  width: var(--tile-size);
  height: var(--tile-size);
  background-color: var(--tile-bg-color);
  border: 0 none;
  padding: 0;
  margin: 0;
  display: inline-flex;
  position: relative;
  text-transform: none;
  font-weight: normal;
  text-decoration: none;
  cursor: pointer;

  &:focus-visible {
    box-shadow: var(--focus-shadow);
  }
}

.tile_wide {
  width: calc(var(--tile-size) * 2 + var(--tile-gap));
}

.tile__title,
.tile__subtitle,
.tile__icon {
  position: absolute;
}

.tile__title,
.tile__subtitle {
  color: var(--tile-content-color);
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

.tile__title {
  left: 0;
  bottom: 2px;
  padding-left: 5px;
  font-size: 18px;
  text-align: left;
}

.tile__subtitle {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  top: 2px;
  right: 0;
  padding-right: 5px;
  font-size: 14px;
  text-align: right;
}

.tile__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  right: 0;
  top: 23px;
}

.tile__icon-content {
  width: 60px;
  height: 54px;
  fill: var(--tile-content-color);
}

.tile .checkbox.tile__checkbox {
  --checkbox-size: 22px;
  --checkbox-bg: #38a1ffe0;
  --checkbox-hover-bg: #abd7ffd4;
  --checkbox-border: #ffffff8c;
  --checkbox-checked-fill: #ffffff;

  position: absolute;
  margin: 0;
  left: 4px;
  top: 4px;
  z-index: 2;

  .checkbox__check {
    margin: 0;
    border-radius: 50%;
  }
}

.tile_placeholder {
  opacity: 0;
}

/* Sort mode */
.tile_sort {
  cursor: move;
}

@media (hover: hover) {
  .tile:hover {
    background-color: #1e82cc;
  }
}
