/* Clear all filters button */
.btn.clear-all-btn {
  --btn-title-color: var(--accent-color);
  --btn-hover-title-color: var(--accent-hover-color);
  --btn-size: var(--input-height);

  text-decoration: none;
}

@media (hover: hover) {
  .btn.clear-all-btn:hover {
    text-decoration: underline;
  }
}

/* Date range filter */
.date-range-filter {
  max-width: 400px;
}

/* Filters inside Collapsible container */
.filters-collapsible {
  .submit-btn {
    display: none;
  }

  .filters-controls {
    padding-top: 12px;
  }
}
