/* Navigation items */
.menu.nav-list {
  --menu-separator-color: var(--nav-menu-separator-color);
  --menu-item-side-content-size: auto;
  --menu-item-active-background: none;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  padding: 0.25rem;
  height: 100%;
  width: 100%;
  list-style-type: none;

  .menu-separator {
    width: auto;
    margin: 0.5rem 0.25rem;
  }
}

.menu-item.nav-item.static-menu-item {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 40px;
  flex-shrink: 0;
  padding: 0;
}

.nav-item .menu-item__content {
  overflow: visible;
  line-height: initial;
}

a.nav-item__link,
a.nav-item__link:visited {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  white-space: nowrap;
  color: var(--text-color-2);
}

.btn.nav-item__icon-btn {
  --btn-icon-size: 13px;
  --btn-hover-background: var(--icon-btn-hover-bg);
  --btn-active-background: var(--icon-btn-active-bg);
  --btn-icon-color: var(--main-text-color);

  margin-left: auto;
  padding: 0.6rem;
  border-radius: 50%;
}

@media (hover: hover) {
  a.nav-item__link:hover {
    text-decoration: underline;
    color: var(--hl-text-color);
  }
}
