/* Original import data container */
.orig-data {
  /* Header */
  --odt-header-color: var(--accent-color);
  --odt-header-font-size: 14px;
  --odt-header-font-weight: 600;

  /* Columns */
  --odt-column-header-color: var(--dimmed-text-color);
  --odt-column-header-font-size: 14px;
  --odt-column-header-font-weight: 400;
  --odt-min-column-width: 135px;

  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  overflow: hidden;

  header {
    font-size: var(--odt-header-font-size);
    font-weight: var(--odt-header-font-weight);
    margin-bottom: 8px;
    color: var(--odt-header-color);
  }
}

/* Original import data table */
.orig-data-table {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  column-gap: 2rem;

  .column-group {
    display: flex;
    flex-flow: column nowrap;
    align-items: normal;
    column-gap: 2rem;
  }

  .column {
    display: flex;
    flex-flow: row nowrap;
    column-gap: 0.5rem;
  }

  .column__header {
    font-size: var(--odt-column-header-font-size);
    font-weight: var(--odt-column-header-font-weight);
    padding: 2px 0;
    margin: 0;
    flex-shrink: 0;
    min-width: var(--odt-min-column-width);
    white-space: nowrap;
    color: var(--odt-column-header-color);
  }

  .column__data {
    font-size: 16px;
    padding: 2px 0;
  }
}

/* Desktop */
@media (min-width: 992px) {
  .orig-data-table {
    flex-flow: row wrap;
    row-gap: 1rem;

    .column-group {
      flex-flow: row nowrap;
    }

    .column__header {
      min-width: auto;
    }

    .column {
      flex-flow: column nowrap;
    }
  }
}
