/* Heading */
.heading {
  max-width: var(--section-width);
  padding-bottom: 10px;
}

/* Type menu */
.trtype-menu {
  margin-bottom: 12px;

  .link-menu-item_selected {
    font-weight: 500;
  }
}

/* Account container */
.accounts-section {
  display: flex;
  flex-flow: column nowrap;
  align-items: normal;
  position: relative;
  max-width: var(--section-width);
}

.tile-info-item {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  font-size: 0.8rem;
  color: var(--dimmed-text-color);
}

.account-toggler {
  display: flex;
}

/* Swap button */
.swap-btn {
  --btn-icon-size: 24px;
  --btn-hover-icon-color: var(--main-text-color);
  --btn-active-background: var(--bg-color-4);
  --btn-icon-color: var(--neutral-color);

  display: inline-flex;
  position: absolute;
  top: 50%;
  margin-top: -18px;
  background: none;
  padding: 5px;
  align-self: flex-end;
  border: 0 none;
  border-radius: 50%;
  cursor: pointer;
}

/* Desktop */
@media (min-width: 768px) {
  .swap-btn {
    position: static;
    align-self: center;
    margin: 0 8px;
  }

  .accounts-section {
    flex-flow: row nowrap;
    max-width: 100%;
  }
}
