/* Heading */
.heading {
  max-width: var(--section-width);
  padding-bottom: 10px;
}

/* Type menu */
.trtype-menu {
  margin-bottom: 12px;

  .link-menu-item_selected {
    font-weight: 500;
  }
}

/* Account container */
.accounts-section {
  display: flex;
  flex-flow: column nowrap;
  align-items: normal;
  position: relative;
  max-width: var(--section-width);
}

.account-container {
  display: inline-flex;
  flex-flow: column nowrap;
  width: var(--form-field-width);
  margin: var(--form-field-margin);

  .field__title {
    display: flex;
    flex-flow: row nowrap;
    column-gap: 12px;

    .btn.close-btn {
      --btn-size: 14px;
      --btn-icon-size: 14px;
      --btn-icon-color: var(--dimmed-text-color);
      --btn-hover-icon-color: var(--main-text-color);

      align-self: center;
    }
  }
}

.tile-base {
  display: flex;
  flex-flow: row nowrap;
  column-gap: 6px;

  .dd__container_attached {
    display: flex;
  }
}

.tile-info-block {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 10px;
  min-width: 100px;
}

.tile-info-item {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  font-size: 0.8rem;
  color: var(--dimmed-text-color);
}

.account-toggler {
  display: flex;
}

/* Swap button */
.swap-btn {
  display: inline-flex;
  position: absolute;
  top: 50%;
  margin-top: -18px;
  background: none;
  padding: 5px;
  align-self: flex-end;
  border: 0 none;
  border-radius: 50%;
  cursor: pointer;
}

.swap-icon {
  height: 24px;
  width: 24px;
}

/* Desktop */
@media (min-width: 768px) {
  .swap-btn {
    position: static;
    align-self: center;
    margin: 0 8px;
  }

  .accounts-section {
    flex-flow: row nowrap;
    max-width: 100%;
  }
}
