/* Swapn button */
.swap-btn {
  display: inline-flex;
  position: absolute;
  top: 50%;
  margin-top: -18px;
  background: none;
  padding: 5px;
  align-self: flex-end;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  cursor: pointer;
}

.swap-icon {
  height: 24px;
  width: 24px;
}

/* Tile block header */
.tile_header {
  flex-basis: 100%;
  flex-grow: 2;
  flex-shrink: 0;
  height: 20px;
  line-height: 20px;
  overflow: hidden;

  label {
    display: inline-flex;
    font-size: 16px;
    margin: 0 5px 0 0;
  }

  .close-btn {
    display: inline-flex;
    padding: 1px;
    margin: 0;
    background: none;
    cursor: pointer;
    line-height: 20px;
    height: 20px;
  }

  .close-icon {
    height: 14px;
    width: 14px;
    fill: #888888;
  }
}

.tile-base {
  display: flex;
  flex-flow: row wrap;
}

.tile_container {
  width: 100px;
  height: 100px;
  margin: 8px 5px 8px 0;

  .dd__container_attached {
    display: inline-flex;
  }
}

.tile-info-block {
  height: 100px;
  min-width: 100px;
  margin: 8px 20px 10px 0;
  overflow: hidden;
}

.tile-info-block > div {
  margin: 0 0 10px 0;
}

.account-toggler {
  padding: 8px 5px 8px 0;
}

.accounts-section {
  display: flex;
  flex-flow: column nowrap;
  align-items: baseline;
  position: relative;
  max-width: 300px;
}

.account-container {
  min-width: 100px;
  max-width: 400px;
  display: inline-flex;
  flex-flow: column nowrap;
}

/* Desktop */
@media (min-width: 768px) {
  .swap-btn {
    position: static;
    align-self: center;
    margin: 0 8px;
  }

  .accounts-section {
    flex-flow: row nowrap;
    max-width: 100%;
  }
}
