/* Registration view */
.register-form {
  width: 100%;
  min-width: 100px;
  max-width: 300px;
  padding: 0 12px;
}

.register-layer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  top: 50px;
  background-color: var(--main-bg-color);

  h1 {
    color: var(--main-text-color);
  }
}
