/* Actions menu */
.actions-menu {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-left: 18px;
}

.actions-menu-btn {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  padding: 0;
  background: none;
  cursor: pointer;
}

.actions-menu-btn__icon {
  width: 24px;
  height: 24px;
}

.actions-menu-list {
  display: flex;
  flex-flow: column nowrap;
  position: absolute;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  z-index: 2000;
}

.actions-menu-list__separator {
  border: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  height: 0;
  padding: 0;
}

/* Menu item with icon */
.action-iconbutton {
  height: auto;
  padding: 8px 16px 8px 8px;
  width: 100%;

  .iconbutton__icon {
    border: 0;
    padding: 4px;
  }

  .iconbutton__icon-content {
    width: 24px;
    height: 24px;
  }

  .iconbutton__content {
    padding-left: 10px;
  }
}

/* Menu item with checkbox */
.action-checkbox {
  padding: 8px 16px 8px 8px;
  margin: 0;
  display: flex;

  .checkbox__check {
    margin: 6px;
  }

  .checkbox__label {
    margin: 6px 0;
    padding-left: 10px;
  }
}

@media (hover: hover) {
  .white-theme,
  .dark-theme {
    .iconbutton.action-iconbutton:hover {
      background-color: #3078e2;

      .iconbutton__icon {
        background: none;
      }

      .iconbutton__icon-content {
        fill: #ffffff;
      }

      .iconbutton__content {
        color: #ffffff;
      }
    }

    .action-checkbox:hover {
      --checkbox-text: #ffffff;

      background-color: #3078e2;
    }
  }
}
