/* Import condition create/update form */
.cond-form {
  display: flex;
  flex-flow: row nowrap;
  max-height: 100%;
  flex: 1 1 auto;
  min-height: 0;
  padding: 12px 0 12px 8px;
  column-gap: 8px;

  + .cond-form {
    margin-top: 3px;
  }

  .dd__combo {
    min-height: auto;
    padding-right: 30px;
  }

  .dd__combo,
  .dd__list {
    border-width: 1px;
  }

  input[type="text"] {
    display: flex;
    padding: 5px;
    height: 32px;
    border-width: 1px;
    border-style: solid;
  }

  /* Update and delete buttons */
  .icon-btn {
    background: none;
    cursor: pointer;
  }

  .checkbox {
    --checkbox-label-size: 14px;

    width: fit-content;
  }
}

/* Form container */
.cond-form__container {
  display: flex;
  flex-flow: column nowrap;
  max-height: 100%;
  flex: 1 1 auto;
  min-height: 0;
  overflow: hidden;
  row-gap: 8px;

  .checkbox__label {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

/* Fields container */
.cond-form__fields {
  display: flex;
  flex-flow: row wrap;
  max-height: 100%;
  flex: 1 1 auto;
  min-height: 0;
  column-gap: 8px;
  row-gap: 8px;
}

.property-field,
.operator-field {
  flex-grow: 0;
  flex-shrink: 0;
}

.value-field {
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
  flex: 1 1 auto;
}

/* Controls container */
.cond-form__controls {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

/* Desktop */
@media (min-width: 768px) {
  .cond-form__fields {
    flex-flow: row nowrap;
    column-gap: 8px;
  }
}
