/* Import rules dialog */
.rules-popup {
  background: none;

  .popup__wrapper {
    position: relative;
    align-items: flex-start;
    background: var(--popup-dim-bg);
  }

  .popup__content-box {
    max-width: 600px;
    width: 100%;
  }

  &.popup_scroll-message .popup__message {
    overflow-y: hidden;
    display: flex;
    flex-flow: row nowrap;
  }
}

.rules-dialog {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  flex: 1 1 auto;
  min-height: 100px;
  overflow: hidden;

  /* Create button */
  .link-btn {
    pointer-events: all;
    padding: 0;
    cursor: pointer;
  }

  .loading-indicator {
    border-radius: 10px;
  }
}

/* Import rules dialog heading */
.rules-header {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;

  label {
    font-size: 24px;
    font-weight: 300;
    margin-right: 16px;
    margin-bottom: 0;
  }
}

.search-field {
  margin-bottom: 1rem;

  .search-btn {
    pointer-events: none;
  }

  .search-icon {
    height: 24px;
    fill: #888888;
    border-left: 1px solid #464646;
    padding-left: 4px;
  }
}

.rules-list {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 4px;
}

.rules-list-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  overflow-y: auto;

  .paginator {
    margin-right: auto;
  }
}

/* Desktop */
@media (min-width: 768px) {
  .rules-popup {
    .popup__wrapper {
      padding-top: 60px;
      padding-bottom: 20px;
    }
  }
}
