/* Number input group component */
.number-input-group {
  max-width: 150px;

  .input.input-group__input {
    text-align: right;
  }

  .btn.input-group__inner-btn {
    --btn-icon-size: 24px;
    --btn-disabled-background: none;
    --btn-disabled-opacity: 0.3;
  }
}

.number-input-group[disabled] {
  .btn.input-group__inner-btn {
    --btn-disabled-opacity: 1;
    --btn-disabled-background: var(--input-disabled-bg);
  }
}
