/* Rule action item */
.action-item {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  overflow: hidden;
  padding: 8px;
}

.action-item + .action-item {
  margin-top: 1px;
}

.action-item__type {
  font-size: 14px;
  margin-right: 12px;
}

.action-item__value {
  flex-grow: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 14px;
  font-weight: 400;
}

.action-item__value::before,
.action-item__value::after {
  content: "`";
}
