/* Transactions list component */
.trans-list {
  display: flex;
  flex-flow: column wrap;
  align-items: stretch;
}

div.trans-list-items {
  display: flex;
  flex-flow: column wrap;
  align-items: stretch;
}

.trans-item__wrapper,
.trans-item_placeholder {
  width: 100%;
  margin: 2px 0;
  height: 85px;
}

.trans-item {
  padding: 8px;
  border: 0 none;
}

.trans-item_placeholder > .trans-item {
  opacity: 0;
}

div.trans-item_selected {
  padding: 5px;
  border: 3px solid #0072c6;
  cursor: pointer;
}

.trans-item > div {
  overflow: hidden;
  text-overflow: ellipsis;
}

.trans-item__title {
  font-size: 14px;
}

.trans-item .trans-item__title {
  white-space: nowrap;
}

.trans-item__content {
  font-size: 16px;
  font-weight: 600;
}

.trans-item__details {
  font-size: 12px;
  clear: both;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.trans-item__comment {
  margin: 0 0 0 5px;
  padding: 0 0 0 5px;
  border-left-width: 1px;
  border-left-style: solid;
}

.trans-item__balance span {
  margin: 0 10px 0 0;
}

/* Ellipsis cell */
.ellipsis-cell > div {
  position: relative;
  overflow: hidden;
  height: 23px;

  /* cell stretching content */
  &::after {
    content: attr(title);
    overflow: hidden;
    height: 0;
    display: block;
    font-size: 14px;
  }
}

/* Details mode */
.trans-list_details .trans-list-items,
table.trans-list-items {
  display: table;
  border-collapse: collapse;
  width: 100%;
}

.trans-list_details,
table.trans-list-items {
  tbody {
    height: 43px;
  }

  td {
    padding: 2px 0;
  }

  span {
    font-size: 14px;
    height: 23px;
    line-height: 23px;
  }

  .trans-item__content {
    color: #0080b0;
    white-space: nowrap;
    text-align: right;
  }

  .trans-item__comment {
    margin: 0;
    padding: 0;
    border: 0 none;
  }

  .trans-item__balance {
    text-align: right;
    white-space: nowrap;
  }

  td > div {
    height: 39px;
    padding: 8px;
  }
}

/* visible content */
.ellipsis-cell > div > span {
  display: block;
  position: absolute;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 23px; /* for vertical align of text */
}

/* Common height style of item elements */
.trans-item > div > span,
.trans-item_selected > div > span {
  height: 23px;
  line-height: 23px;
}

/* Drag'n'Drop placeholder */
.trans-list_details {
  .trans-item_placeholder td > div {
    opacity: 0;
  }

  /* Active table row */
  tr.trans-item_selected > td > div {
    padding: 5px 8px;
    border-top: 3px solid #0072c6;
    border-bottom: 3px solid #0072c6;
    cursor: pointer;
  }

  tr.trans-item_selected > td:first-child > div {
    padding: 5px 8px 5px 5px;
    border: 3px solid #0072c6;
    border-right: 0 none;
    cursor: pointer;
  }

  tr.trans-item_selected > td:last-child > div {
    padding: 5px 5px 5px 8px;
    border: 3px solid #0072c6;
    border-left: 0 none;
    cursor: pointer;
  }
}
