/* Import view */
.import-view .heading {
  padding: 10px 0 0 0;
}

/* Sticky header */
.content-header {
  position: sticky;
  top: 50px;
  z-index: 1000;
  padding: 10px 0;
}

/* Header */
.data-header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-bottom: 9px;
}

.header-actions {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
  flex: 1 1 auto;

  .popup-menu {
    margin-left: 18px;
  }
}

.header-field {
  display: flex;
  flex-flow: column nowrap;
  margin-left: 12px;
}

.header-field:first-child {
  margin-left: 0;
}

.header-field__content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 34px;
}

/* Main account header field */
.account-field label {
  margin-bottom: 2px;
}

.dd__main-account {
  max-width: 150px;

  .dd__single-selection {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-shrink: 1;
  }
}

.account-field > div {
  justify-content: left;
}

/* Controls */
.import-controls {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.import-controls .submit-btn {
  margin-left: auto;
  border-radius: 5px;
}

/* Transactions list */

/* Transaction items container */
.data-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  position: relative;
  row-gap: 2px;
}

.data-form .paginator {
  width: 100%;
  justify-content: center;
}

.import-list_select {
  .import-item,
  .import-form {
    cursor: pointer;
  }

  .collapsible-content,
  .invalid-feedback,
  .form-controls {
    margin-left: 32px;
  }
}

.import-item_selected .main-content {
  position: relative;
}

.import-item_selected .main-content::after {
  border: 2px solid var(--accent-color);
  bottom: 0;
  content: "";
  cursor: pointer;
  display: block;
  left: 32px;
  position: absolute;
  right: 0;
  top: 0;
}
