/* Import view */
.import-view .heading {
  padding: 10px 0 0 0;
}

/* Sticky header */
.content-header {
  position: sticky;
  top: 50px;
  z-index: 10;
  padding: 10px 0;
}

/* Header */
.data-header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-bottom: 9px;
}

.header-actions {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
  flex: 1 1 auto;

  .actions-menu-list {
    right: 0;
    top: 38px;
  }
}

.header-field {
  display: flex;
  flex-flow: column nowrap;
  margin-left: 12px;
}

.header-field:first-child {
  margin-left: 0;
}

.header-field__content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 34px;
}

/* Main account header field */
.account-field label {
  margin-bottom: 2px;
}

.dd__main-account {
  max-width: 150px;

  .dd__single-selection {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-shrink: 1;
    padding: 6px 0 6px 5px;
  }
}

.account-field > div {
  justify-content: left;
}

/* Controls */
.import-controls {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.import-controls .submit-btn {
  margin-left: auto;
  border-radius: 5px;
}

/* Transactions list */

/* Transaction items container */
.data-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  position: relative;

  .paginator {
    margin-right: auto;
  }
}
