/* Import view */
.import-view .heading {
  padding: 10px 0 0 0;
}

/* Import file form */
.upload-popup .popup__content-box {
  max-width: 600px;
  width: 100%;
}

/* Main account block */
.upload-dialog-account {
  margin-bottom: 12px;
}

/* Upload dialog controls block */
.upload-dialog-controls {
  margin-bottom: 12px;
}

/* Sticky header */
.content-header {
  position: sticky;
  top: 50px;
  z-index: 10;
  padding: 10px 0;
}

/* Header */
.data-header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.header-actions {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  justify-content: flex-end;
  flex: 1 1 auto;
}

.header-field {
  display: flex;
  flex-flow: column nowrap;
  margin-left: 12px;
}

.header-field:first-child {
  margin-left: 0;
}

.header-field__content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 34px;
}

/* Main account header field */
.account-field {
  flex-shrink: 0;
}

.account-field div {
  justify-content: left;
}

/* Icon buttons */
.header-actions .iconlink {
  margin: 4px;
}

.header-info {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  flex: 0 1 auto;
}

/* Rules block */
.rules-container {
  display: flex;
  flex-flow: row nowrap;
}

.rules-container .btn {
  font-size: 16px;
  padding: 0;
}

/* Transactions list */

/* Transaction items container */
.data-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  position: relative;
}

/* Desktop */
@media (min-width: 768px) {
  /* Sticky header */
  .content-header {
    top: 0;
  }
}
