/* Import view */

/* Header */
.data-header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  column-gap: 12px;
}

.header-field {
  display: flex;
  flex-flow: column nowrap;
}

.header-field__content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* Main account header field */
.account-field label {
  margin-bottom: 2px;
}

.dd__main-account {
  max-width: 200px;
}

.account-field > div {
  justify-content: left;
}

.data-header .submit-btn {
  align-self: flex-end;
  margin-left: auto;
  border-radius: 6px;
  padding: 6px 12px;
}

/* Transactions list */

/* Transaction items container */
.data-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  position: relative;
  row-gap: 2px;
}

.data-form .paginator {
  width: 100%;
  justify-content: center;
}

.import-list_select {
  .import-item,
  .import-form {
    cursor: pointer;
  }

  .collapsible-content,
  .invalid-feedback,
  .form-controls {
    margin-left: 32px;
  }
}

.import-item_selected .main-content {
  position: relative;
}

.import-item_selected .main-content::after {
  border: 2px solid var(--accent-color);
  bottom: 0;
  content: "";
  cursor: pointer;
  display: block;
  left: 32px;
  position: absolute;
  right: 0;
  top: 0;
}
