/* Color input field */
.field.color-field {
  --cf-disabled-opacity: 0.3;
  --cf-disabled-text-color: var(--neutral-color);
  --cf-box-shadow-color: #000000;

  display: grid;

  .field__title {
    grid-column: 1 / 1;
  }

  .field__content {
    grid-column: 2 / 2;
  }

  .color-field__input {
    --color-input-disabled-opacity: var(--cf-disabled-opacity);
    --color-input-shadow-color: var(--cf-box-shadow-color);
    --color-input-size: var(--input-height);
  }
}

/* Invalidated state */
.color-field.validation-block.invalid-block {
  .color-field__input {
    outline-color: var(--invalid-feedback-color);
    outline-offset: 2px;
    outline-style: solid;
    outline-width: 2px;
  }
}

/* Disabled state */
.field.color-field[disabled] {
  --field-title-color: var(--cf-disabled-text-color);
}
