/* Import template section */
.tpl-form {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}

/* Uploaded file name */
.tpl-form__file {
  font-size: 14px;
  color: #7b7b7b;
}

/* Header */
.tpl-form-header {
  display: flex;
  flex-flow: row;
  align-items: baseline;
  padding: 10px 0;

  label {
    font-size: 24px;
    font-weight: 100;
    margin-right: 18px;
    margin-bottom: 0;
    margin-left: 0;
  }
}

/* Template form fields: name, column type & etc. */
.tpl-form-fields {
  display: flex;
  flex-flow: row wrap;
  column-gap: 18px;
}

.tpl-form-field {
  display: flex;
  flex-flow: column nowrap;
  align-items: baseline;
  margin: 9px 0;
  max-width: 300px;

  input {
    flex: 0 0 auto;
  }

  .input-group {
    --ig-height: var(--input-height);
  }
}

.template-field {
  overflow: hidden;
}

/* Template first row field */
.first-row-field {
  max-width: 150px;
}

/* Default account switch */
.tpl-form-switch-field {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
  min-height: var(--input-height);

  .switch {
    margin: 0;
  }
}

.tpl-form-switch__label {
  font-size: 1.15rem;
  font-weight: 300;
  padding: 0.5rem 0.75rem;
  white-space: nowrap;
}

/* Raw data table field */
.raw-data-field {
  align-items: normal;
  max-width: none;
}

/* Template select */
.tpl-form__select-group {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  overflow: hidden;
}

.tpl-form__select-group-controls {
  display: flex;
  flex-flow: row nowrap;
}

.tpl-account-field {
  justify-content: center;
  min-height: var(--input-height);
}

/* Validation feedback */
.validation-block.invalid-block .tpl-name-inp {
  border-color: #ff0000;
}

.feedback.valid-feedback {
  color: #00b500;
}

.feedback.invalid-feedback {
  color: #ff3131;
}
