/* Import template section */
.tpl-form {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  row-gap: 9px;
}

/* Uploaded file name */
.tpl-form__file {
  font-size: 14px;
  color: #7b7b7b;
}

/* Header */
.tpl-form-header {
  display: flex;
  flex-flow: row;
  align-items: baseline;
  padding: 10px 0;

  label {
    font-size: 24px;
    font-weight: 100;
    margin-right: 18px;
    margin-bottom: 0;
    margin-left: 0;
  }
}

/* Heading controls */
.tpl-form__heading {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 9px;
}

/* Raw data table field */
.raw-data-field {
  align-items: normal;
}

/* Template form fields: name, column type & etc. */
.tpl-form-fields {
  display: flex;
  flex-flow: row wrap;
  column-gap: 18px;
  row-gap: 9px;
}

.tpl-form-field {
  display: flex;
  flex-flow: column nowrap;
  align-items: baseline;
  row-gap: 5px;

  label {
    margin-bottom: 0;
  }

  input {
    flex: 0 0 auto;
  }

  .input-group {
    --ig-height: var(--input-height);
  }
}

.template-field {
  overflow: hidden;
}

.first-row-field {
  max-width: 150px;
}

.tpl-form__select-group {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  overflow: hidden;
}

.tpl-form__select-group-controls {
  display: flex;
  flex-flow: row nowrap;
}

.tpl-account-field {
  justify-content: center;
  min-height: var(--input-height);
}

/* Validation feedback */
.validation-block.invalid-block .tpl-name-inp {
  border-color: #ff0000;
}

.feedback.valid-feedback {
  color: #00b500;
}

.feedback.invalid-feedback {
  color: #ff3131;
}
