.reminder-list-view {
  main {
    width: 100%;
  }

  .item-details {
    position: absolute;
    width: 100%;
    left: auto;
    right: 0;
  }
}

/* List header */
.list-header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

/* Scheduled transaction reminder details */
.reminder-item-details {
  --offcanvas-bg: var(--main-bg-color);

  padding: 0 12px;
  width: 100%;
  max-width: var(--section-width);
}

/* Date range filter */
.date-range-filter {
  max-width: 400px;
}

/* Clear all filters button */
.btn.clear-all-btn {
  --btn-title-color: var(--accent-color);
  --btn-hover-title-color: var(--accent-hover-color);
  --btn-size: var(--input-height);

  text-decoration: none;
}

/* Filters inside Collapsible container */
.filters-collapsible {
  .submit-btn {
    display: none;
  }

  .filters-controls {
    padding-top: 12px;
  }
}

/* Scheduled transaction reminders list component */
.reminder-list {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  width: 100%;
  gap: 4px;
}

.reminder-list_select .reminder-item {
  cursor: pointer;
}

@media (hover: hover) {
  .btn.clear-all-btn:hover {
    text-decoration: underline;
  }
}
