/* Profile view */
.settings-block {
  span {
    font-size: 16px;
    color: #808080;
  }
}

.name-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.change-name-link {
  margin-left: 30px;
}

.profile-block__section {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 5px;
  align-items: flex-start;
  margin-bottom: 18px;
}

.profile-form-container .checkbox {
  height: var(--input-height);
}

.profile-form-container .loading-indicator {
  border-radius: 10px;
}
