/* Profile view */
.profile_block {
  margin: 10px 0 20px 0;
}

.profile_block > h2 {
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.profile_block > span {
  font-size: 16px;
}

.profile-form-container {
  position: relative;
}

.form__loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  z-index: 10;
  background-color: rgb(50 50 50 / 70%);
  border-radius: 10px;
}

/* Change name and change password popups */
.chname_popup .popup__content-box,
.chpass_popup .popup__content-box {
  max-width: 400px;
  width: 100%;
}
