/* Profile view */
.profile_block {
  margin: 10px 0 20px 0;
  min-width: 300px;
  max-width: 600px;

  h2 {
    font-size: 18px;
    font-weight: normal;
    margin: 0;
  }

  span {
    font-size: 16px;
  }
}

.name-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.change-name-link {
  margin-left: 30px;
}

.profile-form-container .loading-indicator {
  border-radius: 10px;
}

/* Change name and change password popups */
.chname_popup .popup__content-box,
.chpass_popup .popup__content-box {
  max-width: 400px;
  width: 100%;
}

/* Reset popup */
.reset-dialog .popup__content-box {
  max-width: 400px;
  width: 100%;
}
