/* Profile view */
.profile_block {
  margin: 10px 0 20px 0;
}

.profile_block > h2 {
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.profile_block > span {
  font-size: 16px;
}

.profile-form-container .loading-indicator {
  border-radius: 10px;
}

/* Change name and change password popups */
.chname_popup .popup__content-box,
.chpass_popup .popup__content-box {
  max-width: 400px;
  width: 100%;
}
