/* Profile view */
.profile-block {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 6px;
  margin: 12px 0 24px 0;
  max-width: 600px;
  min-width: 300px;

  h2 {
    font-size: 18px;
    font-weight: normal;
    margin: 0;
    width: 100%;
    border: 0 none;
    border-bottom: 1px solid var(--list-separator-color);
  }

  span {
    font-size: 16px;
    color: #808080;
  }
}

.name-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.change-name-link {
  margin-left: 30px;
}

.profile-block__section {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 5px;
  align-items: flex-start;
  margin-bottom: 18px;
}

.profile-form-container .checkbox {
  height: var(--input-height);
}

.profile-form-container .loading-indicator {
  border-radius: 10px;
}
