.admin-header {
  width: 100%;
  position: absolute;
  background-color: #404040;
  color: #ffffff;
  padding: 12px;

  & > .menu > span {
    display: inline;
    padding: 0 10px 0 0;
    white-space: nowrap;
  }
}

.admin_cont_wrap {
  padding: 50px 12px;
}

/* Admin table */
.admin-tbl {
  border-collapse: collapse;
  border: 1px solid;

  th,
  td {
    border: 1px solid;
    padding: 5px;
  }

  tr {
    cursor: pointer;
  }

  tr.act {
    background-color: #0088dd;
    color: #ffffff;
  }
}

/* Common style for textarea */
textarea {
  border: 1px solid;
  padding: 5px;
}

.popup__form-controls {
  margin-top: 25px;
}

/* Select */
.admin-select {
  width: 100%;
  border: 1px solid;
}

/* Checkbox wrapper */
.checkbox-wrap {
  height: 20px;
  padding: 5px 0;

  & > input[type="checkbox"] {
    display: inline;
    height: 20px;
    line-height: 20px;
  }

  & > label {
    display: inline;
    padding: 0 5px;
    font-size: 16px;
    height: 20px;
    line-height: 20px;
  }

  label > input {
    margin-right: 8px;
  }

  &.checkbox-wrap_inline {
    display: inline-block;
    margin-right: 10px;
  }
}

/* Create/update item popup */
.item-form {
  --popup-max-width: 400px;
  --popup-min-width: 200px;

  label {
    display: block;
    width: 100%;
    font-size: 16px;
    padding: 5px 0;
  }

  .stretch-input {
    border-width: 1px;
  }
}

/* Custom popup styles */
.popup__content {
  background: none;
}

/* Desktop */
@media (min-width: 768px) {
  .main-navigation-offcanvas {
    --offcanvas-bg: var(--header-bg-color);

    top: 50px;
    bottom: auto;
    left: 0;
    right: 0;
    width: 100%;

    .navigation-content {
      width: 100%;
      margin: 0;
    }

    .nav-list {
      flex-flow: row nowrap;
    }
  }

  .white-theme,
  .dark-theme {
    .main-navigation-offcanvas {
      a.nav-item__link,
      a.nav-item__link:visited {
        color: var(--header-color);
      }
    }
  }

  .admin_cont_wrap {
    padding: 100px 12px 50px 12px;
  }
}
