.admin_header
{
	background-color: #404040;
	color: #FFFFFF;
	padding: 12px;
}


.admin_header > .menu
{
	height: 20px;
}


.admin_header > .menu > span
{
	display: inline;
	padding: 0px 10px 0px 0px;
}


.admin_cont_wrap
{
	padding: 12px;
}


/* Admin action button */
.adm_act_btn
{
	padding: 3px 10px;
	background-color: #44AAFF;
	color: #FFFFFF;
}


.adm_act_btn:disabled
{
	background-color: #708290;
}


/* Admin table */
.adm_tbl
{
	border-collapse: collapse;
	border: 1px solid #000000;
}


.adm_tbl th,
.adm_tbl td
{
	border: 1px solid #000000;
	padding: 5px;
}


.adm_tbl tr
{
	cursor: pointer;
}


.adm_tbl tr:hover
{
	background-color: #BBBBBB;
}


.adm_tbl tr.act
{
	background-color: #0088DD;
	color: #FFFFFF;
}


/* Common style for textarea */
textarea
{
	border: 1px solid #000000;
	padding: 5px;
}


.popup_form_controls
{
	position: relative;
	top: 25px;
}


.check_wr label > input
{
	margin-right: 8px;
}


.check_wr.check_wr_inline
{
	display: inline-block;
	margin-right: 10px;
}