/* Create/update currency popup */
.popup > .currency-form
{
	margin-top: -120px;
}


.popup > .currency-form > .popup__content-box
{
	max-width: 300px;
	min-width: 130px;
}


.currency-form label
{
	display: block;
	width: 100%;
	font-size: 16px;
	padding: 5px 0px;
}


.currency-form .stretch-input
{
	border-width: 1px;
}


/* Checkbox wrapper */
.checkbox-wrap
{
	height: 20px;
	padding: 5px 0px;
}


.checkbox-wrap > input[type="checkbox"]
{
	display: inline;
	height: 20px;
	line-height: 20px;
}


.checkbox-wrap > label
{
	display: inline;
	padding: 0px 5px;
	font-size: 16px;
	height: 20px;
	line-height: 20px;
}
