/* Create/update currency popup */
.popup > .icon-form
{
	margin-top: -120px;
}


.popup > .icon-form > .popup__content-box
{
	max-width: 300px;
	min-width: 130px;
}


.icon-form label
{
	display: block;
	width: 100%;
	font-size: 16px;
	padding: 5px 0px;
}


.icon-form .stretch-input
{
	border-width: 1px;
}
