.admin_header
{
	background-color: #404040;
	color: #FFFFFF;
	padding: 12px;
}


.admin_header > .title,
.admin_header > .menu
{
	height: 20px;
}


.admin_header > .menu > span
{
	display: inline-block;
	float: left;
	padding: 0px 10px 0px 0px;
}


.admin_cont_wrap
{
	padding: 12px;
}


/* Admin table */
.adm_tbl
{
	border-collapse: collapse;
	border: 1px solid #000000;
}


.adm_tbl th,
.adm_tbl td
{
	border: 1px solid #000000;
	padding: 5px;
}


.adm_tbl tr
{
	cursor: pointer;
}


.adm_tbl tr:hover
{
	background-color: #BBBBBB;
}


.adm_tbl tr.act
{
	background-color: #0088DD;
	color: #FFFFFF;
}