.test_container
{
	background-color: #DDDDFF;
	max-width: 400px;
	display: inline-block;
	float: left;
	margin: 0px 20px 20px 0px;
	padding: 5px;
}


.test_result
{
	clear: both;
	float: none;
	display: block;
}


h2
{
	font-family: "Segoe UI", Arial, sanf-serif;
	font-size: 22px;
	font-weight: normal;
	clear: both;
}


input[type="text"]
{
	border: 1px solid #000000;
	float: none;
	display: inline;
}
