.curr_tbl
{
	border-collapse: collapse;
	border: 1px solid #000000;
}

.curr_tbl th,
.curr_tbl td
{
	border: 1px solid #000000;
	padding: 5px;
}


/* Create/update currency popup */
.popup > .curr_content
{
	position: fixed;
	width: 100%;
	top: 50%;
	margin-top: -120px;
	color: #000000;
}


.popup > .curr_content > .box
{
	background-color: #FFFFFF;
	margin: 0px auto;
	max-width: 300px;
	min-width: 130px;
	padding: 15px 20px;
	position: relative;
}


.curr_content label
{
	display: block;
	width: 100%;
	font-size: 16px;
	padding: 5px 0px;
}


/* Simple stretch input */
.s_inp
{
	border: 1px solid #000000;
	padding: 3px 5px;
	height: 20px;
}


.s_inp > input[type="text"]
{
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0 none;
	height: 20px;
	font-size: 16px;
}


/* Checkbox wrapper */
.check_wr
{
	height: 20px;
	float: none;
	clear: both;
	padding: 5px 0px;
}


.check_wr > input[type="checkbox"]
{
	float: left;
	display: inline;
	height: 20px;
	line-height: 20px;
}


.check_wr > label
{
	float: left;
	display: inline;
	width: auto;
	padding: 0px 5px;
	font-size: 16px;
	height: 20px;
	line-height: 20px;
}


/* Close popup button */
.curr_content .close_btn
{
	position: absolute;
	top: 15px;
	right: 20px;
}


/* Currency action button */
.curr_act_btn
{
	padding: 3px 10px;
	background-color: #44AAFF;
	color: #FFFFFF;
}

