.tests_content
{
	height: 100%;
}


.results,
.testview,
.ph
{
	display: inline-block;
	float: left;
	height: 100%;
}


.controls
{
	padding: 0px 0px 10px 0px;
}


.results
{
	width: 40%;
}


.tbl_container
{
	max-height: 700px;
	overflow-y: auto;
}

.results table
{
	border-collapse: collapse;
}


.results td
{
	border: 1px solid #000000;
	padding: 5px;
}


.ph
{
	width: 10%;
}


.testview
{
	width: 50%;
	max-height: 730px;
	overflow: auto;
}


.testview > iframe
{
	width: 100%;
	height: 100%;
}
