.action-form {
  display: flex;
  flex-flow: row nowrap;
  align-items: normal;
  flex-grow: 1;
  padding: 2px 8px 4px 8px;

  + .action-form {
    margin-top: 3px;
  }

  /* Input field and label group */
  .field {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 0 0 4px 0;
  }

  .field label {
    width: 20%;
    font-size: 14px;
    min-width: 70px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .dd__combo {
    min-height: auto;
    padding-right: 30px;
  }

  .dd__combo,
  .dd__list {
    border-width: 1px;
  }

  input[type="text"] {
    display: flex;
    border: 1px solid;
    padding: 5px;
    height: 32px;
  }
}

/* Form and validation message container */
.action-form__container {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 auto;
}

/* Fields container */
.action-form__fields {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 auto;
}

.action-form__controls {
  display: flex;
  align-items: center;
}

/* Desktop */
@media (min-width: 768px) {
  .action-form__fields {
    flex-flow: row nowrap;
  }

  .action-form {
    .field {
      flex-flow: column nowrap;
      align-items: normal;
      margin: 0 8px 0 0;
    }

    .field label {
      width: auto;
      min-width: auto;
      font-size: 12px;
      text-align: left;
    }
  }
}
