.action-form {
  display: flex;
  flex-flow: row nowrap;
  align-items: normal;
  flex-grow: 1;
  padding: 2px 8px 4px 8px;

  + .action-form {
    margin-top: 3px;
  }

  /* Input field and label group */
  .field {
    --field-title-font-size: 12px;

    margin: 0 0 4px 0;
  }

  .field__title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .dd__combo {
    min-height: auto;
    padding-right: 30px;
  }

  .dd__combo,
  .dd__list {
    border-width: 1px;
  }

  input[type="text"] {
    display: flex;
    border: 1px solid;
    padding: 5px;
    height: 32px;
  }
}

/* Form and validation message container */
.action-form__container {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 auto;
}

/* Fields container */
.action-form__fields {
  display: flex;
  flex-flow: row wrap;
  flex: 1 1 auto;
  column-gap: 8px;
}

.action-type-field {
  flex-grow: 0;
  flex-shrink: 1;
}

.action-value-field {
  flex-grow: 1;
}

.action-form__controls {
  display: flex;
  align-items: center;
}
