/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 15px;
  color: #ffffff;
  background-color: #404040;

  &.sidebar_active {
    width: auto;
  }

  .siderbar__content {
    display: flex;
    align-items: center;
    overflow: hidden;
    min-width: 15px;
    height: 100%;

    .iconbutton {
      display: flex;
      margin: 9px 12px;
    }

    .iconbutton span {
      color: #ffffff;
    }
  }

  .sidebar__controls .iconbutton {
    .iconbutton__icon {
      fill: #ffffff;
    }
  }
}

.sidebar__ellipsis {
  width: 15px;
  height: 32px;

  .icon {
    width: 15px;
    height: 32px;
    fill: #ffffff;
  }
}

.sidebar__controls {
  display: none;
  overflow: hidden;
  padding: 5px;
}

.sidebar.sidebar_active .sidebar__controls {
  display: block;
}

@media screen and (min-width: 701px) {
  .sidebar {
    min-height: 0;
    height: auto;
    width: 100%;
    left: 200px;
    right: 0;
    top: auto;
    bottom: 0;
    background-color: #44aaff;

    .siderbar__content,
    &.sidebar_active .siderbar__content {
      display: flex;
      padding: 0;
      color: #ffffff;
      background-color: #44aaff;
      position: static;
    }

    .sidebar__controls,
    &.sidebar_active .sidebar__controls {
      display: flex;
      flex-flow: row nowrap;
      padding: 0;
    }

    .sidebar__controls .iconbutton:hover .iconbutton__icon {
      fill: #44aaff;
    }
  }

  .siderbar__content .iconbutton {
    margin: 9px 0 9px 12px;
  }

  .sidebar__ellipsis {
    display: none;
  }
}

@media (hover: hover) {
  .sidebar .sidebar__controls .iconbutton:hover {
    .iconbutton__icon {
      fill: #404040;
      background-color: #ffffff;
    }
  }
}
