/* header */
.header {
  height: 50px;
  background-color: #404040;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2000;
}

.header__content {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.logo {
  display: none;
}

/* Theme switch */
.theme-switch {
  display: flex;
  margin: 0 6px 0 auto;
}

.theme-switch .switch {
  margin: 0;
}

.theme-switch .switch-slider {
  background-color: #555555;
}

.theme-switch .switch input:checked + .switch-slider {
  background-color: #555555;
}

/* user block */
.user-block {
  position: relative;
}

.user-menu-btn {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  border: 0 none;
  background-color: #404040;
  padding: 0 11px;
}

.user__title {
  display: none;
  font-size: 16px;
  font-weight: normal;
  color: #ffffff;
  text-transform: none;
}

.user__icon {
  width: 24px;
  height: 24px;
  overflow: hidden;
  margin: 13px 2px;

  .user-icon {
    width: 24px;
    height: 24px;
  }
}

/* drop down user menu */
.user-menu {
  display: inline-block;
  position: absolute;
  top: 50px;
  right: 0;
  z-index: 2000;
}

.user-menu ul {
  list-style-image: none;
  list-style-type: none;
  background-color: #404040;
  margin: 0;
  padding: 0;
}

.user-menu li {
  color: #ffffff;
  list-style-image: none;
  border: 0 none;
  padding: 0;
  white-space: nowrap;
  text-align: center;
}

.user-menu li a {
  display: block;
  padding: 10px 30px;
  text-decoration: none;
  color: #ffffff;
}

.user-menu li.separator {
  height: 0;
  border: 0 none;
  border-bottom: 1px solid #808080;
  padding: 0;
}

/* logo block */
.logo__link {
  text-decoration: none;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 0 12px 0 0;
}

.logo__icon,
.logo-icon {
  width: 50px;
  height: 50px;
}

.logo__title {
  font-size: 20px;
  font-weight: 200;
  color: #ffffff;
  white-space: nowrap;
}

/* Navigation toggle button */
.nav-toggle-btn {
  display: block;
  padding: 13px;
  cursor: pointer;
  background: none;
  border: 0 none;
  border-radius: 100vh;
}

.nav-toggle-icon {
  width: 24px;
  height: 24px;
  fill: #dddddd;
}

/* Left side navigation */
.navigation .offcanvas__content {
  display: flex;
  height: 100%;
}

.navigation-content {
  display: flex;
  flex-flow: column nowrap;
}

.navigation-controls {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 0 12px;
  background-color: #404040;
}

/* Close navigation button */
.navigation__close-btn {
  display: block;
  width: 32px;
  height: 32px;
  padding: 4px;
  cursor: pointer;
  background: none;
  border: 0 none;
  border-radius: 100vh;
}

.navigation__close-btn-icon {
  width: 24px;
  height: 24px;
  fill: #dddddd;
}

/* Link to main page with logo */
.navigation-logo {
  display: block;
}

/* Navigation items */
.nav-list {
  display: flex;
  flex-flow: column nowrap;
  padding: 24px;
  height: 100%;
}

a.nav-link,
a.nav-link:visited {
  margin-bottom: 0.5rem;
  font-size: 1.15rem;
  font-weight: 300;
  text-decoration: none;
}

.nav-bottom-link {
  margin-top: auto;
}

.nav-separator {
  margin-bottom: 2rem;
}

/* Desktop */
@media (min-width: 768px) {
  .header,
  .user-menu {
    z-index: 2010;
  }

  .logo {
    display: block;
  }

  .nav-toggle-btn {
    display: none;
  }

  .user-menu-btn {
    padding: 0 12px 0 3px;
  }

  .user__title {
    display: block;
  }

  .navigation-content {
    width: 200px;
    padding: 12px;
    margin: 50px 0 0 0;
  }

  .navigation.offcanvas--closed {
    transform: translateX(0);
  }

  .offcanvas__bg,
  .navigation-controls {
    display: none;
  }
}

@media (hover: hover) {
  .theme-switch .switch-slider:hover {
    background-color: #707070;
  }

  .theme-switch .switch-slider:hover::before {
    background-color: #ffffff;
  }

  .user-menu-btn:hover {
    background-color: #606060;
  }

  .user-menu li:hover {
    background-color: #808080;
  }

  .user-menu li a:hover {
    display: block;
    padding: 10px 30px;
    text-decoration: none;
    color: #ffffff;
  }

  .logo__link:hover {
    background-color: #606060;
  }

  .nav-toggle-btn:hover {
    background-color: #323232;
  }

  .navigation__close-btn:hover {
    background-color: #323232;
  }

  a.nav-link:hover {
    text-decoration: underline;
  }
}
