:root {
  --header-size: 50px;
  --header-color: #dddddd;
  --header-bg-color: #404040;
  --header-hover-btn-bg-color: #606060;
}

/* header */
.header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  position: fixed;
  overflow: hidden;
  height: var(--header-size);
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2000;
  background-color: var(--header-bg-color);
}

/* logo block */
.header-logo {
  text-decoration: none;
  display: none;
  flex-flow: row nowrap;
  align-items: center;
  padding: 0 12px 0 0;
  width: 200px;
  height: var(--header-size);
  flex-shrink: 0;
}

.header-logo__icon,
.logo-icon {
  width: var(--header-size);
  height: var(--header-size);
}

.logo-icon {
  fill: var(--header-color);
}

.header-logo__title {
  font-size: 20px;
  font-weight: 200;
  color: var(--header-color);
  white-space: nowrap;
}

/* Header container */
.header__container {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  align-self: flex-start;
  width: 100%;
  padding-left: 12px;
  transition: transform 0.2s ease;
}

/* Header content */
.header__content {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  height: var(--header-size);
}

.header__container.show-actions {
  transform: translateY(calc(var(--header-size) * -1));
}

/* Title */
.header-title {
  font-size: 20px;
  font-weight: 300;
  height: var(--header-size);
  line-height: var(--header-size);
  color: var(--header-color);
}

/* User button */
.user-btn {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: var(--header-size);
  padding: 0 12px;
  overflow: hidden;
  border: 0 none;
  background: none;
  cursor: pointer;
}

.user-btn__title {
  display: none;
  font-size: 16px;
  font-weight: normal;
  text-transform: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--header-color);
}

.user-btn__icon {
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;

  .user-icon {
    fill: var(--header-color);
    width: 24px;
    height: 24px;
  }
}

/* User navigation */
.user-navigation {
  --offcanvas-bg: var(--alt-bg-color);

  width: 200px;
  z-index: 2110;
}

.user-navigation .offcanvas__content {
  display: flex;
  height: 100%;
}

.user-navigation + .offcanvas__bg {
  z-index: 2100;
}

/* User navigation content */
.user-navigation-content {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;

  .user-btn {
    padding: 0 12px 0 20px;
  }

  .user-btn__title {
    display: block;
  }
}

/* User navigation controls */
.user-navigation-controls {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: var(--header-size);
  background-color: var(--header-bg-color);
}

/* Close navigation button */
.user-navigation__close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  margin: 0 16px 0 auto;
  padding: 0;
  background: none;
  border: 0 none;
  border-radius: 100vh;
  cursor: pointer;
}

.user-navigation__close-btn-icon {
  width: 16px;
  height: 16px;
  fill: var(--header-color);
}

/* Theme switch */
.theme-switch {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.theme-switch__label {
  white-space: nowrap;
  padding: 0.5rem 0.75rem;
  font-size: 1.15rem;
  font-weight: 300;
}

.theme-switch .switch {
  margin: 0 0.75rem;
}

/* Focused Switch */
.theme-switch .switch input:focus-visible + .switch-slider {
  outline-width: 0;
  box-shadow: var(--focus-shadow);
}

/* Navigation toggle button */
.nav-toggle-btn {
  display: block;
  padding: 13px;
  cursor: pointer;
  background: none;
  border: 0 none;
  border-radius: 100vh;
}

.nav-toggle-icon {
  width: 24px;
  height: 24px;
  fill: var(--header-color);
}

/* Left side navigation */
.navigation {
  --offcanvas-bg: var(--alt-bg-color);

  z-index: 2110;
}

.navigation .offcanvas__content {
  display: flex;
  height: 100%;
}

.navigation + .offcanvas__bg {
  z-index: 2100;
}

.navigation-content {
  display: flex;
  flex-flow: column nowrap;
}

.navigation-controls {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 0 12px;
  background-color: var(--header-bg-color);
}

/* Close navigation button */
.navigation__close-btn {
  display: block;
  width: 32px;
  height: 32px;
  padding: 4px;
  cursor: pointer;
  background: none;
  border: 0 none;
  border-radius: 100vh;
}

.navigation__close-btn-icon {
  width: 24px;
  height: 24px;
  fill: var(--header-color);
}

/* Link to main page with logo */
.navigation-content .header-logo {
  display: flex;
}

/* Navigation items */
.nav-list {
  display: flex;
  flex-flow: column nowrap;
  padding: 0.25rem;
  height: 100%;
  list-style-type: none;
}

.nav-item {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

a.nav-item__link,
a.nav-item__link:visited {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5rem 0.75rem;
  font-size: 1.15rem;
  font-weight: 300;
  text-decoration: none;
  white-space: nowrap;
}

.nav-item__icon-btn {
  margin-left: auto;
  padding: 0.6rem;
  border-radius: 50%;
}

.nav-item__icon {
  --nav-item-icon-size: 13px;

  fill: var(--main-text-color);
  width: var(--nav-item-icon-size);
  height: var(--nav-item-icon-size);
}

.nav-bottom {
  margin-top: auto;
}

.nav-separator {
  margin: 0.5rem 0.25rem;
  border-top: 1px solid var(--nav-menu-separator-color);
}

/* Desktop */
@media (min-width: 768px) {
  .header {
    z-index: 2010;
  }

  .header-logo {
    display: flex;
  }

  .nav-toggle-btn {
    display: none;
  }

  .user-btn {
    padding: 0 12px 0 3px;
  }

  .user-btn__title {
    display: block;
  }

  .navigation {
    width: 200px;
    z-index: 1000;
  }

  .navigation-content {
    width: 100%;
    margin: 50px 0 0 0;
  }

  .navigation.offcanvas_closed {
    transform: translateX(0);
  }

  .offcanvas__bg,
  .navigation-controls {
    display: none;
  }
}

@media (hover: hover) {
  .theme-switch .switch-slider:hover {
    background-color: #707070;
  }

  .theme-switch .switch-slider:hover::before {
    background-color: #ffffff;
  }

  button.user-btn:hover {
    background-color: var(--header-hover-btn-bg-color);
  }

  .header-logo:hover {
    background-color: var(--header-hover-btn-bg-color);
  }

  .nav-toggle-btn:hover {
    background-color: #323232;
  }

  .navigation__close-btn:hover {
    background-color: #323232;
  }

  a.nav-item__link:hover {
    text-decoration: underline;
  }
}
