/* Settings view */
.settings-block {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 6px;
  margin: 12px 0 24px 0;
  max-width: 600px;
  color: var(--main-text-color);

  h2 {
    font-size: 18px;
    font-weight: normal;
    margin: 0;
    width: 100%;
    border: 0 none;
    border-bottom: 1px solid var(--list-separator-color);
  }
}

.currencies-list {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  width: 100%;
  gap: 4px;
}
