/* Fonts */
@font-face {
  font-family: "Segoe UI";
  font-weight: 200;
  src: local("Segoe UI Light");
}

@font-face {
  font-family: "Segoe UI";
  font-weight: 300;
  src: local("Segoe UI Semilight");
}

@font-face {
  font-family: "Segoe UI";
  font-weight: 400;
  src: local("Segoe UI");
}

@font-face {
  font-family: "Segoe UI";
  font-weight: 600;
  src: local("Segoe UI Semibold");
}

@font-face {
  font-family: "Segoe UI";
  font-weight: 700;
  src: local("Segoe UI Bold");
}

@font-face {
  font-family: "Segoe UI";
  font-style: italic;
  font-weight: 400;
  src: local("Segoe UI Italic");
}

@font-face {
  font-family: "Segoe UI";
  font-style: italic;
  font-weight: 700;
  src: local("Segoe UI Bold Italic");
}

html,
body {
  width: 100%;
  height: 100%;
}

b {
  font-weight: 600;
}

/* headings */
h1 {
  font-weight: 200;
  font-size: 32px;
  margin: 0 0 10px 0;
}

h2 {
  font-size: 20px;
  font-weight: normal;
  padding: 2px 0;
}

/* link style */
a,
a:visited {
  color: #0072c6;
}

a:hover {
  color: #1e82cc;
}

svg {
  display: block;
}

svg * {
  stroke-width: 0;
  stroke-linejoin: round;
}

/* layered layout */
.layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

.layer-box {
  display: flex;
  flex-basis: 100%;
  flex-flow: column nowrap;
  padding: 0;
}

/* single line block */
.view-row {
  max-width: 300px;
}

.row-container {
  display: flex;
  flex-flow: row nowrap;
}

.column-container {
  display: flex;
  flex-flow: column nowrap;
}

/* Input controls */
input[type="text"],
input[type="password"] {
  font-size: 16px;
  font-weight: normal;
  padding: 2px 5px;
  height: 22px;
  display: inline-block;
  border: 2px solid;
  border-radius: 0;
  box-shadow: none;
}

select {
  padding: 2px 5px;
  height: 34px;
  margin: 0;
  border: 2px solid;
}

/* Group of text input and button */
.input-group {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.input-group input {
  margin: 0;
}

/* wrap for input with 100% width of parent */
.stretch-input {
  flex-basis: 100%;
  padding: 2px 5px;
  overflow: hidden;
  border: 2px solid #000000;
  background-color: #ffffff;
}

.stretch-input > input[type="text"],
.stretch-input > input[type="password"] {
  width: 100%;
  height: 26px;
  line-height: 26px;
  margin: 0;
  padding: 0;
  border: 0 none;
}

.stretch-input > select {
  width: 100%;
  margin: 0;
}

/* text input controls with button on the right */
.stretch-input.rbtn_input {
  border-width: 2px 0 2px 2px;
}

/* Validation */
.validation-block .invalid-feedback {
  color: #ff0000;
  display: none;
  font-size: 14px;
}

.validation-block.invalid-block .invalid-feedback {
  display: block;
}

.validation-block.invalid-block .stretch-input {
  border-color: #ff0000;
}

/* Centered block */
.centered {
  margin: 0 auto;
  max-width: 824px;
  min-width: 200px;
}

/* Main layout */
.page {
  display: table;
  border-collapse: collapse;
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100%;
}

.page_wrapper {
  display: table-cell;
  width: 100%;
  min-height: 100%;
  height: 100%;
  position: static;
}

/* Main content */
.container {
  display: table;
  table-layout: fixed;
  width: 100%;
  min-height: 100%;
  height: 100%;
}

.content {
  display: table-cell;
  min-height: 100%;
  height: 100%;
}

.content_wrap {
  padding: 50px 12px;
}

/* Aligned to right element */
.right-align {
  margin-left: auto;
}

/* Classes used both by Login and Registration views */
.form-container {
  display: flex;
  flex-basis: 100%;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.form-controls {
  padding: 5px 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

/* alternative link */
.alter_link {
  margin: 0 20px;
}

/* accounts page */
.heading {
  display: flex;
  flex-flow: row wrap;
  padding: 10px 0;
}

.heading > h1 {
  font-size: 26px;
  font-weight: 300;
  line-height: 32px;
  height: 32px;
  padding: 0;
  margin-right: 30px;
  margin-bottom: 8px;
  vertical-align: middle;
  white-space: nowrap;
}

.heading .iconlink + .iconlink {
  margin-left: 16px;
}

.amount-input {
  text-align: right;
}

.std_margin {
  margin: 9px 0;
}

.acc_controls {
  padding: 5px 0;
  clear: both;
}

/* buttons */
.btn,
.btn:visited {
  font-weight: normal;
  font-size: 16px;
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  border: 0 none;
  padding: 4px 22px;
  vertical-align: middle;
  overflow: visible;
  border-radius: 0;
}

.submit-btn,
.submit-btn:visited {
  background-color: #0072c6;
}

.submit-btn:hover {
  background-color: #1e82cc;
}

.submit-btn:disabled {
  background-color: #5082aa;
  opacity: 0.3;
}

* + .cancel-btn {
  margin-left: 30px;
}

.cancel-btn,
.cancel-btn:visited {
  background-color: #b0b0b0;
}

.acc_controls .cancel-btn:hover {
  background-color: #c0c0c0;
}

/* Underlined text button */
.link-btn,
.link-btn:visited {
  padding: 4px;
  vertical-align: baseline;
  background: none;
  color: #0072c6;
}

.link-btn:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #1e82cc;
}

.link-btn:disabled {
  color: #808080;
  pointer-events: none;
}

/* flat square button with icon */
.icon-btn,
.btn.icon-btn {
  width: 34px;
  height: 34px;
  padding: 5px;
  color: #ffffff;
  background-color: #0072c6;
  cursor: pointer;
}

.icon-btn svg {
  width: 24px;
  height: 24px;
  fill: #ffffff;
}

/* dashed underline button */
.dashed-btn {
  border: 0 none;
  clear: both;
  cursor: pointer;
  background: none;
  font-size: 16px;
}

.dashed-btn > span {
  color: #0072c6;
  padding: 0;
  margin-top: -10px;
  border-top: 0 none;
  border-right: 0 none;
  border-left: 0 none;
  border-bottom: 1px dashed #0072c6;
}

.dashed-btn:hover > span {
  border-bottom: 1px solid #0072c6;
}

/* No data message for lists & etc. */
.nodata-message {
  text-align: center;
  padding: 12px 0;
}

.widget .nodata-message {
  text-align: left;
}

/* Tiles list */
.tiles {
  display: flex;
  flex-flow: row wrap;
  max-width: 440px;
  overflow: hidden;
}

/* Information tiles */
.info-tiles {
  display: flex;
  flex-flow: row wrap;
  min-width: 220px;
  max-width: 300px;
}

.info-tile {
  display: inline-flex;
  width: 80px;
  height: 80px;
  margin: 0 10px 10px 0;
  padding: 5px;
  color: #000000;
  background-color: #d0d0d0;
  position: relative;
  overflow: hidden;
}

.info-tile__title {
  font-size: 16px;
  bottom: 5px;
  position: absolute;
}

.info-tile__subtitle {
  font-size: 12px;
  text-align: right;
  top: 5px;
  right: 5px;
  position: absolute;
}

/* DropDown */
.dark-theme .dd__list-item.dd__list-item_active,
.white-theme .dd__list-item.dd__list-item_active {
  color: #ffffff;
  background-color: #3078e2;
}

/* Stretching DropDown */
.dd__fullwidth {
  display: -ms-flexbox;
  display: flex;
}

/* currency button */
.input-group__btn {
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 2px;
  color: #ffffff;
  background-color: #0072c6;
  cursor: pointer;
  position: relative;
}

.input-group__btn_inactive {
  cursor: default;
}

.input-group__btn > div {
  text-align: center;
  height: 30px;
  line-height: 30px;
  white-space: nowrap;
}

/* Popup */
.popup__content-box {
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

/* Messages */
.popup__content.msg {
  background: none;
  margin-top: 60px;
  align-self: baseline;
}

.popup__content.msg .popup__content-box {
  padding: 0;
  max-width: 824px;
  width: 100%;
  background: none;
}

.msg .popup__content-box > .popup__message {
  max-width: 300px;
  min-width: 200px;
  color: #ffffff;
  position: absolute;
  right: 0;
  padding: 15px 30px 15px 20px;
}

.msg.msg_success .popup__content-box .popup__message {
  border-color: #20d040;
  background-color: #40d060;
}

.msg.msg_error .popup__content-box .popup__message {
  border-color: #f02020;
  background-color: #f02020;
}

/* Custom popup styles */
.popup__content {
  background: none;
}

.msg .close-btn:hover > svg {
  fill: #ffffff;
}

/* Custom popup styles */
.popup__title {
  font-weight: lighter;
}

.popup .close-btn,
.popup__content-box.dragging .close-btn {
  display: block;
}

/* Filters */
.filters-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.filter-item {
  flex: 1 0 auto;
  margin-right: 15px;
}
