@use "sass:list";

:root {
  --accent-color: #0072c6;
  --accent-color-alt: #20a0ff;
  --accent-hover-color: #1e82cc;
  --action-btn-border-radius: 6px;
  --focus-shadow: 0 0 0 0.25rem #0d6efd40;
  --input-height: 37px;
}

html,
body {
  width: 100%;
  height: 100%;
}

b {
  font-weight: 600;
}

/* headings */
h1 {
  font-weight: 200;
  font-size: 32px;
}

h2 {
  font-size: 20px;
  font-weight: normal;
  padding: 2px 0;
}

/* link style */
a,
a:visited {
  color: var(--accent-color);
}

a:focus-visible {
  box-shadow: var(--focus-shadow);
}

svg {
  display: block;
}

svg * {
  stroke-width: 0;
  stroke-linejoin: round;
}

label {
  display: block;
  font-size: 0.8rem;
  font-weight: 400;
  margin-bottom: 5px;
  margin-left: 1px;
}

/* layered layout */
.layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

.layer-box {
  display: flex;
  flex-basis: 100%;
  flex-flow: column nowrap;
  padding: 0;
}

/* single line block */
.view-row {
  max-width: 300px;
}

.row-container {
  display: flex;
  flex-flow: row nowrap;
}

.column-container {
  display: flex;
  flex-flow: column nowrap;
}

/* flat square button with icon */
.icon-btn {
  width: 34px;
  height: 34px;
  padding: 5px;
  background-color: var(--accent-color);
}

.icon-btn .icon {
  width: 24px;
  height: 24px;
}

/* Input control fills all parent width */
.stretch-input {
  display: flex;
  flex-basis: 100%;
  width: 100%;
  height: var(--input-height);
  font-size: 0.9rem;
  border-width: 1px;
  border-style: solid;
  padding: 0 0.5rem;
  border-radius: 5px;
}

/* Input group */
.input-group,
.import-form .input-group {
  --ig-height: var(--input-height);

  .input-group__btn,
  .input-group__text {
    font-size: 1rem;
  }

  .input-group__btn-title {
    font-size: 1rem;
    min-width: var(--ig-height);
    height: var(--ig-height);
    line-height: var(--ig-height);
  }

  .input-group__btn:last-child {
    border-right-width: 0;
  }

  .input-group__btn[disabled]:last-child {
    border-right-width: var(--ig-border-width);
  }

  .input-group__text[disabled] {
    color: var(--ig-button-disabled-color);
    border-color: var(--ig-button-disabled-border);
    background-color: var(--ig-button-disabled-bg);
  }

  .input-group__btn .icon {
    fill: var(--ig-button-color);
  }
}

.iconbutton.circle-icon {
  --iconbtn-hover-icon-color: #ffffff;

  .iconbutton__icon {
    border: 2px solid #000000;
    border-radius: 50%;
  }
}

.iconbutton.no-icon {
  .iconbutton__content {
    padding: 0;
  }
}

/* Centered block */
.centered {
  margin: 0 auto;
  max-width: 824px;
  min-width: 200px;
}

/* Main layout */
.page {
  display: table;
  border-collapse: collapse;
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100%;
}

.page_wrapper {
  display: table;
  height: 100%;
  min-height: 100%;
}

.page-content {
  display: flex;
  flex-flow: row nowrap;
  min-height: 100%;
  height: 100%;
}

/* Main content */
.container {
  display: table;
  table-layout: fixed;
  width: 100%;
  min-height: 100%;
  height: 100%;
}

.content {
  display: table-cell;
  min-height: 100%;
  height: 100%;
}

.content_wrap {
  padding: 50px 12px;
}

/* Sticky header */
.content-header {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 9px;
  position: sticky;
  top: 50px;
  z-index: 1000;
  padding: 10px 0;
}

/* Aligned to right element */
.right-align {
  margin-left: auto;
}

/* Classes used both by Login and Registration views */
.form-container {
  display: flex;
  flex-basis: 100%;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.form-controls {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 16px;
  padding: 24px 0 12px 0;
}

.form-controls .spinner {
  --spinner-size: 20px;
  --spinner-color: #dddddd;
}

.right-align-text {
  text-align: right;
}

.std_margin {
  margin: 9px 0;
}

/* buttons */
.btn,
.btn:visited {
  font-weight: normal;
  font-size: 16px;
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  border: 0 none;
  padding: 6px 24px;
  vertical-align: middle;
  overflow: visible;
  border-radius: 0;
  cursor: pointer;
}

.btn:focus-visible,
.close-btn:focus-visible {
  box-shadow: var(--focus-shadow);
}

.btn[disabled],
.close-btn[disabled] {
  cursor: default;
  pointer-events: none;
  opacity: 0.3;
}

.submit-btn,
.submit-btn:visited {
  border-radius: var(--action-btn-border-radius);
  background-color: var(--accent-color);
}

.submit-btn:disabled {
  background-color: #5082aa;
  opacity: 0.3;
}

.cancel-btn,
.cancel-btn:visited {
  vertical-align: baseline;
  text-decoration: underline;
  background: none;
  color: var(--accent-color);
}

.warning-btn {
  background-color: #c60000;
}

.warning-btn:focus-visible {
  box-shadow: 0 0 0 0.25rem #f31b1b40;
}

/* Underlined text button */
.link-btn,
.link-btn:visited {
  padding: 4px;
  vertical-align: baseline;
  background: none;
  color: var(--accent-color);
}

.link-btn:disabled {
  color: #808080;
  pointer-events: none;
}

/* dashed underline button */
.dashed-btn {
  position: relative;
  padding: 0;
  border: 0 none;
  font-size: 16px;
  background: none;
  color: var(--accent-color);

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0;
    border-top: 0 none;
    border-right: 0 none;
    border-left: 0 none;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    border-bottom-color: var(--accent-color);
  }
}

/* Validation */
.validation-block .invalid-feedback {
  color: #ff0000;
  display: none;
  font-size: 14px;
}

.validation-block.invalid-block .invalid-feedback {
  display: block;
}

.validation-block.invalid-block .stretch-input {
  border-color: #ff0000;
}

/* No data message for lists & etc. */
.nodata-message {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 12px 0;
}

.widget .nodata-message {
  text-align: left;
}

/* Tiles list */
.tiles {
  display: flex;
  flex-flow: row wrap;
  gap: var(--tile-gap);
  max-width: calc(var(--tile-size) * 4 + var(--tile-gap) * 3);
}

/* Total list */
.total-list {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  min-width: 220px;
  max-width: 300px;
}

.total-list__item {
  display: inline-flex;
  padding: 5px;
  font-size: 14px;
  white-space: nowrap;
  color: #000000;
  background-color: #d0d0d0;
}

/* Focused Checkbox, Radio, Switch */
.checkbox input:focus-visible + .checkbox__check,
.radio input:focus-visible + .radio__check {
  outline-width: 0;
  box-shadow: var(--focus-shadow);
}

/* DropDown */
.dd__container,
.dd__container_attached {
  --dd-border-width: 1px;
  --dd-list-border-radius: 5px;
  --dd-selection-item-border-radius: 3px;
  --dd-disabled-list-item-bg: none;
  --dd-combo-border-radius: 5px;
  --dd-combo-height: var(--input-height);
  --dd-active-list-item-text: #ffffff;
  --dd-active-list-item-bg: #3078e2;
  --dd-input-font-size: 0.9rem;
  --dd-selection-font-size: 15px;
  --dd-active-selection-bg: var(--dd-active-bg);
}

/* Stretching DropDown */
.dd_fullwidth {
  display: flex;
}

/** Single selection DropDown with ellipsis text overflow */
.dd_ellipsis {
  width: 100%;
  overflow: hidden;

  .dd__single-selection {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    flex-shrink: 1;
  }
}

/* DropDown attached to input group button */
.input-group__btn .dd__container_attached {
  border-bottom-right-radius: var(--ig-border-radius);
  border-right-width: var(--ig-border-width);
  border-top-right-radius: var(--ig-border-radius);
}

.input-group__btn .dd__container_active.dd__container_attached {
  outline: 0 none;
  box-shadow: var(--focus-shadow);
}

/* Datepicker */
.dp__wrapper {
  border-width: 1px;
  border-radius: 5px;
}

/* Checkboxes list sub-option */
.suboption {
  margin-left: 29px;
}

/* Popup */
.popup__content {
  background: none;
}

.popup__title {
  font-weight: 300;
  font-size: 26px;
  margin: 0;
  padding: 0;
}

.popup__content-box {
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.popup .close-btn,
.popup__content-box.dragging .close-btn {
  display: block;
}

.popup__controls {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  gap: 30px;
  padding: 24px 0 12px 0;
}

/* Messages */
.popup.msg {
  top: 70px;
  right: 12px;
  left: auto;
  bottom: auto;
  width: auto;
  height: auto;

  .popup__content {
    background: none;
    align-self: baseline;
  }

  .popup__content-box {
    padding: 0;
    max-width: 824px;
    width: 100%;
    background: none;
  }

  .popup__header {
    position: absolute;
    right: 8px;
    top: 17px;
    width: 18px;
    height: 18px;
    z-index: 3;
  }

  .popup__message {
    max-width: 400px;
    min-width: 200px;
    color: #ffffff;
    right: 0;
    padding: 15px 35px 15px 20px;
  }

  &.msg_success .popup__message {
    border-color: #20d040;
    background-color: #40d060;
  }

  &.msg_error .popup__message {
    border-color: #f02020;
    background-color: #f02020;
  }

  .close-btn__icon {
    fill: #ffffff;
    opacity: 0.5;
  }
}

/* Link menu */
.link-menu {
  --link-menu-icon-color: var(--accent-color);
}

.link-menu-item {
  padding: 0;
}

/* Counters */
.counters {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  column-gap: 24px;
}

.counter {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  column-gap: 12px;
}

.counter__title {
  font-size: 0.8rem;
  color: #858585;
}

.counter__value {
  font-size: 0.9rem;
}

/* Paginator */
.paginator {
  align-items: center;
  justify-content: center;
  padding: 16px 0;
  gap: 2px;
}

.paginator-item {
  padding: 0.5rem;
  margin: 0;
  text-decoration: none;
  border: 0 none;
  border-radius: 3px;
  font-size: 0.9rem;
}

a.paginator-item,
a.paginator-item:visited {
  color: var(--accent-color);
}

.paginator-arrow {
  width: fit-content;
  fill: var(--accent-color-alt);
}

.paginator-arrow[disabled] {
  fill: #5e5e5e;
}

.paginator-item__active {
  font-weight: normal;
  background-color: var(--accent-color-alt);
  color: #ffffff;
}

a.paginator-item:focus-visible,
a.paginator-arrow:focus-visible {
  z-index: 2;
  box-shadow: var(--focus-shadow);
}

/* Show filters button */
.iconbutton.filters-btn {
  width: 150px;
  justify-content: center;
  border-radius: var(--action-btn-border-radius);

  .iconbutton__content {
    padding: 0 5px;
  }
}

/* Filters */
.filter-item .link-menu {
  min-height: var(--input-height);
}

/* Histogram */
$colors: #20a0ff, #ff0077, #00d647, #e2de00;
$active-colors: #00bfff, #ff3392, #00ff55, #fcf93d;

.histogram {
  @for $i from 1 through length($colors) {
    --charts-color-#{$i}: #{list.nth($colors, $i)};
    --charts-active-color-#{$i}: #{list.nth($active-colors, $i)};
  }
}

@for $i from 1 through length($colors) {
  .histogram_column-#{$i} {
    --historgam-bar-color: var(--charts-color-#{$i});
    --historgam-active-bar-color: var(--charts-active-color-#{$i});
  }
}

@for $i from 1 through length($colors) {
  .chart_stacked .histogram_category-#{$i} {
    --historgam-bar-color: var(--charts-color-#{$i});
    --historgam-active-bar-color: var(--charts-active-color-#{$i});
  }
}

@media (min-width: 576px) {
  .paginator-item {
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
  }
}

/* Desktop */
@media (min-width: 768px) {
  .content_wrap {
    padding: 50px 12px 50px 212px;
  }
}

@media (hover: hover) {
  a:hover {
    color: var(--accent-hover-color);
  }

  .icon-btn:hover,
  .submit-btn:hover {
    background-color: var(--accent-hover-color);
  }

  .warning-btn:hover {
    background-color: #e63030;
  }

  .link-btn:hover {
    text-decoration: underline;
    color: var(--accent-hover-color);
  }

  .dashed-btn:hover::after {
    border-bottom-style: solid;
  }

  .msg .close-btn:hover .close-btn__icon {
    fill: #ffffff;
    opacity: 1;
  }

  a.paginator-item:hover {
    background-color: #51b4ff59;
  }
}
