/* Fonts */
@font-face {
  font-family: "Segoe UI";
  font-weight: 200;
  src: local("Segoe UI Light");
}

@font-face {
  font-family: "Segoe UI";
  font-weight: 300;
  src: local("Segoe UI Semilight");
}

@font-face {
  font-family: "Segoe UI";
  font-weight: 400;
  src: local("Segoe UI");
}

@font-face {
  font-family: "Segoe UI";
  font-weight: 600;
  src: local("Segoe UI Semibold");
}

@font-face {
  font-family: "Segoe UI";
  font-weight: 700;
  src: local("Segoe UI Bold");
}

@font-face {
  font-family: "Segoe UI";
  font-style: italic;
  font-weight: 400;
  src: local("Segoe UI Italic");
}

@font-face {
  font-family: "Segoe UI";
  font-style: italic;
  font-weight: 700;
  src: local("Segoe UI Bold Italic");
}

:root {
  --action-btn-border-radius: 5px;
  --focus-shadow: #0d6efd40;
}

html,
body {
  width: 100%;
  height: 100%;
}

b {
  font-weight: 600;
}

/* headings */
h1 {
  font-weight: 200;
  font-size: 32px;
  margin: 0 0 10px 0;
}

h2 {
  font-size: 20px;
  font-weight: normal;
  padding: 2px 0;
}

/* link style */
a,
a:visited {
  color: #0072c6;
}

svg {
  display: block;
}

svg * {
  stroke-width: 0;
  stroke-linejoin: round;
}

label {
  display: block;
  font-size: 0.8rem;
  font-weight: 400;
  margin-bottom: 5px;
  margin-left: 1px;
}

/* layered layout */
.layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

.layer-box {
  display: flex;
  flex-basis: 100%;
  flex-flow: column nowrap;
  padding: 0;
}

/* single line block */
.view-row {
  max-width: 300px;
}

.row-container {
  display: flex;
  flex-flow: row nowrap;
}

.column-container {
  display: flex;
  flex-flow: column nowrap;
}

/* flat square button with icon */
.icon-btn {
  width: 34px;
  height: 34px;
  padding: 5px;
  color: #ffffff;
  background-color: #0072c6;
  cursor: pointer;
}

.icon-btn .icon {
  width: 24px;
  height: 24px;
  fill: #ffffff;
}

/* Input control fills all parent width */
.stretch-input {
  display: flex;
  flex-basis: 100%;
  width: 100%;
  height: 2.3rem;
  font-size: 0.9rem;
  border-width: 1px;
  border-style: solid;
  padding: 0 0.5rem;
  border-radius: 5px;
}

/* Input group */
.input-group {
  .input-group__btn-title {
    font-size: 1rem;
    min-width: var(--ig-height);
    height: var(--ig-height);
    line-height: var(--ig-height);
  }

  /* DropDown attached to input group button */
  .input-group__btn .dd__container_active.dd__container_attached {
    outline: 0 none;
    box-shadow: 0 0 0 0.25rem var(--focus-shadow);
  }
}

/* Centered block */
.centered {
  margin: 0 auto;
  max-width: 824px;
  min-width: 200px;
}

/* Main layout */
.page {
  display: table;
  border-collapse: collapse;
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100%;
}

.page_wrapper {
  display: table;
  height: 100%;
  min-height: 100%;
}

.page-content {
  display: flex;
  flex-flow: row nowrap;
  min-height: 100%;
  height: 100%;
}

/* Main content */
.container {
  display: table;
  table-layout: fixed;
  width: 100%;
  min-height: 100%;
  height: 100%;
}

.content {
  display: table-cell;
  min-height: 100%;
  height: 100%;
}

.content_wrap {
  padding: 50px 12px;
}

.heading {
  display: flex;
  flex-flow: row wrap;
  padding: 10px 0;

  > h1 {
    font-size: 26px;
    font-weight: 300;
    line-height: 32px;
    height: 32px;
    padding: 0;
    margin-right: 30px;
    margin-bottom: 8px;
    vertical-align: middle;
    white-space: nowrap;
  }

  .iconlink + .iconlink {
    margin-left: 16px;
  }
}

/* Aligned to right element */
.right-align {
  margin-left: auto;
}

/* Classes used both by Login and Registration views */
.form-container {
  display: flex;
  flex-basis: 100%;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.form-controls {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 16px;
  padding: 24px 0 12px 0;
}

.form-controls .spinner {
  --spinner-size: 20px;
  --spinner-color: #dddddd;
}

.right-align-text {
  text-align: right;
}

.std_margin {
  margin: 9px 0;
}

/* buttons */
.btn,
.btn:visited {
  font-weight: normal;
  font-size: 16px;
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  border: 0 none;
  padding: 4px 22px;
  vertical-align: middle;
  overflow: visible;
  border-radius: 0;
}

.submit-btn,
.submit-btn:visited {
  border-radius: var(--action-btn-border-radius);
  background-color: #0072c6;
}

.submit-btn:disabled {
  background-color: #5082aa;
  opacity: 0.3;
}

.cancel-btn,
.cancel-btn:visited {
  vertical-align: baseline;
  text-decoration: underline;
  background: none;
  color: #0072c6;
  cursor: pointer;
}

.warning-btn {
  background-color: #c60000;
}

/* Underlined text button */
.link-btn,
.link-btn:visited {
  padding: 4px;
  vertical-align: baseline;
  background: none;
  color: #0072c6;
}

.link-btn:disabled {
  color: #808080;
  pointer-events: none;
}

/* dashed underline button */
.dashed-btn {
  border: 0 none;
  clear: both;
  cursor: pointer;
  background: none;
  font-size: 16px;

  > span {
    color: #0072c6;
    padding: 0;
    margin-top: -10px;
    border-top: 0 none;
    border-right: 0 none;
    border-left: 0 none;
    border-bottom: 1px dashed #0072c6;
  }
}

/* Validation */
.validation-block .invalid-feedback {
  color: #ff0000;
  display: none;
  font-size: 14px;
}

.validation-block.invalid-block .invalid-feedback {
  display: block;
}

.validation-block.invalid-block .stretch-input {
  border-color: #ff0000;
}

/* No data message for lists & etc. */
.nodata-message {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 12px 0;
}

.widget .nodata-message {
  text-align: left;
}

/* Tiles list */
.tiles {
  display: flex;
  flex-flow: row wrap;
  gap: var(--tile-gap);
  max-width: calc((var(--tile-size) + var(--tile-gap)) * 4);
  overflow: hidden;
}

/* Total list */
.total-list {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  min-width: 220px;
  max-width: 300px;
}

.total-list__item {
  display: inline-flex;
  padding: 5px;
  font-size: 16px;
  white-space: nowrap;
  color: #000000;
  background-color: #d0d0d0;
}

/* DropDown */
.dd__container,
.dd__container_attached {
  --dd-border-width: 1px;
  --dd-border-radius: 5px;
  --dd-list-border-radius: 5px;
  --dd-selection-item-border-radius: 3px;
}

.dark-theme .dd__list-item.dd__list-item_active,
.white-theme .dd__list-item.dd__list-item_active {
  color: #ffffff;
  background-color: #3078e2;
}

/* Stretching DropDown */
.dd_fullwidth {
  display: flex;
}

/** Single selection DropDown with ellipsis text overflow */
.dd_ellipsis {
  width: 100%;
  overflow: hidden;

  .dd__single-selection {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    flex-shrink: 1;
    line-height: 30px;
  }
}

/* Datepicker */
.dp__wrapper {
  border-width: 1px;
  border-radius: 5px;
}

/* Checkboxes list sub-option */
.suboption {
  margin-left: 29px;
}

/* Popup */
.popup__content {
  background: none;
}

.popup__title {
  font-weight: 300;
  font-size: 26px;
  margin: 0;
  padding: 0;
}

.popup__content-box {
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.popup .close-btn,
.popup__content-box.dragging .close-btn {
  display: block;
}

.popup__controls {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  gap: 30px;
  padding: 24px 0 12px 0;
}

/* Messages */
.popup.msg {
  top: 70px;
  right: 12px;
  left: auto;
  bottom: auto;
  width: auto;
  height: auto;

  .popup__content {
    background: none;
    align-self: baseline;
  }

  .popup__content-box {
    padding: 0;
    max-width: 824px;
    width: 100%;
    background: none;
  }

  .popup__header {
    position: absolute;
    right: 8px;
    top: 17px;
    width: 18px;
    height: 18px;
    z-index: 3;
  }

  .popup__message {
    max-width: 400px;
    min-width: 200px;
    color: #ffffff;
    right: 0;
    padding: 15px 35px 15px 20px;
  }

  &.msg_success .popup__message {
    border-color: #20d040;
    background-color: #40d060;
  }

  &.msg_error .popup__message {
    border-color: #f02020;
    background-color: #f02020;
  }
}

/* Paginator */
.paginator {
  gap: 2px;
}

.paginator-item {
  padding: 0.25rem 0.5rem;
  margin: 0;
  text-decoration: none;
  border: 0 none;
  border-radius: 3px;
  color: #447fd6;
}

.paginator-arrow {
  width: fit-content;
  fill: #447fd6;
}

.paginator-arrow[disabled] {
  fill: #5e5e5e;
}

.paginator-item__active {
  font-weight: normal;
  background-color: #006cbd;
  color: #ffffff;
}

a.paginator-item:focus,
a.paginator-arrow:focus {
  z-index: 2;
  box-shadow: 0 0 0 0.25rem var(--focus-shadow);
}

/* Filters */
.filters-container {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}

.filter-item {
  flex: 1 1 auto;
  margin: 0 0 9px 0;
}

.filter-item__title {
  font-size: 0.8rem;
  font-weight: 400;
  margin-bottom: 5px;
  margin-left: 1px;
}

.filter-item .trtype-menu {
  flex-flow: column nowrap;
  align-items: baseline;
  padding: 0;
}

.filter-item .trtype-menu__item {
  margin-bottom: 6px;
}

/* Histogram bar item */
.charts {
  --charts-color-1: #20a0ff;
  --charts-color-2: #ff0077;
  --charts-color-3: #00d647;
  --charts-color-4: #e2de00;

  /* Active chart item */
  --charts-active-color-1: #00bfff;
  --charts-active-color-2: #ff3392;
  --charts-active-color-3: #00ff55;
  --charts-active-color-4: #fcf93d;
}

.histogram__bar {
  --historgam-bar-color: var(--charts-color-1);
  --historgam-active-bar-color: var(--charts-active-color-1);
}

.histogram_category-1 {
  --historgam-bar-color: var(--charts-color-2);
  --historgam-active-bar-color: var(--charts-active-color-2);
}

.histogram_category-2 {
  --historgam-bar-color: var(--charts-color-3);
  --historgam-active-bar-color: var(--charts-active-color-3);
}

.histogram_category-3 {
  --historgam-bar-color: var(--charts-color-4);
  --historgam-active-bar-color: var(--charts-active-color-4);
}

/* Desktop */
@media (min-width: 768px) {
  .content_wrap {
    padding: 50px 12px 50px 212px;
  }

  .filter-item .trtype-menu {
    flex-flow: row nowrap;
    align-items: center;
  }
}

@media (hover: hover) {
  a:hover {
    color: #1e82cc;
  }

  .submit-btn:hover {
    background-color: #1e82cc;
  }

  .link-btn:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #1e82cc;
  }

  .dashed-btn:hover > span {
    border-bottom: 1px solid #0072c6;
  }

  .msg .close-btn:hover .close-btn__icon {
    fill: #ffffff;
  }

  a.paginator-item:hover {
    background-color: #51b4ff59;
  }
}
