*
{
	margin: 0;
	padding: 0;
	border: 0 none;
}


*, body
{
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


/* Hide clear button inside inputs */
::-ms-clear
{
	display: none;
}


/* Firefox fix */
button::-moz-focus-inner
{
	padding: 0;
	border: 0;
}


/* WebKit focus fix */
*:focus
{
	outline: none;
}


/* IE button padding fix */
input[type="button"],
input[type="submit"],
button
{
	overflow: visible;
}


/* iOS Safari styling issue fix */
input[type="button"], input[type="submit"], button
{
	-webkit-appearance: button;
}


/* Clearfix */
.clearfix
{
	float: none;
	clear: both;
	display: table;
	zoom: 1;
}


.clearfix:after
{
	content: '. .';
	display: block;
	word-spacing: 99in;
	height: 0;
	overflow: hidden;
/* Opera fix */
	font-size: 0.13em;
	line-height: 0;
}
