/* Page */
body,
.page_wrapper
{
    color: #DDDDDD;
    background-color: #101010;
}


/* Main content */
.container
{
    background-color: #202020;
}


/* Input controls color */
input[type="text"],
input[type="password"],
select
{
    border-color: #DDDDDD;
    background-color: #202020;
    color: #DDDDDD;
}


/* Login/Register view */
.login-layer,
.register-layer
{
    background-color: #101010;
}


.login-layer h1,
.register-layer h1
{
    color: #DDDDDD;
}


.heading
{
    color: #DDDDDD;
}


.iconlink .iconlink__icon
{
    border-color: #DDDDDD;
}


.iconlink:hover .iconlink__icon
{
    background-color: #DDDDDD;
}


.iconlink .iconlink__icon svg *
{
    fill: #DDDDDD;
}


.iconlink:hover .iconlink__icon svg *
{
    fill: #202020;
}


.iconlink span.iconlink__content
{
    color: #DDDDDD;
}


.iconlink > *:hover > span
{
    color: #DDDDDD;
}

/* No data message for lists & etc. */
.nodata-message
{
    background-color: #292929;
    color: #B0B0B0;
}

/* Main view widgets */
.widget_title,
.widget_title > a,
.widget_title > a:hover
{
    color: #DDDDDD;
}


.widget_title .glyph svg *
{
    fill: #DDDDDD;
}


/* Transaction type menu */
.trtype-menu__item_selected
{
    color: #DDDDDD;
}


/* Tile info block */
.tile-info-block > div > span
{
    color: #DDDDDD;
}


.stretch-input
{
    border-color: #DDDDDD;
    background-color: #202020;
}


.input-group__btn_inactive
{
    color: #DDDDDD;
    background-color: #202020;
}


/* DropDown  */
.dd__combo,
.dd__input,
.dd__single-selection,
.dd__toggle-btn
{
    background-color: #202020;
    color: #DDDDDD;
}


.dd__combo
{
    border-color: #DDDDDD;
}


.dd__container_active .dd__combo,
.dd__container_active .dd__input,
.dd__container_active .dd__single-selection,
.dd__container_active .dd__toggle-btn
{
    color: #202020;
}


.dd__list
{
    background-color: #202020;
    border-right-color: #DDDDDD;
    border-left-color: #DDDDDD;
}


.dd__list_drop-down
{
    border-bottom-color: #DDDDDD;
}


.dd__list_drop-up
{
    border-top-color: #DDDDDD;
}


.dd__list-item
{
    color: #DDDDDD;
    background-color: #202020;
}


.dd__list-item > svg
{
    fill: #DDDDDD;
}


.dd__container_enabled .dd__toggle-btn:hover path
{
    fill: #DDDDDD;
}



@media (max-width: 767px)
{

.dd__container.dd__fullscreen.dd__open .dd__background
{
    background-color: #202020;
}


.dd__container.dd__fullscreen.dd__open .dd__list
{
    border-color: #DDDDDD;
}

}

/* Date picker */
.dp__wrapper
{
    background-color: #202020;
    color: #DDDDDD;
    border-color: #DDDDDD;
}


.dp__cell
{
    color: #DDDDDD;
    border-color: #202020;
    background-color: #202020;
}


.dp__other-month-cell
{
    color: #505050;
}


.dp__today-cell,
.dp__cell_hl.dp__today-cell
{
    border: 1px dashed #00bef3;
}


.dp__cell_act
{
    border-color: #20D0FF;
}


.dp__cell_hl
{
    background-color: #005688;
    border-color: #005688;
    color: #FFFFFF;
}

.dp__year-range-view__cell:hover,
.dp__year-view__cell:hover,
.dp__day-cell:hover
{
    background-color: #3198d4;
    color: #DDDDDD;
}


/* Transaction list */
.trans-list > span
{
    color: #DDDDDD;
}


/* Transaction list mode selector */
.mode-selector > b > span
{
    color: #DDDDDD;
}


.paginator > span
{
    color: #DDDDDD;
}


/* Transaction list item */
.trans-list_details td > div,
.trans-list_details tr.trans-list__item_selected > td > div
{
    background-color: #505050;
}


.trans-list_details .trans-list__item-comment
{
    color: #DDDDDD;
}


.trans-list__item,
div.trans-list__item_selected
{
    background-color: #505050;
}


.tritem_balance,
.trans-list__item-title,
.trans-list__item-content
{
    color: #DDDDDD;
}


.trans-list__item-details
{
    color: #B0B0B0;
}


.trans-list__item-comment
{
    border-left-color: #B0B0B0;
}


/* Bar chart */
.charts svg text tspan
{
    fill: #DDDDDD;
}


/* Profile view */
.profile_block
{
    color: #DDDDDD;
}


/* Popup */
.popup__content .popup__content-box
{
    color: #DDDDDD;
    background-color: #303030;
}


.popup__title,
.popup__message
{
    color: #DDDDDD;
}


/* Tiles list */
.tiles > span,
.info-tiles > span
{
    color: #DDDDDD;
}


/* Import view */
.import-item
{
    background-color: #505050;
}

.import-item .extended-content
{
    color: #BBBBBB;
    border-color: #3C3C3C;
    background-color: #444444;
}

.import-item.import-item_disabled .extended-content
{
    color: #707070;
    border-color: #333333;
    background-color: #232323;
}

.import-item select,
.import-item input[type="text"]
{
    border-color: #DDDDDD;
}

.import-item select[disabled],
.import-item input[disabled]
{
    color: #808080;
    border-color: #808080;
    background-color: #202020;
}

.import-item.import-item_disabled
{
    background-color: #292929;
    color: #707070;
    border-color: #707070;
}

.import-item_disabled select,
.import-item_disabled select[disabled],
.import-item_disabled input[type="text"],
.import-item_disabled input[disabled]
{
    color: #707070;
    border-color: #202020;
    background-color: #202020;
}

.import-item_disabled input::placeholder
{
    color: #707070;
}

.import-item .btn,
.import-item .btn:visited,
.import-item .btn:active
{
    color: #DDDDDD;
}

.import-item .btn:hover
{
    background-color: #303030;
}

.import-item .btn svg
{
    fill: #888888;
}

.import-item .btn:hover svg
{
    fill: #DDDDDD;
}

/* Placeholder */
.import-item.import-item__placeholder
{
    border-color:#888888;
    background-color: #202020;
}

.import-controls
{
    color: #DDDDDD;
}

/* Upload dialog */
.upload-form__browser.drag-over
{
    outline-color: #DDDDDD;
}

/* Import rules dialog */
.rules-dialog__loading
{
    color: #DDDDDD;
    background-color: #303030;
}

/* Import rule */
.rule-item__ext
{
    background-color: #202020;
}

.rule-item__main,
.rule-form__collapse-header
{
    background-color: #202020;
    border-color: #202020;
}

.rule-item__main:hover,
.rule-form__collapse-header:hover
{
    background-color: #2E2E2E;
    border-color: #505050;
}

.rule-item__operator
{
    color: #808080;
}

.rule-item .icon-btn:hover,
.rule-form .icon-btn:hover
{
    background-color: #2E2E2E;
}

.rule-item .icon-btn svg,
.rule-form .icon-btn svg
{
    fill: #888888;
}

.rule-item .icon-btn:hover svg,
.rule-form .icon-btn:hover svg
{
    fill: #DDDDDD;
}

.rule-item__info
{
    color: #B0B0B0;
}

.rule-form__collapse-content,
.rule-item .rule-item__ext
{
    color: #BBBBBB;
    border-color: #303030;
    background-color: #252525;
}

/* Condition item */
.cond-item,
.cond-form
{
    background-color: #353535;
    border-color: #353535;
}

.cond-item__operator
{
    color: #808080;
}

/* Action item */
.action-item,
.action-form
{
    background-color: #353535;
}

/* Statistics view */
.stat-histogram > span
{
    color: #DDDDDD;
}

.chart_popup
{
    border-color: #000000;
    background-color: #202020;
    color: #DDDDDD;
}
