.data-container
{
    display: flex;
}


.import_form
{
	padding: 10px;
}


.import-tbl
{
	padding: 0px 0px 0px 10px;
}


.column
{
	width: 49%;
}


.column #importRows
{
	margin-right: 10px;
}


.import-row,
.tr-row
{
	padding: 10px;
	margin: 3px 0;
}


.import-row td
{
	padding: 0px 5px;
	height: 57px;
}


/* Ellipsis cell */
.ellipsis-cell > div
{
	position: relative;
	overflow: hidden;
	height: 23px;
}


/* visible content */
.ellipsis-cell > div > span
{
	display: block;
	position: absolute;
	max-width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 23px;		/* for vertical align of text */
}


/* cell stretching content */
.ellipsis-cell > div:after
{
	content: attr(title);
	overflow: hidden;
	height: 0;
	display: block;
	font-size: 14px;
}


#acc_id,
.controls
{
	margin: 10px;
}


.tr-row
{
	display: flex;
	flex-flow: row nowrap;
	height: 36px;
}


.tr-row > *
{
	display: inline;
}

.tr-row > select,
.tr-row > input[type="text"]
{
	border: 1px solid;
	padding: 5px;
	width: 100px;
	margin: 0px 5px 0px 0px;
}


.tr-row > input[type="button"]
{
	width: 30px;
	border: 0 none;
	pointer-events: all;
}


.tr-row > input[type="checkbox"]
{
	margin: 10px;
	width: 20px;
	pointer-events: all;
}


/* Already exist transaction row */
.tr-row.tr-row_disabled
{
	background-color: #EEEEEE;
}


.tr-row_disabled > select,
.tr-row_disabled > select[disabled],
.tr-row_disabled > input[type="text"],
.tr-row_disabled > input[disabled]
{
	pointer-events: none;
}


.tr-row_disabled input::placeholder
{
	color: #DDDDDD;
}


.tr-row .submit-btn
{
	pointer-events: all;
}


/* Placeholder */
.tr-row__placeholder
{
	border: 1px dashed #888888;
	height: 54px;
	margin: 3px 0px;
}


.tr-row__placeholder > input,
.tr-row__placeholder > select
{
	display: none;
}


/* Checkbox or radiobutton wrapper */
.checkwrap
{
	height: 20px;
	line-height: 20px;
}

.checkwrap > label
{
	display: inline-flex;
	flex-flow: row nowrap;
	white-space: nowrap;
	font-size: 14px;
}


.checkwrap.inputwrap
{
	height: 30px;
	line-height: 30px;
}


.checkwrap input[type="checkbox"],
.checkwrap input[type="radio"],
.checkwrap > label,
.checkwrap > label > span
{
	height: 20px;
	line-height: 20px;
}


.checkwrap > label > input[type="checkbox"],
.checkwrap > label > input[type="radio"],
.checkwrap > label > span
{
	height: 20px;
	line-height: 20px;
	padding: 0 5px;
}


.checkwrap > input[type="checkbox"],
.checkwrap > input[type="radio"]
{
	margin: 0px 5px 0px 0px;
}
