/* icon link */
.iconlink
{
	box-sizing: border-box;
	display: inline-block;
	float: left;
	overflow: hidden;
	height: 32px;
}


.iconlink .icon
{
	box-sizing: border-box;
	width: 32px;
	height: 32px;
	border: 2px solid #000000;
	border-radius: 50%;
	padding: 2px;
	overflow: hidden;
	display: inline-block;
	float: left;
}


.iconlink:hover .icon
{
	background-color: #000000;
}


.iconlink:hover .icon svg *
{
	fill: #FFFFFF;
}


.iconlink .icon.icon_white
{
	border-color: #FFFFFF;
}


.iconlink:hover .icon.icon_white
{
	background-color: #FFFFFF;
}


.iconlink .icon.icon_white svg *
{
	fill: #FFFFFF;
}


.iconlink:hover .icon.icon_white svg *
{
	fill: #44AAFF;
}


.iconlink span.icontitle
{
	height: 32px;
	color: #000000;
	display: table-cell;
	vertical-align: middle;
	padding: 0px 0px 0px 5px;
	float: left;
	white-space: nowrap;
	line-height: 32px;
	font-size: 16px;
	font-weight: normal;
	text-decoration: none;
	text-transform: none;
}


.iconlink .icontitle
{
	float: left;
}


.iconlink .maintitle
{
	height: 20px;
	line-height: 20px;
	float: left;
	white-space: nowrap;
	font-size: 16px;
	font-weight: normal;
	text-decoration: none;
	text-transform: none;

	clear: both;
}


.iconlink .subtitle
{
	height: 12px;
	line-height: 12px;
	clear: both;
	float : left;
	color: #20A0FF;
	font-size: 10px;
	font-weight: bold;
	white-space: nowrap;
}


.iconlink > *:hover > span
{
	color: #000000;
}


.iconlink > a
{
	height: 32px;
	display: table-cell;
	vertical-align: middle;
	text-decoration: none;
}


.iconlink > button
{
	height: 32px;
	border: 0 none;
	cursor: pointer;
	padding: 0;
	background: none;
}


/* flat square button with icon */
.icon_btn,
.btn.icon_btn
{
	width: 34px;
	height: 34px;
	padding: 5px;
	margin: 0px;
	color: #FFFFFF;
	background-color: #0072C6;
	cursor: pointer;
}


.icon_btn > svg
{
	width: 24px;
	height: 24px;
	fill: #FFFFFF;
}


/* Small icon button */
.sm-icon-btn
{
    padding: 1px;
    margin: 0;
    background: none;
    cursor: pointer;
    float: left;
    display: inline-block;
    line-height: 20px;
    height: 20px;
}


.sm-icon-btn > svg
{
	height: 14px;
	width: 14px;
	fill: #888888;
}


.sm-icon-btn:hover > svg
{
	fill: #000000;
}