/* Import rule create/update form */
.rule-form
{
    display: flex;
    flex-flow: column nowrap;
    max-height: 100%;
    flex: 1 1 auto;
    min-height: 0px;
}

/* Collapsible container */
.rule-form__collapse
{
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 auto;
    min-height: 40px;
    margin-bottom: 9px;
}

.rule-form__collapse-header
{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    flex: none;
    padding: 2px 2px 2px 8px;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
}

.rule-form__collapse-header label
{
    font-size: 18px;
    margin-right: 12px;
}

/* Delete and toggle expand/collapse button */
.rule-form .icon-btn,
.rule-form .icon-btn:visited,
.rule-form .icon-btn:active
{
    background: none;
    cursor: pointer;
}

.rule-form__collapse .toggle-btn svg
{
    transform: rotate(180deg);
    height: 18px;
}

.rule-form__collapse.collapsed .toggle-btn svg
{
    transform: none;
}

.rule-form__collapse.collapsed .link-btn,
.rule-form__collapse.collapsed .rule-form__collapse-content
{
    display: none;
}

/* No data message */
.rule-form .nodata-message
{
    display: flex;
    flex-direction: column;
    background: none;
}

/* Conditions/Actions list container */
.rule-form__collapse-content
{
    flex: 1 1 auto;
    min-height: 48px;
    overflow-y: auto;
    padding: 6px;
}

/* Validation feedback container */
.rule-form__feedback
{
    margin-bottom: 9px;
}

/* From submit and cancel buttons */
.rule-form__controls
{
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    flex: none;
}

/* Desktop */
@media (min-width: 768px)
{


}
