/* Import template section */
/* Header */
.tpl-form-header {
  display: flex;
  flex-flow: row;
  align-items: baseline;
  margin: 6px 0px;
}

.tpl-form-header label {
  font-size: 24px;
  font-weight: 100;
  margin-right: 18px;
}

.tpl-form {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  margin-bottom: 12px;
}

/* Raw data loading indicator */
.tpl-form__loading {
  text-align: center;
  padding: 12px 0;
  color: #b0b0b0;
}

/* Raw data table title */
.tpl-form__title {
  font-size: 14px;
}

/* Import template form and raw data table block */
.tpl-form__block {
  overflow-x: auto;
}

/* Template form fields: name, column type & etc. */
.tpl-form-field {
  display: flex;
  flex-flow: column nowrap;
  margin-right: 18px;
  align-items: baseline;
}

.tpl-form-field label {
  font-size: 14px;
}

.tpl-form-field input,
.tpl-form-field select {
  height: 34px;
  font-size: 14px;
  padding: 2px 5px;
  box-sizing: border-box;
}

.validation-block.invalid-block .tpl-name-inp {
  border-color: #ff0000;
}

/* Raw data table */
.raw-data-table {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 4px;
}

.raw-data-column {
  display: flex;
  flex-flow: column nowrap;
  margin-right: 2px;
  border: 1px solid;
  border-bottom: 0 none;
  border-color: #9b9b9b;
}

.raw-data-column:hover {
  background-color: #7b7b7b;
}

.raw-data-column__tpl {
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  background-color: #214b6f;
}

.raw-data-column:hover .raw-data-column__tpl {
  background-color: #2c6290;
}

.raw-data-column__header {
  font-weight: 600;
}

.raw-data-column__tpl,
.raw-data-column__header,
.raw-data-column__cell {
  white-space: nowrap;
  padding: 4px;
  height: 1.25rem;
  border-bottom: 1px solid;
  border-color: #9b9b9b;
}

.raw-data-table__tpl-2 .raw-data-column__tpl {
  height: 2.5rem;
}

.raw-data-table__tpl-3 .raw-data-column__tpl {
  height: 3.75rem;
}

.raw-data-table__tpl-4 .raw-data-column__tpl {
  height: 5rem;
}

.raw-data-table__tpl-5 .raw-data-column__tpl {
  height: 6.25rem;
}

.raw-data-table__tpl-6 .raw-data-column__tpl {
  height: 7.5rem;
}

/* Create/update template controls: Save, cancel buttons */
.import-tpl-controls {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
}
