/* Import file form */
.popup > .upload-popup > .popup__content-box
{
    max-width: 600px;
    width: 100%;
}

/* Main account block */
.upload-dialog-account
{
    margin-bottom: 12px;
}

/* Upload dialog controls block */
.upload-dialog-controls
{
    margin-bottom: 12px;
}

/* Transactions list */
/* Header */
.data-header
{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.header-field
{
    display: flex;
    flex-flow: column nowrap;
    margin-left: 12px;
}

.header-field:first-child
{
    margin-left: 0;
}

.header-field label
{
    font-size: 14px;
}

.header-field div
{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 34px;
    margin: 9px 0;
}

/* Main account header field */
.account-field div
{
    justify-content: left;
}

/* Transaction items container */
.data-container
{
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
}

/* Checkbox or radiobutton wrapper */
.checkwrap
{
	display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.checkwrap > span
{
	white-space: nowrap;
	font-size: 14px;
}

.checkwrap > input[type="checkbox"],
.checkwrap > input[type="radio"]
{
	margin: 0px 5px 0px 0px;
}
