/* Import rule item */
.rule-item {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 auto;
  margin-right: 3px;
}

.rule-item + .rule-item {
  margin-top: 4px;
}

/* Main static view */
.rule-item__main {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-size: 16px;
  padding: 8px 4px 8px 8px;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
}

.rule-item__main-info {
  flex-grow: 1;
}

/* Top row: property, operator, value */
.rule-item__main-top {
  display: flex;
  flex-flow: row wrap;
}

.rule-item__property,
.rule-item__value-property {
  font-weight: 200;
  white-space: nowrap;
  margin-right: 12px;
}

.rule-item__operator {
  font-size: 16px;
  font-weight: 200;
  font-style: italic;
  white-space: nowrap;
  margin-right: 12px;
}

.rule-item__value {
  flex-grow: 1;
  font-weight: 400;
}

.rule-item__value::before,
.rule-item__value::after {
  content: "`";
}

/* Actions and child rules count info element */
.rule-item__info {
  font-size: 12px;
}

/* Controls */
.rule-item__main-controls {
  display: flex;
  flex-flow: row nowrap;
}

/* Delete and toggle expand/collapse button */
.rule-item .icon-btn,
.rule-item .icon-btn:visited,
.rule-item .icon-btn:active {
  background: none;
  cursor: pointer;
}

.rule-item .toggle-btn svg {
  height: 18px;
}

.rule-item_expanded > .rule-item__main .toggle-btn svg {
  transform: rotate(180deg);
}

/* Rule item extended info block */
.rule-item__ext {
  display: none;
  flex-flow: column nowrap;
  padding: 8px;
  margin: 0 1px;
  border: 0 none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.rule-item_expanded > .rule-item__ext {
  display: flex;
}

.rule-item__header {
  font-size: 14px;
  font-weight: 600;
}

.rule-item__conditions,
.rule-item__actions {
  display: flex;
  flex-flow: column nowrap;
}

.rule-item__conditions {
  margin-bottom: 8px;
}

.rule-item__conditions .cond-item:first-child,
.rule-item__actions .action-item:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.rule-item__conditions .cond-item:last-child,
.rule-item__actions .action-item:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
