/* Import file form */
.popup > .upload-popup > .popup__content-box
{
    max-width: 600px;
    width: 100%;
}

.import-form
{
    display: flex;
    flex-flow: column nowrap;
}

.upload-form__browser
{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-bottom: 24px;
}

.import-form__title
{
    font-size: 18px;
    margin: 6px 0px;
}

.import-form__file
{
    position: relative;
    height: 30px;
    text-align: center;
    overflow: hidden;
}

.import-form__file > input[type="file"]
{
    position: absolute;
    z-index: 22;
    width: 100%;
    height: 30px;
    left: 0;
    top: 0;
    opacity: 0;
}

.import-form__file > .import-form__overlap
{
    z-index: 21;
}

.browse-btn
{
    margin: 0;
}

.browse-btn,
.browse-btn:visited
{
	background-color: #0072C6;
}

.import-form__file:hover .browse-btn
{
	background-color: #1E82CC;
}

.browse-btn:disabled
{
	background-color: #5082AA;
}

.import-form__filename
{
    font-size: 14px;
    color: #7B7B7B;
}

.import-form__controls
{
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
}

/* Import template and raw data table block */
.import-tpl__block
{
    overflow-x: auto;
}

.raw-data-table
{
    display: flex;
    flex-flow: row nowrap;
}

.raw-data-column
{
    display: flex;
    flex-flow: column nowrap;
}

.raw-data-column:hover
{
    background-color: #7B7B7B;
}

.raw-data-column__header
{
    font-weight: 500;
}

.raw-data-column__header,
.raw-data-column__cell
{
    flex: 1 1;
    white-space: nowrap;
    padding: 4px;
    border: 1px solid #9b9b9b;
}


/* Transactions list */
/* Header */
.data-header
{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.header-field
{
    display: flex;
    flex-flow: column nowrap;
    margin-left: 12px;
}

.header-field:first-child
{
    margin-left: 0;
}

.header-field label
{
    font-size: 14px;
}

.header-field div
{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 34px;
    margin: 9px 0;
}

/* Main account header field */
.account-field div
{
    justify-content: left;
}

/* Transaction items container */
.data-container
{
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
}

/* Transaction item */
.tr-row
{
	display: flex;
	flex-flow: column nowrap;
    align-items: stretch;
    margin: 2px 0;
}

.tr-row .form-container
{
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
}

.tr-row .form-rows
{
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
}

.tr-row .form-row
{
    display: flex;
    flex-flow: column nowrap;
}

/* Input field and label group */
.field
{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 0 0 4px 0;
}

.field label
{
    width: 15%;
    font-size: 14px;
    min-width: 70px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.amount-field input
{
    min-width: 50px;
    max-width: 130px;
}

.date-field input
{
    min-width: 50px;
    max-width: 100px;
}

.amount-field input,
.date-field input,
.comment-field input
{
    width: 100%;
}

.tr-row .form-row .comment-field,
.tr-row .form-row .comment-field div
{
    flex-grow: 1;
}

/* Controls */
.tr-row .controls
{
    align-items: center;
}

.tr-row select,
.tr-row input[type="text"]
{
    display: flex;
	border: 1px solid;
	padding: 5px;
    height: 32px;
    box-sizing: border-box;
}

.tr-row select[disabled]
{
    opacity: 1;
}

.tr-row input[type="button"]
{
	width: 30px;
	border: 0 none;
	pointer-events: all;
}

/* Enable/disable item checkbox container */
.tr-row .enable-check
{
    display: flex;
    align-items: center;
}

.tr-row .enable-check input[type="checkbox"]
{
	margin: 0 8px;
	width: 20px;
	pointer-events: all;
}

/* Disabled transaction row */
.tr-row_disabled select,
.tr-row_disabled select[disabled],
.tr-row_disabled input[type="text"],
.tr-row_disabled input[disabled]
{
	pointer-events: none;
}

/* Common buttons style */
.tr-row .btn,
.tr-row .btn:visited,
.tr-row .btn:active
{
	pointer-events: all;
    background: none;
    padding: 4px;
    cursor: pointer;
}

.tr-row .btn svg
{
    width: 24px;
    height: 24px;
}

/* Toggle expand/collapse button */
.tr-row .toggle-btn,
.tr-row .toggle-btn:visited,
.tr-row .toggle-btn:active
{
    padding: 7px;
}

.tr-row .toggle-btn svg
{
    width: 18px;
    height: 18px;
}

.tr-row_expanded .toggle-btn svg
{
    transform: rotate(180deg);
}

/* Container for transaction form */
.tr-row .main-content
{
	padding: 4px 0 0 0;
    display: flex;
    flex-flow: row nowrap;
}

/* Container for extended conten */
.tr-row .extended-content
{
    display: none;
    border-top: 1px solid;
    padding: 8px;
    overflow: hidden;
}

.tr-row.tr-row_expanded .extended-content
{
    display: flex;
}

/* Original import data table */
.orig-data-table
{
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
}

/* Data value static element */
.data-value
{
    display: flex;
    flex-flow: row nowrap;
}

.data-value label
{
    font-size: 14px;
    font-weight: 800;
    padding: 2px 8px;
    width: 20%;
    min-width: 120px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.data-value div
{
    font-size: 16px;
    padding: 2px 8px;
}

/* Placeholder */
.tr-row__placeholder
{
	border: 1px dashed;
	height: 56px;
	margin: 3px 0px;
}

.tr-row__placeholder *
{
	opacity: 0;
}

/* Checkbox or radiobutton wrapper */
.checkwrap
{
	height: 20px;
	line-height: 20px;
}

.checkwrap > label
{
	display: inline-flex;
	flex-flow: row nowrap;
	white-space: nowrap;
	font-size: 14px;
}


.checkwrap.inputwrap
{
	height: 30px;
	line-height: 30px;
}


.checkwrap input[type="checkbox"],
.checkwrap input[type="radio"],
.checkwrap > label,
.checkwrap > label > span
{
	height: 20px;
	line-height: 20px;
}


.checkwrap > label > input[type="checkbox"],
.checkwrap > label > input[type="radio"],
.checkwrap > label > span
{
	height: 20px;
	line-height: 20px;
	padding: 0 5px;
}


.checkwrap > input[type="checkbox"],
.checkwrap > input[type="radio"]
{
	margin: 0px 5px 0px 0px;
}

/* Desktop */
@media (min-width: 768px)
{

.tr-row .form-container
{
    flex-flow: row nowrap;
}

.tr-row .form-row
{
    flex-flow: row nowrap;
}

.tr-row .main-content
{
	padding: 4px 0 6px 0;
}

.field
{
    flex-flow: column nowrap;
    align-items: normal;
    margin: 0 8px 0 0;
}

.field label
{
    width: auto;
    min-width: auto;
    font-size: 12px;
    text-align: left;
}

.tr-row .controls
{
    align-items: start;
    padding-top: 16px;
}

.orig-data-table
{
    flex-flow: row nowrap;
}

.data-value
{
    flex-flow: column nowrap;
}

.data-value label
{
    padding: 2px 8px;
    width: auto;
    min-width: auto;
}

.data-value div
{
    padding: 2px 8px;
    min-width: auto;
    text-align: right;
}

.data-value.comment-value div
{
    text-align: left;
}

}
