/* popup */
.popup
{
	display: block;
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	z-index: 20;
}


.popup > .popup__back
{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #000000;
	opacity: 0.5;
}


.popup > .popup__content
{
	position: fixed;
	background-color: #FFFFFF;
	width: 100%;
	top: 50%;
	margin-top: -120px;
	color: #000000;
}


.popup > .popup__content > .popup__content-box
{
	margin: 0px auto;
	max-width: 600px;
	min-width: 130px;
	padding: 15px 20px;
	position: relative;
	background-color: #FFFFFF;
}


/* Close button */
.popup .close-btn,
.popup__content-box.dragging .close-btn
{
	position: absolute;
	overflow: hidden;
	top: 10px;
	right: 10px;
	height: 14px;
	width: 14px;
	border: 0 none;
	cursor: pointer;
	background: none;
}


.close-btn > svg
{
	width: 14px;
	height: 14px;
	fill: #888888;
}


.close-btn:hover > svg
{
	fill: #000000;
}


.popup__message
{
}


.popup__controls
{
	padding: 29px 0px 8px;
	display: inline-block;
}

