/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 15px;
  color: #ffffff;
  background-color: #404040;
}

.sidebar.sidebar_active {
  width: auto;
}

.sidebar .siderbar__content {
  display: flex;
  align-items: center;
  overflow: hidden;
  min-width: 15px;
  height: 100%;
}

.sidebar__ellipsis {
  width: 15px;
  height: 32px;
}

.sidebar__ellipsis svg {
  width: 15px;
  height: 32px;
  fill: #ffffff;
}

.sidebar__controls {
  display: none;
  overflow: hidden;
  padding: 5px;
}

.sidebar.sidebar_active .sidebar__controls {
  display: block;
}

.siderbar__content .iconlink {
  display: flex;
  margin: 9px 12px;
}

.siderbar__content .iconlink span {
  color: #ffffff;
}

@media screen and (min-width: 701px) {
  .sidebar {
    min-height: 0;
    height: auto;
    width: 100%;
    left: 0;
    right: 0;
    top: auto;
    bottom: 0;
    background-color: #44aaff;
  }

  .sidebar .siderbar__content,
  .sidebar.sidebar_active .siderbar__content {
    display: flex;
    padding: 0px;
    color: #ffffff;
    background-color: #44aaff;
    position: static;
    margin: 0px auto;
    max-width: 824px;
    min-width: 200px;
  }

  .sidebar__ellipsis {
    display: none;
  }

  .sidebar .sidebar__controls,
  .sidebar.sidebar_active .sidebar__controls {
    display: flex;
    flex-flow: row nowrap;
    padding: 0;
  }

  .siderbar__content .iconlink {
    margin: 9px 0px 9px 12px;
  }
}
