/* Sidebar */
.sidebar
{
	display: table-cell;
	min-height: 100%;
	height: 100%;
	width: 15px;
}


.sidebar > div
{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: #404040;
}


.sidebar > div > .siderbar_content
{
	overflow: hidden;
	min-width: 15px;
	height: 100%;
}


.sidebar.active > div > .siderbar_content
{
	display: block;
	color: #FFFFFF;
	background-color: #404040;
}


.siderbar_content > div
{
	position: relative;
	min-height: 64px;
}


.sidebar_ellipsis
{
	width: 15px;
	height: 32px;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -16px;
}


.sidebar_ellipsis svg
{
	width: 15px;
	height: 32px;
	fill: #FFFFFF;
}


.sidebar_buttons
{
	display: none;
	overflow: hidden;
	padding: 5px;
}


.sidebar.active .sidebar_buttons
{
	display: block;
}


.siderbar_content .iconlink
{
	display: flex;
	margin: 9px 12px;
}



.siderbar_content .iconlink span
{
	color: #FFFFFF;
}


@media screen and (min-width: 701px)
{

/* Sidebar */
.sidebar
{
	display: block;
	position: fixed;
	min-height: 0;
	height: auto;
	width: 100%;
	left: 0;
	right: 0;
	bottom: 0;
}


.sidebar > div
{
	position: static;
	height: 50px;
	width: 100%;

	background-color: #44AAFF;
}


.sidebar > div > .siderbar_content,
.sidebar.active > div > .siderbar_content
{
	display: block;
	padding: 0px;
	color: #FFFFFF;
	background-color: #44AAFF;
	position: static;
	margin: 0px auto;
	max-width: 824px;
	min-width: 200px;
}


.sidebar_ellipsis
{
	display: none;
}


.sidebar_buttons
{
	display: flex;
	padding: 0;
}


.siderbar_content .iconlink
{
	margin: 9px 0px 9px 12px;
}


}