/* result balance button */
.resbal_btn
{
	font-size: 16px;
}


.tile_header
{
	float: none;
	clear: both;
	height: 20px;
	line-height: 20px;
	overflow: hidden;
}


.tile_header > label
{
	display: inline-block;
	float: left;
	width: auto;
}

.tile_header .iconlink
{
	margin: 2px 0px 2px 5px;
}


.tile_container
{
	width: 100px;
	height: 100px;
	float: left;
	padding: 8px 5px 8px 0px;
}


.tile_right_block
{
	height: 100px;
	min-width: 100px;
	margin: 8px 20px 10px 0px;
	overflow: hidden;
	float: left;
}


.tile_right_block > div
{
	margin: 0px 0px 10px 0px;
}


.selacc_container
{
	padding: 8px 5px 8px 0px;
}


.acc_float
{
	min-width: 100px;
	max-width: 400px;
	float: left;
}


/* exchange rate comment */
.exchrate_comm
{
	margin: 0px 5px;
	height: 34px;
	line-height: 34px;
}


/* Debt operation type selector */
.op_sel
{
	margin: 2px 0px 10px 0px;
}

.op_sel > label
{
	float: left;
	width: auto;
	height: auto;
}

.op_sel input
{
	float: left;
	line-height: 22px;
	height: 22px;
}

.op_sel span
{
	float: left;
	line-height: 22px;
	margin: 0px 10px 0px 5px;
}


/* transactions page filer */
.tr_filter
{
	float: left;
}


.date_filter
{
	margin: 0px 0px 0px 15px;
}
