/* layered layout */
.layer
{
	position: absolute;
	top: 50px;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
	height: auto;
}


.cont
{
	position: absolute;
	width: 100%;
	top: 50%;
}


.box
{
	max-width: 400px;
	min-width: 130px;
	margin: 0 auto;
	padding: 0px 12px;
}


/* login page */
.login_layer
{
	min-height: 264px;
	top: 0px;
}


.login_layer > .cont
{
	margin-top: -150px;
}


.login_layer > .cont > .box
{
	height: 300px;
	max-width: 700px;
}


.login_controls
{
	padding: 5px 0px;
}


.login_layer > .cont > .box > div
{
	display: inline-block;
	float: left;
	height: 300px;
}


.login_layer > .cont > .box > .right_side
{
	height: 276px;
}


.login_layer > .cont > .box > .left_side
{
	width: 48%;
	background-color: #20A0FF;
	display: table;
}


.left_side > .u_cont
{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}


.login_logo
{
	height: 62px;
	white-space: nowrap;
	display: inline-block;
}


.login_logo > span
{
	height: 62px;
	display: inline-block;
	float: left;
}

.login_logo > .logo
{
	width: 62px;
}


.login_logo > .logo > svg
{
	width: 62px;
	height: 62px;
}


.login_logo > .title
{
	line-height: 62px;
	font-size: 32px;
	font-weight: normal;
	color: #FFFFFF;
	white-space: nowrap;
	margin: 0px 0px 0px 12px;
}

.side_sep
{
	width: 4%;
}


.right_side
{
	width: 48%;
	padding-top: 24px;
}

@media all and (max-width: 700px)
{

.login_layer > .cont
{
	position: static;
	top: 0;
	margin-top: 0;
}


.login_layer > .cont > .box
{
	padding: 0;
}


.login_layer > .cont > .box > div
{
	display: block;
	float: none;
}


.login_layer > .cont > .box > .left_side
{
	width: 100%;
	height: 100px;
}


.left_side .login_logo
{
	width: 300px;
	padding: 0px 12px;
}


.login_layer > .cont > .box > .side_sep
{
	display: none;
}


.left_side
{
	width: 100%;
}


.right_side
{
	width: 100%;
}


.right_side > div
{
	margin: 0 auto;
	max-width: 300px;
	padding: 0px 12px;
}

}


/* registration page */
.register_layer
{
	min-height: 335px;
}


.register_layer > .cont
{
	margin-top: -168px;
}


.register_layer > .cont > .box
{
	height: 335px;
}


/* alternative link */
.alter_link
{
	margin: 0px 20px;
}


/* profile */
.profile_block
{
	margin: 10px 0px 20px 0px;
}


.profile_block > h2
{
	font-size: 18px;
	font-weight: normal;
	margin: 0px;
}


.profile_block > span
{
	font-size: 16px;
}

