/* layered layout */
.layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

.login-layer {
  justify-content: flex-start;
}

.layer-box {
  display: flex;
  flex-basis: 100%;
  flex-flow: column nowrap;
  padding: 0;
}

.logo-container {
  width: 100%;
  background-color: #20a0ff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-logo {
  max-width: 300px;
  padding: 12px;
  height: 62px;
  display: flex;
  flex-flow: row nowrap;
}

.login-logo > .logo {
  width: 62px;
}

.login-logo > .logo > svg {
  width: 62px;
  height: 62px;
}

.login-logo > .title {
  height: 62px;
  line-height: 62px;
  font-size: 32px;
  font-weight: normal;
  color: #ffffff;
  white-space: nowrap;
  margin: 0px 0px 0px 12px;
}

/* Right side: log in form */
.form-container {
  display: flex;
  flex-basis: 100%;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.login-form,
.register-form {
  box-sizing: border-box;
  width: 100%;
  min-width: 100px;
  max-width: 300px;
  padding: 0px 12px;
}

/* registration page */
.register-layer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  top: 50px;
}

.form-controls {
  padding: 5px 0px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

/* alternative link */
.alter_link {
  margin: 0px 20px;
}

/* profile */
.profile_block {
  margin: 10px 0px 20px 0px;
}

.profile_block > h2 {
  font-size: 18px;
  font-weight: normal;
  margin: 0px;
}

.profile_block > span {
  font-size: 16px;
}

.profile-form-container {
  position: relative;
}

.form__loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  z-index: 10;
  background-color: rgb(50 50 50 / 70%);
  border-radius: 10px;
}

@media all and (min-width: 700px) {
  .login-layer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }

  .login-layer .layer-box {
    display: flex;
    flex-flow: row nowrap;
    flex-basis: auto;
    justify-content: center;
    width: 100%;
    max-width: 700px;
    height: 300px;
    margin: 0 auto;
    padding: 0px 12px;
  }
}
