/* File upload form */
.upload-form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.upload-form__browser {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-bottom: 12px;
}

.upload-form__browser.drag-over {
  outline: 2px dashed;
}

.upload-form__header {
  font-size: 18px;
  font-weight: 400;
  margin: 6px 0;
}

.upload-form__inner {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.upload-form__file {
  position: relative;
  height: 30px;
  text-align: center;
}

.upload-form__file > input[type="file"] {
  position: absolute;
  z-index: 22;
  width: 100%;
  height: 30px;
  left: 0;
  top: 0;
  opacity: 0;
}

.upload-form__file > .upload-form__overlap {
  z-index: 21;
}

.browse-btn {
  margin: 0;
}

.browse-btn,
.browse-btn:visited {
  background-color: #0072c6;
}

.browse-btn:disabled {
  background-color: #5082aa;
}

.upload-form__file:hover .browse-btn {
  background-color: #1e82cc;
}

.upload-form__filename {
  font-size: 14px;
  color: #7b7b7b;
}

.upload-form__options {
  display: flex;
  flex-flow: column nowrap;
  margin: 9px 0;
}

/* Collapsed state of import file uploader */
.upload-form__collapsed {
  align-items: normal;
}

.upload-form__collapsed .upload-form__header {
  font-size: 24px;
  font-weight: 100;
}

.upload-form__collapsed .upload-form {
  flex-flow: row nowrap;
  overflow: hidden;
  align-items: baseline;
}

.upload-form__collapsed .upload-form__inner {
  flex-flow: row wrap;
}

.upload-form__collapsed .upload-form__filename {
  margin-left: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.upload-form__collapsed .upload-form__options {
  margin: 0;
}
