.upload-popup .popup__content-box {
  max-width: 600px;
  width: 100%;
}

.upload-dialog {
  display: flex;
  flex-flow: column nowrap;
  gap: 12px;
}

/* File upload form */
.upload-form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.upload-form__browser {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.upload-form__browser.drag-over {
  outline: 2px dashed;
}

.upload-form__inner {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.upload-form__file {
  position: relative;
  height: 30px;
  margin: 0;
  text-align: center;

  > input[type="file"] {
    position: absolute;
    z-index: 22;
    width: 100%;
    height: 30px;
    left: 0;
    top: 0;
    opacity: 0;
  }

  > .upload-form__overlap {
    z-index: 21;
  }
}

.browse-btn {
  margin: 0;
  white-space: nowrap;
  border-radius: var(--action-btn-border-radius);
}

.browse-btn,
.browse-btn:visited {
  background-color: #0072c6;
}

.browse-btn:disabled {
  background-color: #5082aa;
}

.upload-form__descr {
  font-size: 14px;
}

.upload-form__filename {
  font-size: 14px;
  color: #7b7b7b;
}

.upload-form__options {
  display: flex;
  flex-flow: column nowrap;
  margin: 9px 0;
}

/* Collapsed state of import file uploader */
.upload-form__collapsed {
  align-items: normal;

  .upload-form {
    flex-flow: row nowrap;
    overflow: hidden;
    align-items: center;
    margin-bottom: 8px;
  }

  .upload-form__inner {
    flex-flow: row wrap;
  }

  .upload-form__descr {
    display: none;
  }

  .upload-form__filename {
    margin-left: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .upload-form__options {
    margin: 0;
  }
}

@media (hover: hover) {
  .upload-form__file:hover .browse-btn {
    background-color: #1e82cc;
  }
}
