.import-form-popup {
  --import-form-popup-zindex: 500;
  --popup-max-width: 600px;
  --popup-content-padding: 0 0 1rem 0;
}

/* Transaction item */
.import-form {
  --input-disabled-border: var(--disabled-color-1);

  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;

  .form-container {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    align-items: normal;
    gap: 12px;
  }

  /* Input field and label group */
  .field {
    max-width: 300px;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .field__title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .comment-field {
    max-width: none;
  }

  .dd__container {
    --dd-list-z-index: var(--import-form-popup-zindex);

    display: flex;
  }

  .dp__wrapper {
    z-index: var(--import-form-popup-zindex);
  }

  .input-group {
    --ig-height: var(--input-height);
  }

  .form-controls {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  /* Toggle expand/collapse button */
  .toggle-btn {
    --btn-icon-color: var(--list-item-icon-fill);
    --btn-hover-icon-color: var(--list-item-hover-icon-fill);

    margin-left: auto;
  }

  .collapsible-content {
    flex-flow: column nowrap;
    row-gap: 1rem;
    border-top: 1px solid;
    padding: 1rem 1rem 0 1rem;
    overflow: hidden;
    color: var(--text-color-3);
    border-color: var(--border-color-2);
    background-color: var(--list-item-alt-bg-color);
  }
}
