/* Toggle expand/collapse button */
.btn.toggle-btn {
  --btn-icon-size: 18px;
  --btn-icon-color: var(--main-text-color);

  padding: 7px;
  margin-left: auto;

  .btn__icon {
    min-width: auto;
  }
}

.toggle-btn.rotate .btn__icon {
  transform: rotate(180deg);
}
