.amount-range-field {
  .row-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
  }

  .input-group {
    --ig-hor-padding: 0.5rem;

    overflow: hidden;
  }

  .input-group__text {
    min-width: auto;
  }

  .range-part {
    --input-padding: 0 0.2rem 0 0.5rem;

    min-width: 0;
  }
}

@media screen and (min-width: 576px) {
  .amount-range-field {
    .range-part {
      --input-padding: 0 0.5rem;
    }
  }
}
