/* Menu lists */
.api-menu {
  /* Menu items */
  --menu-item-text-color: var(--main-text-color);
  --menu-item-padding: 5px 0;
  --menu-item-line-height: normal;
  --menu-item-active-background: none;
  --menu-item-font-size: 1rem;
  --menu-item-font-weight: 200;

  /* Group headers */
  --menu-group-padding: 5px 0;
  --menu-group-header-padding: 0;
  --menu-group-header-font-size: 1rem;
  --menu-group-header-font-weight: 400;
  --menu-group-header-line-height: auto;
  --menu-group-header-text-transform: none;
  --menu-group-header-text-color: var(--main-text-color);

  padding: 12px;

  .menu-group .menu-list {
    padding: 0 0 0 10px;
  }

  .menu-item_selected {
    font-style: italic;
  }
}

@media (hover: hover) {
  .api-menu {
    .menu-group__header:hover {
      color: var(--menu-group-header-text-color);
    }

    .button-menu-item:hover {
      text-decoration: underline;
      color: var(--text-color-3);
    }
  }
}
