.reminder-item {
  --list-item-amount-color: var(--accent-color-alt);
  --list-item-selected-color: var(--accent-color);
  --list-item-column-gap: 16px;
  --list-item-row-gap: 2px;
  --list-item-details-row-gap: 8px;
}
