/* Export settings dialog */
.export-dialog {
  --popup-max-width: 500px;

  .download-btn {
    --btn-padding: 1rem;
    --btn-font-size: 1.1rem;
    --btn-size: auto;

    display: flex;
    width: 100%;
  }
}
