.icon-select {
  --dd-icon-item-size: 100px;
  --dd-icon-color: currentcolor;

  .dd__list {
    --menu-item-size: var(--dd-icon-item-size);
    --menu-item-icon-size: var(--dd-icon-item-size);
    --menu-item-side-content-size: var(--dd-icon-item-size);

    box-sizing: content-box;

    .menu-list {
      display: flex;
      flex-flow: row wrap;
    }
  }

  /* Menu item */
  .dd__list-item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    width: var(--dd-icon-item-size);
    height: var(--dd-icon-item-size);
  }

  /* Icon item */
  .menu-item__content {
    display: none;
  }

  .menu-item__icon {
    fill: var(--dd-icon-color);
    height: 54px;
    width: 60px;
  }

  /* 'No icon' item */
  .menu-list_left .menu-item__content:first-child,
  .menu-list_right .menu-item__content:last-child {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
  }

  .menu-list_left .menu-item__content:first-child::before,
  .menu-list_right .menu-item__content:last-child::after {
    width: 0;
  }
}
