/* Import condition item */
.cond-item {
  display: flex;
  flex-flow: row nowrap;
  flex: 1 1 auto;
  align-items: center;
  font-size: 16px;
  padding: 8px 4px 8px 8px;
  border-width: 1px;
  border-style: solid;

  + .cond-item {
    margin-top: 1px;
  }

  /* Delete and toggle expand/collapse button */
  .icon-btn,
  .icon-btn:visited,
  .icon-btn:active {
    background: none;
    cursor: pointer;
  }
}

/* Condition property */
.cond-item__property,
.cond-item__value-property {
  font-weight: 200;
  white-space: nowrap;
  margin-right: 12px;
}

/* Condition operator, value */
.cond-item__operator {
  font-size: 16px;
  font-weight: 200;
  font-style: italic;
  white-space: nowrap;
  margin-right: 12px;
}

/* Condition value */
.cond-item__value {
  flex-grow: 1;
  font-weight: 400;
}

.cond-item__value::before,
.cond-item__value::after {
  content: "`";
}

/* Controls */
.cond-item__controls {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
