/* Transaction types menu */
.trtype-menu {
  display: flex;
  flex-flow: row nowrap;
  font-size: 16px;
}

.trtype-menu__item {
  padding: 2px;
  margin: 0 12px 0 0;
  white-space: nowrap;
  cursor: pointer;
}

.trtype-menu__item-check {
  width: 14px;
  height: 14px;
  display: inline-block;
  vertical-align: bottom;
  border: 1px solid #cccccc;
  padding: 2px;
  margin: 0 6px 0 0;
}

.trtype-menu__item-check svg {
  width: 14px;
  height: 14px;
  visibility: hidden;
}

.trtype-menu__item-check:hover {
  background-color: #1e82cc;
}

.trtype-menu__item-check:hover svg {
  visibility: visible;
  fill: #ffffff;
}

.trtype-menu__item .trtype-menu__item-check:hover {
  background-color: #cccccc;
}

.trtype-menu__item .trtype-menu__item-check:active {
  background-color: #1e82cc;
}

.trtype-menu__item_selected {
  font-weight: bold;
}

.trtype-menu__item_selected .trtype-menu__item-check svg {
  visibility: visible;
  fill: #5082aa;
}

/* Show selected items for multi select menu as normal links */
.trtype-menu-multi .trtype-menu__item_selected {
  font-weight: normal;
}
