/* Transaction types menu */
.trtype-menu {
  display: flex;
  flex-flow: row nowrap;
  font-size: 16px;
}

.trtype-menu__item {
  padding: 2px;
  margin: 0 12px 0 0;
  white-space: nowrap;
  cursor: pointer;
}

.trtype-menu[disabled],
.trtype-menu__item[disabled] {
  cursor: default;
  pointer-events: none;

  .trtype-menu_item_title {
    color: #7e7e7e;
  }
}

.trtype-menu__item_selected {
  font-weight: 500;
}

/* Show selected items for multi select menu as normal links */
.trtype-menu-multi .trtype-menu__item_selected {
  font-weight: 400;
}
