@use "sass:list";

@use "theme/dark";
@use "theme/white";
@use "colors";

:root {
  --neutral-color: #888888;
  --accent-color: #0072c6;
  --accent-color-alt: #20a0ff;
  --accent-hover-color: #1e82cc;
  --accent-active-color: #104b79;
  --accent-disabled-color: #5082aa;
  --warning-color: #c60000;
  --warning-color-alt: #e63030;
  --action-btn-border-radius: 6px;
  --default-border-radius: 5px;
  --focus-shadow: 0 0 0 0.25rem #0d6efd40;
  --input-height: 37px;
  --input-padding: 0 0.5rem;
  --header-size: 50px;

  /* Form field */
  --form-field-gap: 12px;
  --form-field-margin: 0 0 var(--form-field-gap) 0;
  --form-field-width: 320px;

  /* Validation feedback */
  --invalid-input-border-color: #ff0000;
  --valid-feedback-color: #00b500;
  --invalid-feedback-color: #ff3131;

  /* Tiles */
  --tile-gap: 10px;
  --tile-size: 100px;
  --tile-content-color: #ffffff;
  --tile-bg-color: var(--accent-color-alt);

  /* View content */
  --section-width: calc(var(--tile-size) * 4 + var(--tile-gap) * 3);
  --content-padding-bottom: 50px;

  /* Popup menu, Chart popup & etc. */
  --popup-menu-backdrop-filter: blur(2px);
  --popupmenu-z-index: 9999;

  /* Transaction colors */
  --transaction-expense: #fa6767;
  --transaction-income: #409c0b;
  --transaction-transfer: #0d67a3;
  --transaction-debt: #c1ce0f;
  --transaction-credit-limit: #9370db;

  /* Chart colors */
  @for $i from 1 through length(colors.$colors) {
    --charts-color-#{$i}: #{list.nth(colors.$colors, $i)};
    --charts-active-color-#{$i}: #{list.nth(colors.$active-colors, $i)};
  }
}

html,
body {
  width: 100%;
  height: 100%;
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
}

b {
  font-weight: 600;
}

/* headings */
h1 {
  font-weight: 200;
  font-size: 32px;
  padding-bottom: 1rem;
}

h2 {
  font-size: 20px;
  font-weight: normal;
  padding: 2px 0;
}

/* link style */
a,
a:visited {
  color: var(--accent-color);
}

a:focus-visible {
  box-shadow: var(--focus-shadow);
}

svg * {
  stroke-width: 0;
  stroke-linejoin: round;
}

/* layered layout */
.layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

.layer-box {
  display: flex;
  flex-basis: 100%;
  flex-flow: column nowrap;
  padding: 0;
}

.row-container {
  display: flex;
  flex-flow: row nowrap;
}

.column-container {
  display: flex;
  flex-flow: column nowrap;
}

/* Input */
.input {
  --input-font-size: 0.9rem;
  --input-color: var(--main-text-color);
  --input-bg: var(--input-bg-color);
  --input-focus-color: var(--main-text-color);
  --input-focus-bg: var(--input-bg-color);
  --input-focus-border: var(--active-input-border-color);
}

/* Input control fills all parent width */
.stretch-input {
  width: 100%;
}

/* Input group */
.input-group {
  --ig-height: var(--input-height);
  --ig-border-color: var(--input-border-color);
  --ig-input-bg: var(--input-bg-color);
  --ig-input-active-border: var(--active-input-border-color);
  --ig-input-disabled-color: var(--input-disabled-color);
  --ig-input-disabled-bg: var(--input-disabled-bg);
  --ig-input-disabled-border: var(--input-border-color);
  --ig-button-disabled-border: var(--input-border-color);
  --ig-button-disabled-color: var(--input-disabled-color);
  --ig-button-disabled-bg: var(--input-disabled-bg);
  --ig-inner-button-color: var(--neutral-color);
  --ig-inner-button-active-color: var(--hl-text-color);
  --ig-text-bg: var(--bg-color-3);
  --ig-text-border: var(--input-border-color);
  --ig-text-color: var(--main-text-color);

  .input-group__input {
    flex-grow: 1;
  }

  .input-group__btn,
  .input-group__text {
    font-size: 1rem;
  }

  .input-group__input,
  .input-group__btn,
  .input-group__text {
    border-radius: 0;
  }

  .input-group__btn-title {
    font-size: 1rem;
    min-width: var(--ig-height);
    height: var(--ig-height);
    line-height: var(--ig-height);
  }

  .input-group__btn:last-child {
    border-right-width: 0;
  }

  .input-group__btn[disabled]:last-child {
    border-right-width: var(--ig-border-width);
  }

  .input-group__text[disabled] {
    color: var(--ig-button-disabled-color);
    border-color: var(--ig-button-disabled-border);
    background-color: var(--ig-button-disabled-bg);
  }

  .btn.input-group__btn {
    --btn-icon-color: #ffffff;
    --btn-hover-icon-color: #ffffff;
    --btn-title-color: #ffffff;
    --btn-background: var(--accent-color);
    --btn-hover-title-color: #ffffff;
    --btn-hover-background: var(--accent-hover-color);
    --btn-active-background: var(--accent-active-color);
    --btn-disabled-background: var(--accent-disabled-color);

    overflow: visible;
  }

  .input.input-group__input {
    --input-font-size: 0.9rem;
    --input-color: var(--main-text-color);
    --input-bg: var(--input-bg-color);
    --input-focus-color: var(--main-text-color);
    --input-focus-bg: var(--input-bg-color);
  }
}

/* Centered block */
.centered {
  margin: 0 auto;
  max-width: 824px;
  min-width: 200px;
}

/* Main layout */
.page {
  display: table;
  border-collapse: collapse;
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100%;
}

.page_wrapper {
  display: table;
  height: 100%;
  min-height: 100%;
}

.page-content {
  display: flex;
  flex-flow: row nowrap;
  min-height: 100%;
  height: 100%;
}

/* Main content */
.container {
  display: table;
  table-layout: fixed;
  width: 100%;
  min-height: 100%;
  height: 100%;
}

.content {
  display: table-cell;
  min-height: 100%;
  height: 100%;
}

.content_wrap {
  padding-top: var(--header-size);
  padding-bottom: var(--content-padding-bottom);
  padding-left: 12px;
  padding-right: 12px;
}

/* Sticky header */
.content-header {
  display: flex;
  flex-flow: column nowrap;
  position: sticky;
  top: var(--header-size);
  z-index: 1000;
  padding: 10px 0;
  background-color: var(--main-bg-color);
}

/* Aligned to right element */
.right-align {
  margin-left: auto;
}

/* Common form container */
.form-container {
  display: flex;
  flex-basis: 100%;
  flex-flow: column nowrap;
  align-items: normal;
  justify-content: center;
}

/* Form row */
.form-row {
  max-width: var(--form-field-width);
  margin: var(--form-field-margin);
}

/* Horizontal group of fields */
.form-fields-row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  column-gap: 1.5rem;
}

/* Horizontal form separator */
.form-separator {
  border: 0;
  border-top: 1px solid var(--list-separator-color);
  width: 100%;
  margin: 0.25rem 0 var(--form-field-gap) 0;
  max-width: var(--form-field-width);
}

/* Request loading spinner indicator */
.spinner.request-spinner {
  --spinner-size: 1.5rem;
  --spinner-color: var(--border-color-1);
}

.right-align-text {
  text-align: right;
}

.std_margin {
  margin: var(--form-field-margin);
}

/* Buttons */
.btn {
  --btn-title-color: var(--main-text-color);
  --btn-icon-color: var(--main-text-color);
  --btn-hover-title-color: var(--main-text-color);
  --btn-hover-icon-color: var(--main-text-color);
}

/* Action button */
.btn.action-button {
  text-decoration: underline;
}

/* Warning action button */
.btn.warning-btn {
  --btn-size: 1rem;
  --btn-title-color: var(--warning-color-alt);
  --btn-icon-color: var(--warning-color-alt);
  --btn-hover-title-color: var(--warning-color);
  --btn-hover-icon-color: var(--warning-color);
  --btn-focus-shadow: 0 0 0 0.25rem #f31b1b40;

  text-decoration: underline;
}

.heading-actions .btn.warning-btn {
  --btn-size: 32px;
}

.alter-link,
.alter-link:visited {
  --btn-hover-title-color: var(--accent-hover-color);
  --btn-title-color: var(--accent-color);

  text-decoration: none;
  border: 0 none;
  padding: 0 24px;
  height: var(--input-height);
  line-height: var(--input-height);
  overflow: visible;
  cursor: pointer;
}

/* Circle button with icon */
.btn.circle-btn {
  --btn-border-radius: 100vh;
  --btn-hover-background: var(--icon-btn-hover-bg);
  --btn-active-background: var(--icon-btn-active-bg);
  --btn-icon-size: calc(1.275rem + 0.3vw);

  width: var(--btn-size);
  flex: 0 0 auto;
}

@media (min-width: 768px) {
  .btn.circle-btn {
    --btn-icon-size: 1.5rem;
  }
}

/* flat square button with icon */
.btn.icon-btn {
  --btn-size: 34px;
  --btn-icon-size: 24px;
  --btn-padding: 5px;
  --btn-background: var(--accent-color);
  --btn-hover-background: var(--accent-hover-color);
  --btn-active-background: var(--accent-active-color);
  --btn-disabled-icon-color: var(--input-disabled-color);
}

.btn.submit-btn {
  --btn-border-radius: var(--action-btn-border-radius);
  --btn-title-color: #ffffff;
  --btn-background: var(--accent-color);
  --btn-hover-title-color: #ffffff;
  --btn-hover-background: var(--accent-hover-color);
  --btn-active-background: var(--accent-active-color);
  --btn-disabled-background: var(--accent-disabled-color);
  --btn-size: var(--input-height);
  --btn-padding: 0 24px;
}

.btn.cancel-btn {
  --btn-title-color: var(--accent-color);
  --btn-hover-title-color: var(--accent-hover-color);
  --btn-disabled-title-color: #808080;
  --btn-size: var(--input-height);
  --btn-padding: 0 24px;

  vertical-align: baseline;
  text-decoration: underline;
}

/* Underlined text button */
.btn.link-btn,
.btn.link-btn:visited {
  --btn-title-color: var(--accent-color);
  --btn-hover-title-color: var(--accent-hover-color);
  --btn-disabled-title-color: #808080;
  --btn-padding: 4px;
  --btn-size: 1.25rem;

  vertical-align: baseline;
}

/* dashed underline button */
.btn.dashed-btn {
  --btn-title-color: var(--accent-color);
  --btn-hover-title-color: var(--accent-hover-color);
  --btn-disabled-title-color: #808080;
  --btn-font-size: 1rem;
  --btn-size: 1.25rem;

  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0;
    border-top: 0 none;
    border-right: 0 none;
    border-left: 0 none;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    border-bottom-color: var(--accent-color);
  }
}

/* 'Show more' button */
.btn.show-more-btn {
  --btn-title-color: var(--main-text-color);
  --btn-background: var(--btn-bg);
  --btn-hover-background: var(--btn-hover-bg);
  --btn-border-radius: var(--action-btn-border-radius);
  --btn-padding: 0 24px;

  margin: 16px 0;
  align-self: center;
}

.show-more-btn + .spinner {
  --spinner-size: 2rem;
  --spinner-width: 5px;

  margin: 16px 0;
}

/* List footer */
.list-footer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

/* Validation */
.validation-block .feedback {
  display: none;
  font-size: 14px;
}

/* Validation feedback */
.feedback.valid-feedback {
  color: var(--valid-feedback-color);
}

.feedback.invalid-feedback {
  color: var(--invalid-feedback-color);
}

.validation-block.invalid-block {
  .input,
  .input-group__input-outer {
    border-color: var(--invalid-input-border-color);
  }

  .invalid-feedback {
    display: block;
  }
}

/* No data message for lists & etc. */
.nodata-message {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 0;
  width: 100%;
  color: var(--text-color-4);
}

.nodata-group {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 0;
  width: 100%;

  .nodata-message {
    padding: 12px 0 0 0;
  }
}

/* List animation */
.tile.animated,
.list-item.animated {
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

/* Tiles list */
.tiles {
  display: flex;
  flex-flow: row wrap;
  gap: var(--tile-gap);
  max-width: var(--section-width);
  margin-top: 0.25rem;
}

/* Total list */
.total-list {
  display: flex;
  flex-flow: row wrap;
  gap: 12px;
  min-width: 220px;
  max-width: 300px;
}

.total-list__item {
  display: inline-flex;
  font-size: 1rem;
  padding: 5px 0;
  white-space: nowrap;
  border: 0;
  border-bottom: 2px solid var(--accent-color-alt);
}

/* Checkbox */
.checkbox {
  --checkbox-text: var(--main-text-color);
  --checkbox-bg: var(--input-bg-color);
  --checkbox-border: var(--input-border-color);
  --checkbox-checked-fill: var(--accent-color);
  --checkbox-border-radius: var(--default-border-radius);
}

/* Radio */
.radio {
  --radio-text: var(--main-text-color);
  --radio-bg: var(--input-bg-color);
  --radio-border: var(--input-border-color);
  --radio-check-color: #5082aa;
  --radio-checked-bg: var(--input-bg-color);
}

/* Focused Checkbox, Radio, Switch */
.checkbox input:focus-visible + .checkbox__check,
.radio input:focus-visible + .radio__check {
  outline-width: 0;
  box-shadow: var(--focus-shadow);
}

/* DropDown */
.dd__container,
.dd__container_attached {
  --dd-bg-color: var(--input-bg-color);
  --dd-border-color: var(--input-border-color);

  /* Combo box */
  --dd-border-width: 1px;
  --dd-combo-border-radius: var(--default-border-radius);
  --dd-combo-height: var(--input-height);

  /* Input element */
  --dd-input-text: var(--main-text-color);
  --dd-input-font-size: 0.9rem;
  --dd-input-padding: var(--input-padding);

  /* Clear and toggle buttons */
  --dd-btn-fill: var(--neutral-color);
  --dd-btn-hover-fill: var(--main-text-color);

  /* List menu */
  --dd-list-border-radius: var(--default-border-radius);

  /* List item */
  --dd-list-item-text: var(--main-text-color);
  --dd-list-item-bg: var(--bg-color-2);
  --dd-list-item-check: var(--main-text-color);
  --dd-disabled-list-item-text: var(--input-disabled-color);

  /* Active list item */
  --dd-active-list-item-text: #ffffff;
  --dd-active-list-item-bg: #3078e2;

  /* Disabled list item */
  --dd-disabled-list-item-bg: none;

  /* List group */
  --dd-list-group-text: var(--accent-color);
  --dd-list-group-bg: var(--bg-color-2);

  /* Selection */
  --dd-selection-text: var(--main-text-color);
  --dd-selection-font-size: 15px;
  --dd-selection-item-border-radius: 3px;

  /* Active state */
  --dd-active-bg: var(--input-bg-color);
  --dd-active-border: var(--active-input-border-color);
  --dd-active-input-text: var(--main-text-color);
  --dd-active-selection-text: var(--main-text-color);
  --dd-active-selection-bg: var(--dd-active-bg);

  /* Disabled state */
  --dd-disabled-bg: var(--input-disabled-bg);
  --dd-disabled-border: var(--input-disabled-border);
  --dd-disabled-selection-color: var(--input-disabled-color);
  --dd-disabled-input-text: var(--input-disabled-color);
  --dd-disabled-btn-fill: var(--input-disabled-color);
  --dd-disabled-selection-item-text: var(--input-disabled-color);
  --dd-disabled-selection-item-bg: #dfdfdf;
}

.dd__list-group {
  .dd__list-group__label {
    padding: 0 10px;
  }
}

/* Offset group items */
.dd_offset-group {
  .dd__list-group .dd__list-item {
    margin-left: 1.25rem;
  }
}

/* Stretching DropDown */
.dd_fullwidth {
  display: flex;
  width: 100%;
}

/** Single selection DropDown with ellipsis text overflow */
.dd_ellipsis {
  .dd__single-selection {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    flex-shrink: 1;
  }
}

/* Attached DropDown */
.dd__container_active.dd__container_attached {
  outline: 0 none;
}

.dd__container_active.dd__container_attached:focus-visible {
  box-shadow: var(--focus-shadow);
}

/* DropDown attached to input group button */
.input-group__btn .dd__container_attached {
  border-bottom-right-radius: var(--ig-border-radius);
  border-right-width: var(--ig-border-width);
  border-top-right-radius: var(--ig-border-radius);
}

/* Datepicker */
.dp__container {
  --dp-bg-color: var(--main-bg-color);
  --dp-border-color: var(--active-input-border-color);
  --dp-border-width: 1px;
  --dp-text-color: var(--main-text-color);
  --dp-other-text-color: var(--text-color-6);
  --dp-disabled-text-color: var(--text-color-5);
  --dp-active-color: var(--accent-color-alt);
  --dp-today-color: var(--accent-color);
  --dp-hover-bg-color: var(--accent-color-alt);
  --dp-hover-color: #dddddd;
  --dp-hl-bg-color: var(--accent-color-alt);
  --dp-hl-color: #ffffff;
  --dp-nav-fill: #b0b0b0;
  --dp-nav-hover-fill: var(--accent-color);

  .dp__wrapper {
    border-radius: var(--default-border-radius);
  }
}

.popup .dp__container {
  position: static;
}

/* Horizontal field */
.field.horizontal-field {
  --field-title-font-size: 1rem;
  --field-title-font-weight: 400;
  --field-title-color: var(--main-text-color);

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  column-gap: 2rem;

  .field__title {
    padding: 0.5rem 0;
  }

  .dd__container {
    align-self: center;
  }
}

/* Checkboxes list sub-option */
.suboption {
  margin-left: 29px;
}

/* Popup menu */
.popup-menu-list {
  --popupmenu-border-width: 0;
  --popupmenu-border-radius: var(--default-border-radius);
  --popupmenu-border-color: var(--popup-menu-border);
  --popupmenu-separator-color: var(--list-separator-color);
  --popupmenu-background: var(--popup-menu-bg);
  --popupmenu-title-color: var(--main-text-color);
  --popupmenu-icon-color: var(--main-text-color);
  --popupmenu-hover-icon-color: #ffffff;
  --popupmenu-hover-title-color: #ffffff;
  --menu-item-selected-checkbox-icon-color: var(--main-text-color);

  box-shadow: var(--popup-menu-box-shadow);
  backdrop-filter: var(--popup-menu-backdrop-filter);
}

.popup-menu-list .warning-item {
  --popupmenu-title-color: var(--warning-color-alt);
  --popupmenu-icon-color: var(--warning-color-alt);
  --popupmenu-hover-background: var(--warning-color-alt);
}

.popup-menu-list .check-icon-item {
  --btn-icon-size: 18px;
}

/* Popup menu button */
.btn.menu-btn {
  --btn-size: 32px;
  --btn-icon-size: 24px;
  --btn-padding: 0;
  --btn-background: none;
  --btn-icon-color: var(--main-text-color);
}

/* Popup */
.popup,
.list-item-details,
.filters-container {
  --popup-text: var(--main-text-color);
  --popup-bg: var(--main-bg-color);
  --popup-header-padding: 6px 12px 12px 12px;
  --popup-footer-padding: 2rem 1rem 1rem 1rem;
  --popup-content-padding: 0 1rem 1rem 1rem;
  --popup-close-btn: var(--list-item-icon-fill);
  --popup-close-btn-bg: none;
  --popup-close-btn-hover: var(--list-item-hover-icon-fill);
  --popup-close-btn-hover-bg: var(--icon-btn-hover-bg);
  --popup-close-btn-active: var(--list-item-hover-icon-fill);
  --popup-close-btn-active-bg: var(--icon-btn-active-bg);
}

.popup__content {
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.popup__header {
  column-gap: 18px;

  .close-btn {
    align-self: flex-end;
    flex: 0 0 auto;
  }
}

.popup__title {
  min-height: 40px;
  line-height: 40px;
  font-weight: 300;
  font-size: 1.4rem;
  margin: 0;
  padding: 0;
  flex: 1 1 auto;
}

.popup__footer {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  gap: 30px;
}

/* Notifications */
.popup.notification {
  --notification-success-close-btn: #ffffff;
  --notification-success-close-btn-hover: #ffffff;
  --notification-error-close-btn: #ffffff;
  --notification-error-close-btn-hover: #ffffff;

  .close-btn__icon {
    opacity: 0.5;
  }
}

/* Link menu */
.menu.link-menu {
  --menu-item-icon-color: var(--accent-color);
  --menu-item-padding: 0;
  --menu-item-selected-text-color: var(--main-text-color);
}

.menu.link-menu[multiple] {
  --menu-item-selected-text-color: var(--accent-color);
  --menu-item-selected-font-weight: 400;
}

/* Counters */
.counters {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  column-gap: 24px;
}

.counter {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  column-gap: 12px;
}

.counter__title {
  font-size: 0.8rem;
  color: #858585;
}

.counter__value {
  font-size: 0.9rem;
}

/* Paginator */
.paginator {
  align-items: center;
  justify-content: center;
  padding: 16px 0;
  gap: 2px;
}

.paginator-item {
  padding: 0.5rem;
  margin: 0;
  text-decoration: none;
  border: 0 none;
  border-radius: 3px;
  font-size: 0.9rem;
}

a.paginator-item,
a.paginator-item:visited {
  color: var(--accent-color);
}

.paginator-arrow {
  width: fit-content;
  fill: var(--accent-color-alt);
}

.paginator-arrow[disabled] {
  fill: #5e5e5e;
}

.paginator-item__active {
  font-weight: normal;
  background-color: var(--accent-color-alt);
  color: #ffffff;
}

a.paginator-item:focus-visible,
a.paginator-arrow:focus-visible {
  z-index: 2;
  box-shadow: var(--focus-shadow);
}

/* Tabs */
.tab-list {
  --tab-padding: 1rem 0;
  --tab-gap: 24px;
  --tab-border-width: 0;
  --tab-content-background: none;
  --tab-content-padding: 0;
  --tab-item-color: var(--dimmed-text-color);
  --tab-hover-color: var(--main-text-color);
  --tab-active-color: var(--accent-color-alt);
  --tab-selected-color: var(--main-text-color);

  > .menu .menu-item {
    border-bottom-width: 2px;
    text-decoration: none;
  }

  > .menu .menu-item_selected {
    border-bottom-color: var(--accent-color-alt);
  }
}

/* Filters */
.filter-item .link-menu {
  min-height: var(--input-height);
}

/* List view */
.list-view__content {
  display: flex;
  flex-flow: row nowrap;
  position: relative;
}

/* List view details */
.item-details {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0 12px;
  overflow-y: auto;
  flex: 1 1 auto;
  background-color: var(--main-bg-color);
  z-index: 2100;
}

/* Histogram */
.histogram {
  --chart-text-color: var(--main-text-color);
  --chart-text-size: 1rem;
}

.histogram__bar {
  --historgam-bar-color: var(--category-color);
  --historgam-active-bar-color: var(--category-active-color);
}

@for $i from 1 through length(colors.$colors) {
  .histogram_column-#{$i},
  .chart_stacked .histogram_category-ind-#{$i},
  .legend-item-#{$i},
  .pie__sector-#{$i} {
    --category-color: var(--charts-color-#{$i});
    --category-active-color: var(--charts-active-color-#{$i});
  }
}

.categories-report {
  .chart_stacked .histogram_category-0,
  .chart-popup-list__item-cat-0 {
    --category-color: var(--charts-color-1);
    --category-active-color: var(--charts-active-color-1);
  }
}

.chart-legend__item {
  color: var(--category-color, var(--charts-color-1));
}

.pie__sector {
  fill: var(--category-color, var(--charts-color-1));
}

@media (hover: hover) {
  .pie__sector:hover {
    fill: var(--category-active-color, var(--charts-active-color-1));
  }
}

@media (min-width: 576px) {
  .paginator-item {
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
  }

  .list-view__content {
    column-gap: 24px;
  }

  .item-details {
    position: sticky;
    top: var(--header-size);
    width: auto;
    max-width: var(--section-width);
    z-index: auto;
  }
}

/* Desktop */
@media (min-width: 768px) {
  .content_wrap {
    padding-left: 212px;
  }

  .list-view__content {
    column-gap: 48px;
    padding-left: 212px;
  }
}

@media (hover: hover) {
  a:hover {
    color: var(--accent-hover-color);
  }

  .menu .menu-item:hover {
    color: var(--main-text-color);
  }

  .btn.link-btn:hover {
    text-decoration: underline;
  }

  .btn.dashed-btn:hover::after {
    border-bottom-style: solid;
  }

  .notification .close-btn:hover .close-btn__icon {
    opacity: 1;
  }

  a.paginator-item:hover {
    background-color: #51b4ff59;
  }
}
