:root {
  --piechart-width: 400px;
}

/* Statistics view histogram chart */
.stat-histogram {
  position: relative;
  width: 100%;

  span {
    color: var(--main-text-color);
  }

  .loading-indicator {
    z-index: auto;
    min-height: 320px;
    background-color: #32323217;
  }
}

.chart-legend__item-title {
  position: relative;
  left: -5px;
  color: var(--main-text-color);
}
