main {
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;
}

/* Statistics view histogram chart */
.stat-histogram {
  position: relative;
  min-width: 300px;
  max-width: 100%;
  flex: 2 1 60%;

  span {
    color: var(--main-text-color);
  }

  .loading-indicator {
    z-index: auto;
    min-height: 320px;
    background-color: #32323217;
  }
}

.chart-legend__item-title {
  position: relative;
  left: -5px;
  color: var(--main-text-color);
}

.piechart-group {
  flex: 1 2 35%;
}

/* Desktop */
@media (min-width: 992px) {
  main {
    flex-flow: row nowrap;
  }
}
