/* Filters */
.filters-container {
  flex-flow: row wrap;
}

.trans-type-filter {
  max-width: 450px;
}

.report-type-filter .link-menu {
  flex-flow: row nowrap;
}

.currency-filter,
.group-type-filter {
  width: 100px;
  flex-grow: 0;
}

.date-range-filter {
  max-width: 400px;
}

/* Statistics view histogram chart */
.stat-histogram {
  width: 100%;
}

/* Bar chart information popup */
.chart__popup {
  position: absolute;
  border: 0 none;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  padding: 8px;
  white-space: nowrap;
}

.chart-popup__content {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 4px;
}

.chart-popup__header {
  text-transform: capitalize;
  font-weight: 600;
}

.chart-popup-list {
  display: flex;
  flex-flow: column nowrap;
  list-style-position: inside;
  list-style-type: disc;
}

.chart-popup-list__value,
.chart-legend__item-title {
  position: relative;
  left: -5px;
}

@for $i from 1 through 4 {
  .chart-popup-list__item-cat-#{$i},
  .chart-legend__item-cat-#{$i} {
    color: var(--charts-color-#{$i});
  }
}
