:root {
  --piechart-width: 400px;
}

/* Filters */
.filters-list {
  flex-flow: row wrap;
}

.trans-type-filter {
  max-width: 450px;
}

.report-type-filter {
  max-width: 300px;

  .link-menu {
    flex-flow: row nowrap;
  }
}

.accounts-filter {
  flex-shrink: 0;
}

.currency-filter,
.group-type-filter {
  width: 100px;
  flex-grow: 0;
}

.date-range-filter {
  max-width: 400px;
}

/* Filters inside Collapsible container */
.filters-collapsible {
  .submit-btn {
    display: none;
  }
}

/* Statistics view histogram chart */
.stat-histogram {
  position: relative;
  width: 100%;
}

/* Bar chart information popup */
.chart__popup {
  position: absolute;
  border: 0 none;
  border-radius: 5px;
  box-shadow: var(--popup-menu-box-shadow);
  backdrop-filter: var(--popup-menu-backdrop-filter);
  padding: 8px;
  white-space: nowrap;
}

.chart-popup__content {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 4px;
}

.chart-popup__header {
  text-transform: capitalize;
  font-weight: 600;
}

.chart-popup__series {
  font-size: 0.75rem;
}

.chart-popup-list {
  display: flex;
  flex-flow: column nowrap;
  list-style-position: inside;
  list-style-type: disc;
}

.chart-popup-list__value,
.chart-legend__item-title {
  position: relative;
  left: -5px;
}

/* Pie chart */
.piechart-header,
.piechart-total {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  max-width: var(--piechart-width);
  justify-content: space-between;
}

.piechart-header {
  margin-top: 2rem;
}

.piechart-header__type {
  font-weight: 500;
  font-size: 1.2rem;
  text-transform: capitalize;
}

.piechart-header__date {
  font-size: 1rem;
  color: var(--dimmed-text-color);
}

.piechart-total__title {
  font-size: 0.9rem;
  color: var(--dimmed-text-color);
}

.piechart-total__value {
  font-size: 1.1rem;
}

.piechart-container {
  position: relative;
  max-width: var(--piechart-width);
  margin-top: 1rem;

  .pie-chart {
    position: relative;
    z-index: 2;
  }
}

.piechart-info {
  --piechart-info-margin: 45px;

  position: absolute;
  left: var(--piechart-info-margin);
  right: var(--piechart-info-margin);
  top: var(--piechart-info-margin);
  bottom: var(--piechart-info-margin);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  .piechart-info__title {
    font-size: 0.9rem;
    color: var(--dimmed-text-color);
  }

  .piechart-info__percent {
    font-size: 1.2rem;
  }

  .piechart-info__value {
    font-size: 1rem;
    color: var(--dimmed-text-color);
  }
}

@for $i from 1 through 13 {
  .chart-popup-list__item-cat-#{$i},
  .chart-legend__item-cat-#{$i} {
    color: var(--charts-color-#{$i});
  }

  .pie__sector-#{$i} {
    fill: var(--charts-color-#{$i});
  }
}

@media (hover: hover) {
  @for $i from 1 through 13 {
    .pie__sector-#{$i}:hover {
      fill: var(--charts-active-color-#{$i});
    }
  }
}
