/* Statistics view histogram chart */
.stat-histogram {
  width: 100%;
}

.bar_active {
  fill: #00bfff;
}

/* Bar chart information popup */
.chart__popup {
  position: absolute;
  border: 1px solid #000000;
  background-color: #ffffff;
  padding: 5px;
  white-space: nowrap;
}
