body.white-theme  {
  color: #000000;
  background-color: #ffffff;
}

.dark-theme .admin-tbl,
.dark-theme .admin-tbl th,
.dark-theme .admin-tbl td,
.dark-theme .test-tbl,
.dark-theme .test-tbl th,
.dark-theme .test-tbl td {
  border-color: #000000;
}

/* Tests */
.white-theme .test-results-container td {
  border-color: #000000;
}

.dark-theme .admin-tbl tr:hover td,
.dark-theme .test-tbl tr:hover td {
  background-color: #bbbbbb;
}

.white-theme textarea {
  color: #000000;
  border-color: #000000;
  background-color: #ffffff;
}

/* Popup */
.white-theme .popup__content .popup__content-box {
  color: #000000;
  background-color: #ffffff;
}

.white-theme .popup__title,
.white-theme .popup__message {
  color: #000000;
}

/* API tests */
.white-theme .left-column,
.white-theme .right-column {
  background-color: #e0e0e0;
}

.white-theme .menu-list > li > button {
  color: #000000;
}

.white-theme .menu-list .sub-menu-list > li:hover {
  color: #222222;
}

.white-theme .request-data-form {
  background-color: #f3f3f3;
  border-color: #bbbbbb;
}

.white-theme .request-data-form input[type="text"] {
  color: #000000;
  border-color: #000000;
  background-color: #ffffff;
}

.white-theme .request-data-form input[disabled],
.white-theme .request-data-form select[disabled],
.white-theme .request-data-form textarea[disabled] {
  color: #888888;
  border-color: #888888;
}

.white-theme .request-item {
  border-color: #cecece;
  background-color: #cecece;
}

.white-theme .request-item .response-container.response-container_pending {
  border-color: #cccccc;
  color: #cccccc;
}
