/* Filters collapsible */
.filters-collapsible {
  margin: 0 0 9px 0;
}

.filters-collapsible .collapsible-header {
  cursor: pointer;
}

/* Filters heading */
.filters-heading {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
}

.filters-heading__icon {
  height: 24px;
  width: 24px;
  margin: 0 9px 0 0;
}

.filters-heading__icon svg {
  height: 24px;
  width: 24px;
}

.filters-heading label {
  margin: 0 30px 0 0;
  font-size: 18px;
}

/* Clear all filters button */
.clear-all-btn {
  display: none;
  flex-flow: row nowrap;
  align-items: center;
  font-size: 16px;
  text-decoration: none;
}

.clear-all-btn svg {
  height: 16px;
  width: 16px;
  margin: 0 6px 0 0;
  fill: #0072c6;
}

.collapsible__expanded .clear-all-btn {
  display: inline-flex;
}

/* Toggle expand/collapse button */
.filters-heading .toggle-btn,
.filters-heading .toggle-btn:active,
.filters-heading .toggle-btn:visited {
  background: none;
  cursor: pointer;
}

.filters-heading .toggle-btn svg {
  height: 18px;
}

.collapsible__expanded .filters-heading .toggle-btn svg {
  transform: rotate(180deg);
}

/* Transactions list, mode selector and paginators container */
.list-container {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
}

/* Mode selector and paginator row */
.paginator-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

/* Paginator */
.paginator-item {
  padding: 0.25rem 0.5rem;
  margin: 0;
  text-decoration: none;
  border: 1px solid #ffffff;
  border-radius: 3px;
  color: #447fd6;
}

.paginator-item__active {
  font-weight: normal;
  background-color: #557dff;
  color: #ffffff;
}

a.paginator-item:hover {
  border-color: #93beff;
}

.paginator-arrow {
  fill: #93beff;
}

a.paginator-arrow:hover {
  fill: #447fd6;
  border-color: #ffffff;
}

.paginator-arrow[disabled] {
  fill: #dbdbdb;
}

.paginator-item + .paginator-item {
  margin-left: 2px;
}

/* Loading indicator */
.trans-list__loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  z-index: 10;
  background-color: rgb(50 50 50 / 70%);
}

/* Search form */
.search-form {
  align-self: right;
}

.search_btn {
  align-self: right;
  flex-grow: 0;
}
