/* Mode selector and paginator row */
.paginator-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

/* Mode selector */
.mode-selector {
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 5px 0;
}

.mode-selector__item {
  display: inline-flex;
  flex-flow: row nowrap;
}

.mode-selector__item span {
  height: 22px;
  line-height: 22px;
  padding: 0 10px 0 5px;
}

.mode-selector__item .icon {
  width: 24px;
  height: 24px;
  padding: 0;
}

.mode-selector__item svg {
  width: 24px;
  height: 24px;
}

/* Paginator */
.paginator-item {
  padding: 0.25rem 0.5rem;
  margin: 0;
  text-decoration: none;
  border: 1px solid #ffffff;
  border-radius: 3px;
  color: #447fd6;
}

.paginator-item__active {
  font-weight: normal;
  background-color: #557dff;
  color: #ffffff;
}

a.paginator-item:hover {
  border-color: #93beff;
}

.paginator-arrow {
  fill: #93beff;
}

a.paginator-arrow:hover {
  fill: #447fd6;
  border-color: #ffffff;
}

.paginator-arrow[disabled] {
  fill: #dbdbdb;
}

.paginator-item + .paginator-item {
  margin-left: 2px;
}

/* Search form */
.search-form {
  align-self: right;
}

.search_btn {
  align-self: right;
  flex-grow: 0;
}
