/* Filters collapsible */
.filters-collapsible {
  margin: 0 0 9px 0;

  .collapsible-header {
    cursor: pointer;
  }
}

/* Filters heading */
.filters-heading__icon {
  height: 24px;
  width: 24px;
  margin: 0 9px 0 0;

  .filter-icon {
    height: 24px;
    width: 24px;
  }
}

/* Clear all filters button */
.clear-all-btn {
  display: none;
  flex-flow: row nowrap;
  align-items: center;
  font-size: 16px;
  text-decoration: none;
}

.clear-all-icon {
  height: 16px;
  width: 16px;
  margin: 0 6px 0 0;
  fill: #0072c6;
}

.filters-heading {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;

  label {
    margin: 0 30px 0 0;
    font-size: 18px;
  }

  /* Toggle expand/collapse button */
  .toggle-btn,
  .toggle-btn:active,
  .toggle-btn:visited {
    background: none;
    cursor: pointer;
  }

  .toggle-icon {
    height: 18px;
  }
}

.collapsible__expanded {
  .clear-all-btn {
    display: inline-flex;
  }

  .filters-heading .toggle-icon {
    transform: rotate(180deg);
  }
}

/* Transactions list, mode selector and paginators container */
.list-container {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
}

/* Mode selector and paginator row */
.paginator-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

/* Paginator */
.paginator {
  --pg-focus-shadow: #0d6efd40;
}

.paginator-item {
  padding: 0.25rem 0.5rem;
  margin: 0;
  text-decoration: none;
  border: 1px solid #ffffff00;
  border-radius: 3px;
  color: #447fd6;
  z-index: 1;
}

.paginator-item__active {
  font-weight: normal;
  background-color: #557dff;
  color: #ffffff;
}

.paginator-arrow {
  fill: #93beff;
  z-index: 1;
}

.paginator-arrow[disabled] {
  fill: #dbdbdb;
}

.paginator-item + .paginator-item {
  margin-left: 2px;
}

a.paginator-item:focus,
a.paginator-arrow:focus {
  z-index: 2;
  box-shadow: 0 0 0 0.25rem var(--pg-focus-shadow);
}

@media (hover: hover) {
  a.paginator-item:hover {
    border-color: #93beff;
  }

  a.paginator-arrow:hover {
    fill: #447fd6;
    border-color: #ffffff;
  }
}
