/* Transaction details */
.transaction-details {
  --offcanvas-bg: var(--main-bg-color);

  padding: 0 12px;
  width: 100%;
  max-width: var(--section-width);
}

/* Filters */
.trans-type-filter {
  max-width: 500px;
}

.date-range-filter {
  max-width: 400px;
}

/* Clear all filters button */
.clear-all-btn {
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  text-decoration: none;
}

/* Filters inside Collapsible container */
.filters-collapsible {
  .submit-btn {
    display: none;
  }

  .filters-controls {
    padding-top: 12px;
  }
}

/* Transactions list, mode selector and paginators container */
.list-container {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
}

/* List header */
.list-header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

/* Mode selector */
.dark-theme,
.white-theme {
  .btn.mode-selector {
    --btn-title-color: var(--accent-color);
    --btn-icon-color: var(--accent-color);
    --btn-hover-icon-color: var(--accent-color);
    --btn-hover-title-color: var(--accent-hover-color);
  }
}

.transaction-view-view {
  main {
    width: 100%;
  }

  .item-details {
    position: absolute;
    width: 100%;
    left: auto;
    right: 0;
  }
}

/* Desktop */
@media (min-width: 768px) {
  .transaction-details {
    padding-top: var(--header-size);
  }
}

@media (hover: hover) {
  .clear-all-btn {
    text-decoration: underline;
  }

  .mode-selector:hover {
    .btn__content {
      text-decoration: underline;
    }
  }
}
