/* Filters collapsible */
.filters-collapsible {
  margin: 0 0 9px 0;

  .collapsible-header {
    cursor: pointer;
  }
}

/* Filters heading */
.filters-heading__icon {
  height: 24px;
  width: 24px;
  margin: 0 12px 0 8px;

  .filter-icon {
    height: 24px;
    width: 24px;
  }
}

/* Clear all filters button */
.clear-all-btn {
  display: none;
  flex-flow: row nowrap;
  align-items: center;
  font-size: 16px;
  text-decoration: none;
}

.clear-all-icon {
  height: 16px;
  width: 16px;
  margin: 0 6px 0 0;
  fill: #0072c6;
}

.filters-heading {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;

  label {
    margin: 0 30px 0 0;
    font-size: 18px;
  }

  /* Toggle expand/collapse button */
  .toggle-btn,
  .toggle-btn:active,
  .toggle-btn:visited {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    background: none;
    cursor: pointer;
  }

  .toggle-icon {
    height: 18px;
  }
}

.collapsible__expanded {
  .clear-all-btn {
    display: inline-flex;
  }

  .filters-heading .toggle-icon {
    transform: rotate(180deg);
  }
}

/* Transactions list, mode selector and paginators container */
.list-container {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
}

/* Mode selector and paginator row */
.paginator-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
