.dark-theme {
  --main-text-color: #dddddd;
  --hl-text-color: #ffffff;
  --main-bg-color: #101010;
  --alt-bg-color: #2a2a2a;

  /* Inputs */
  --input-bg-color: #181818;
  --input-border-color: #2e2e2e;
  --active-input-border-color: #d0d0d0;

  /* Disabled inputs */
  --input-disabled-bg-color: #202020;
  --input-disabled-border-color: #202020;
  --input-disabled-text-color: #707070;

  color: var(--main-text-color);
  background-color: var(--main-bg-color);

  /* Page */
  .page_wrapper {
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
  }

  /* Navigation */
  .navigation {
    background-color: var(--alt-bg-color);
  }

  /* Navigation items */
  a.nav-link,
  a.nav-link:visited {
    color: var(--main-text-color);
  }

  /* Main content */
  .container {
    background-color: #202020;
  }

  /* Login/Register view */
  .login-layer,
  .register-layer {
    background-color: var(--main-bg-color);
  }

  .login-layer h1,
  .register-layer h1 {
    color: var(--main-text-color);
  }

  .heading {
    color: var(--main-text-color);
  }

  .iconlink .iconlink__icon {
    border-color: var(--main-text-color);
  }

  .iconlink .iconlink__icon-content {
    fill: var(--main-text-color);
  }

  .iconlink .iconlink__content {
    color: var(--main-text-color);
  }

  /* No data message for lists & etc. */
  .nodata-message {
    color: #b0b0b0;
  }

  /* Main view widgets */
  .widget_title,
  .widget_title > a,
  .widget_title > a:hover,
  .widget_title > a:visited {
    color: var(--main-text-color);
  }

  .widget_title .glyph-icon {
    fill: var(--main-text-color);
  }

  /* Transaction type menu */
  .trtype-menu__item_selected {
    color: var(--main-text-color);
  }

  /* Input control */
  .stretch-input {
    color: var(--main-text-color);
    border-color: var(--input-border-color);
    background-color: var(--input-bg-color);
  }

  .stretch-input:focus {
    border-color: var(--active-input-border-color);
  }

  /* Input group */
  .input-group {
    --ig-border-color: var(--input-border-color);
    --ig-input-color: var(--main-text-color);
    --ig-input-bg: var(--input-bg-color);
    --ig-input-active-border: var(--active-input-border-color);
    --ig-button-disabled-color: var(--main-text-color);
    --ig-button-disabled-border: var(--input-border-color);
    --ig-button-disabled-bg: #202020;
    --ig-inner-button-color: #888888;
    --ig-inner-button-active-color: #ffffff;
  }

  /* Checkbox */
  .checkbox {
    --checkbox-text: var(--main-text-color);
    --checkbox-bg: var(--input-bg-color);
    --checkbox-border: var(--input-border-color);
  }

  /* DropDown  */
  .dd__container,
  .dd__container_attached {
    --dd-bg-color: var(--input-bg-color);
    --dd-selection-text: var(--main-text-color);
    --dd-border-color: var(--input-border-color);

    /* Active component */
    --dd-active-bg: #202020;
    --dd-active-border: var(--active-input-border-color);

    /* Clear and toggle buttons */
    --dd-btn-fill: #888888;
    --dd-btn-hover-fill: var(--main-text-color);

    /* Disabled component */
    --dd-disabled-bg: var(--input-disabled-bg-color);
    --dd-disabled-border: var(--input-disabled-border-color);
    --dd-disabled-selection-color: var(--input-disabled-text-color);
    --dd-disabled-input-text: var(--input-disabled-text-color);
    --dd-disabled-btn-fill: var(--input-disabled-text-color);
    --dd-disabled-selection-item-text: var(--input-disabled-text-color);
    --dd-disabled-selection-item-bg: #dfdfdf;

    /* List item */
    --dd-list-item-text: var(--main-text-color);
    --dd-list-item-bg: #202020;
    --dd-list-item-check: var(--main-text-color);

    /* List group */
    --dd-list-group-text: #0072c6;
    --dd-list-group-bg: #202020;
  }

  /* Date picker */
  .dp__container {
    --dp-bg-color: #202020;
    --dp-border-color: #d0d0d0;
    --dp-text-color: var(--main-text-color);
    --dp-other-text-color: #505050;
    --dp-active-color: #20d0ff;
    --dp-today-color: #00bef3;
    --dp-hover-bg-color: #3198d4;
    --dp-hover-color: #dddddd;
    --dp-hl-bg-color: #005688;
    --dp-hl-color: #ffffff;
    --dp-nav-fill: #b0b0b0;
    --dp-nav-hover-fill: #80d0ff;
  }

  /* Collapsible */
  .rule-item .collapsible-header,
  .rule-form-collapse .collapsible-header {
    color: var(--main-text-color);
    background-color: #202020;
    border-color: #202020;
  }

  /* Filters */
  .filters-collapsible .collapsible-header {
    background-color: #2e2e2e;
  }

  .filters-heading label {
    color: var(--main-text-color);
  }

  .filter-icon {
    fill: var(--main-text-color);
  }

  /* Transaction list item */
  .trans-item {
    background-color: var(--alt-bg-color);
  }

  .trans-item__balance,
  .trans-item__title {
    color: var(--main-text-color);
  }

  .trans-item__date,
  .trans-item__comment,
  .trans-item__date-field .field__content,
  .trans-item__comment-field .field__content {
    color: #b0b0b0;
  }

  .trans-item_details .field__title {
    color: #858585;
  }

  /* Bar chart */
  .charts svg text tspan {
    fill: var(--main-text-color);
  }

  /* Profile view */
  .profile_block {
    color: var(--main-text-color);
  }

  /* Popup */
  .popup__content .popup__content-box {
    color: var(--main-text-color);
    background-color: #303030;
  }

  .popup__title,
  .popup__message {
    color: var(--main-text-color);
  }

  /* Tiles list */
  .tiles,
  .total-list {
    .nodata-message {
      color: var(--main-text-color);
    }
  }

  /* Swap button */
  .swap-btn {
    border-color: #2e2e2e;
  }

  .swap-icon {
    fill: #888888;
  }

  /* Import view */
  .content-header {
    background-color: #202020;
  }

  .actions-menu-btn__icon {
    fill: var(--main-text-color);
  }

  .actions-menu-list,
  .actions-menu-list__separator {
    background-color: #222222;
    border-color: #444444;
  }

  /* Import form */
  .import-form {
    background-color: #505050;

    &.import-form__placeholder {
      border-color: #888888;
      background-color: #202020;
    }

    input[type="text"] {
      border-color: var(--input-border-color);
    }

    input[disabled] {
      color: var(--input-disabled-text-color);
      border-color: var(--input-disabled-border-color);
      background-color: var(--input-disabled-bg-color);
    }

    input[type="text"]:focus {
      border-color: #d0d0d0;
      background-color: #202020;
    }

    .btn {
      color: var(--main-text-color);
    }

    .icon {
      fill: #888888;
    }
  }

  /* Disabled Import form */
  .import-form[disabled] {
    background-color: #292929;
    color: #707070;
    border-color: #707070;

    input[type="text"],
    input[disabled] {
      color: var(--input-disabled-text-color);
      border-color: var(--input-disabled-border-color);
      background-color: var(--input-disabled-bg-color);
    }

    input::placeholder {
      color: #707070;
    }

    .input-group__btn {
      color: var(--input-disabled-text-color);
      border-color: var(--input-disabled-border-color);
      background-color: var(--input-disabled-bg-color);
    }
  }

  /* Import item */
  .import-item {
    background-color: #505050;

    &[disabled] {
      background-color: #292929;
      color: #707070;
      border-color: #707070;
    }

    &.import-item__placeholder {
      border-color: #888888;
      background-color: #202020;
    }

    .field__title {
      color: #858585;
    }

    .btn {
      color: var(--main-text-color);
    }

    .icon {
      fill: #888888;
    }
  }

  .import-controls {
    color: var(--main-text-color);
  }

  /* Upload dialog */
  .upload-form__descr {
    color: #adadad;
  }

  .upload-form__browser.drag-over {
    outline-color: #dddddd;
  }

  /* Import rules dialog */
  .rules-dialog .loading-indicator {
    color: var(--main-text-color);
    background-color: #303030;
  }

  /* Import rule */
  .rule-item__operator {
    color: #808080;
  }

  .rule-item .icon,
  .rule-form .icon {
    fill: #888888;
  }

  .rule-item__info {
    color: #b0b0b0;
  }

  .rule-form-collapse .collapsible-content,
  .rule-item .collapsible-content {
    color: #bbbbbb;
    border-color: #303030;
    background-color: #252525;
  }

  /* Condition item */
  .cond-item,
  .cond-form {
    background-color: #353535;
    border-color: #353535;
  }

  .cond-item__operator {
    color: #808080;
  }

  /* Action item */
  .action-item,
  .action-form {
    background-color: #353535;
  }

  /* Original import data container */
  .import-item,
  .import-form {
    .collapsible-content {
      color: #bbbbbb;
      border-color: #3c3c3c;
      background-color: #444444;
    }

    &[disabled] .collapsible-content {
      color: #707070;
      border-color: #333333;
      background-color: #232323;
    }
  }

  /* Statistics view */
  .stat-histogram > span {
    color: var(--main-text-color);
  }

  .chart__popup {
    background-color: #202020e6;
    color: var(--main-text-color);
  }

  .chart-popup-list__value {
    color: var(--main-text-color);
  }

  /* Tile info block */
  .tile-info-block > div > span {
    color: var(--main-text-color);
  }

  /* Transaction list mode selector */
  .mode-selector > b > span {
    color: var(--main-text-color);
  }
}

@media (hover: hover) {
  .dark-theme {
    a.nav-link:hover {
      color: var(--hl-text-color);
    }

    .iconlink:hover .iconlink__icon {
      background-color: var(--main-text-color);
    }

    .iconlink > *:hover .iconlink__icon,
    .iconlink > *:hover .iconlink__content {
      color: var(--main-text-color);
    }

    .filters-collapsible .collapsible-header:hover {
      background-color: #3a3a3a;
    }

    .swap-btn:hover .swap-icon {
      fill: var(--main-text-color);
    }

    .import-form .btn:hover,
    .import-item .btn:hover {
      background-color: #303030;
    }

    .rule-item .collapsible-header:hover,
    .rule-form-collapse .collapsible-header:hover {
      background-color: #2e2e2e;
      border-color: #505050;
    }

    .rule-item .icon-btn:hover,
    .rule-form .icon-btn:hover {
      background-color: #2e2e2e;
    }

    .rule-item .icon-btn:hover .icon,
    .rule-form .icon-btn:hover .icon {
      fill: #dddddd;
    }

    /* Import form */
    .import-form .btn:hover .icon,
    .import-item .btn:hover .icon {
      fill: #dddddd;
    }

    .iconlink:hover .iconlink__icon-content {
      fill: #202020;
    }

    .tile_header .close-btn:hover .close-icon {
      fill: #ffffff;
    }
  }
}
