.white-theme {
  --main-text-color: #000000;
  --main-bg-color: #ffffff;
  --alt-bg-color: #f0f0f0;

  color: var(--main-text-color);
  background-color: var(--main-bg-color);

  /* Page */
  .page_wrapper {
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
  }

  /* Navigation */
  .navigation-content {
    background-color: var(--alt-bg-color);
  }

  /* Navigation items */
  a.nav-link,
  a.nav-link:visited {
    color: #202020;
  }

  a.nav-link:hover {
    color: var(--main-text-color);
  }

  /* Main content */
  .container {
    background-color: var(--main-bg-color);
  }

  /* Login/Register view */
  .login-layer,
  .register-layer {
    background-color: var(--main-bg-color);
  }

  .login-layer h1,
  .register-layer h1 {
    color: var(--main-text-color);
  }

  .heading {
    color: var(--main-text-color);
  }

  .iconlink .iconlink__icon {
    border-color: #000000;
  }

  .iconlink:hover .iconlink__icon {
    background-color: #000000;
  }

  .iconlink .iconlink__icon svg * {
    fill: #000000;
  }

  .iconlink .iconlink__content {
    color: var(--main-text-color);
  }

  .iconlink > *:hover .iconlink__icon,
  .iconlink > *:hover .iconlink__content {
    color: var(--main-text-color);
  }

  /* No data message for lists & etc. */
  .nodata-message {
    color: #404040;
  }

  /* Main view widgets */
  .widget_title,
  .widget_title > a,
  .widget_title > a:hover,
  .widget_title > a:visited {
    color: var(--main-text-color);
  }

  .widget_title .glyph svg * {
    fill: #000000;
  }

  /* Transaction type menu */
  .trtype-menu__item_selected {
    color: var(--main-text-color);
  }

  /* Input control */
  .stretch-input {
    color: var(--main-text-color);
    border-color: #b0b0b0;
    background-color: #f2f2f2;
  }

  .stretch-input:focus {
    border-color: #888888;
  }

  /* Input group */
  .input-group__item[disabled] {
    color: var(--main-text-color);
    border-color: #b0b0b0;
    background-color: var(--main-bg-color);
  }

  /* Clear input button */
  .clear-input-btn {
    border-color: #b0b0b0;
    background-color: #f2f2f2;
  }

  .clear-input-btn > svg {
    fill: #888888;
  }

  .input-group .stretch-input:focus + .clear-input-btn {
    border-color: #888888;
  }

  /* DropDown  */
  .dd__container,
  .dd__container_attached {
    --dd-bg-color: #f2f2f2;
    --dd-selection-text: #000000;
    --dd-border-color: #b0b0b0;

    /* Active component */
    --dd-active-bg: #f2f2f2;
    --dd-active-border: #888888;

    /* Clear and toggle buttons */
    --dd-btn-fill: #888888;
    --dd-btn-hover-fill: #000000;

    /* Disabled component */
    --dd-disabled-bg: #eeeeee;
    --dd-disabled-border: #eeeeee;
    --dd-disabled-selection-color: #a0a0a0;
    --dd-disabled-input-text: #a0a0a0;
    --dd-disabled-btn-fill: #707070;
    --dd-disabled-selection-item-text: #707070;
    --dd-disabled-selection-item-bg: #dfdfdf;

    /* List item */
    --dd-list-item-text: #000000;
    --dd-list-item-bg: #f2f2f2;
    --dd-list-item-check: #000000;

    /* List group */
    --dd-list-group-text: #000000;
    --dd-list-group-bg: #f2f2f2;
  }

  /* Date picker */
  .dp__container {
    --dp-bg-color: #ffffff;
    --dp-border-color: #888888;
    --dp-text-color: #000000;
    --dp-other-text-color: #b0b0b0;
    --dp-active-color: #20d0ff;
    --dp-today-color: #00bef3;
    --dp-hover-bg-color: #80d0ff;
    --dp-hover-color: #ffffff;
    --dp-hl-bg-color: #005688;
    --dp-hl-color: #ffffff;
    --dp-nav-fill: #b0b0b0;
    --dp-nav-hover-fill: #80d0ff;
  }

  /* Collapsible */
  .rule-item .collapsible-header,
  .rule-form-collapse .collapsible-header {
    color: var(--main-text-color);
    background-color: #dddddd;
    border-color: #dddddd;
  }

  /* Filters */
  .filters-collapsible .collapsible-header {
    background-color: var(--alt-bg-color);
  }

  .filters-collapsible .collapsible-header:hover {
    background-color: #e8e8e8;
  }

  .filters-heading label {
    color: var(--main-text-color);
  }

  .filters-heading__icon svg {
    fill: #000000;
  }

  /* Transaction list */
  .paginator-item,
  a.paginator-arrow:hover {
    border-color: #ffffff;
  }

  /* Transaction list item */
  .trans-list_details td > div,
  table.trans-list-items td > div,
  .trans-list_details tr.trans-list__item_selected > td > div {
    background-color: var(--alt-bg-color);
  }

  .trans-list__item-comment {
    border-left-color: #808080;
  }

  .trans-list_details .trans-list__item-comment,
  table.trans-list-items .trans-list__item-comment {
    color: #808080;
  }

  .trans-list__item,
  div.trans-list__item_selected {
    background-color: var(--alt-bg-color);
  }

  .tritem_balance,
  .trans-list__item-title,
  .trans-list__item-content {
    color: var(--main-text-color);
  }

  .trans-list__item-details {
    color: #808080;
  }

  /* Bar chart */
  .charts svg text tspan {
    fill: #000000;
  }

  /* Profile view */
  .profile_block {
    color: var(--main-text-color);
  }

  /* Popup */
  .popup__content .popup__content-box {
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
  }

  .popup__title,
  .popup__message {
    color: var(--main-text-color);
  }

  /* Tiles list */
  .tiles > span,
  .info-tiles > span {
    color: var(--main-text-color);
  }

  /* Swap button */
  .swap-btn {
    border-color: #b0b0b0;
  }

  .swap-btn > svg {
    fill: #888888;
  }

  .swap-btn:hover > svg {
    fill: #000000;
  }

  /* Active clear input button */
  .clear-input-btn:hover > svg,
  .clear-input-btn:focus > svg {
    fill: #000000;
  }

  /* Import view */
  .content-header {
    background-color: var(--main-bg-color);
  }

  .import-item {
    background-color: #dddddd;
  }

  .import-item .extended-content {
    color: #202020;
    border-color: #b0b0b0;
    background-color: #cccccc;
  }

  .import-item.import-item_disabled .extended-content {
    color: #a0a0a0;
    border-color: #d0d0d0;
    background-color: #e0e0e0;
  }

  .import-item select,
  .import-item input[type="text"] {
    border-color: #b0b0b0;
  }

  .import-item select[disabled],
  .import-item input[disabled] {
    color: #dddddd;
    border-color: #dddddd;
    background-color: #eeeeee;
  }

  .import-item.import-item_disabled {
    background-color: #e8e8e8;
    color: #808080;
    border-color: #e8e8e8;
  }

  .import-item_disabled select,
  .import-item_disabled select[disabled],
  .import-item_disabled input[type="text"],
  .import-item_disabled input[disabled] {
    color: #dddddd;
    border-color: #eeeeee;
    background-color: #eeeeee;
  }

  .import-item_disabled input::placeholder {
    color: #dddddd;
  }

  .import-item .btn,
  .import-item .btn:visited,
  .import-item .btn:active {
    color: #202020;
  }

  .import-item .btn:hover {
    background-color: #808080;
  }

  .import-item .btn svg {
    fill: #a7a7a7;
  }

  /* Placeholder */
  .import-item.import-item__placeholder {
    border-color: #888888;
    background-color: var(--main-bg-color);
  }

  .import-controls {
    color: #ffffff;
  }

  /* Upload dialog */
  .upload-form__browser.drag-over {
    outline-color: #202020;
  }

  /* Import rules dialog */
  .rules-dialog .loading-indicator {
    color: var(--main-text-color);
    background-color: #d0d0d0;
  }

  /* Import rule */
  .rule-item .collapsible-content {
    background-color: #dddddd;
  }

  .rule-item .collapsible-header:hover,
  .rule-form-collapse .collapsible-header:hover {
    background-color: #cccccc;
    border-color: #808080;
  }

  .rule-item__operator {
    color: #808080;
  }

  .rule-item .icon-btn:hover,
  .rule-form .icon-btn:hover {
    background-color: #cccccc;
  }

  .rule-item .icon-btn svg,
  .rule-form .icon-btn svg {
    fill: #b0b0b0;
  }

  .rule-item .icon-btn:hover svg,
  .rule-form .icon-btn:hover svg {
    fill: #ffffff;
  }

  .rule-item__info {
    color: #808080;
  }

  .rule-form-collapse .collapsible-content,
  .rule-item .collapsible-content {
    color: #202020;
    border-color: #ffffff;
    background-color: #e8e8e8;
  }

  /* Condition item */
  .cond-item,
  .cond-form {
    background-color: #cccccc;
    border-color: #cccccc;
  }

  .cond-item__operator {
    color: #808080;
  }

  /* Action item */
  .action-item,
  .action-form {
    background-color: #cccccc;
  }

  /* Import item */
  .import-item .btn:hover svg {
    fill: #ffffff;
  }

  /* Statistics view */
  .stat-histogram > span {
    color: var(--main-text-color);
  }

  .chart_popup {
    border-color: #000000;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
  }

  .iconlink:hover .iconlink__icon svg * {
    fill: #ffffff;
  }

  /* Tile info block */
  .tile-info-block > div > span {
    color: var(--main-text-color);
  }

  .tile_header > .close-btn:hover > svg {
    fill: #000000;
  }

  /* Transaction list mode selector */
  .mode-selector > b > span {
    color: var(--main-text-color);
  }
}
