/* Page */
body.white-theme,
.white-theme .page_wrapper {
  color: #000000;
  background-color: #ffffff;
}

/* Main content */
.white-theme .container {
  background-color: #ffffff;
}

/* Input controls color */
.white-theme input[type="text"],
.white-theme input[type="password"],
.white-theme select {
  border-color: #000000;
  background-color: #ffffff;
  color: #000000;
}

/* Login/Register view */
.white-theme .login-layer,
.white-theme .register-layer {
  background-color: #ffffff;
}

.white-theme .login-layer h1,
.white-theme .register-layer h1 {
  color: #000000;
}

.white-theme .heading {
  color: #000000;
}

.white-theme .iconlink .iconlink__icon {
  border-color: #000000;
}

.white-theme .iconlink:hover .iconlink__icon {
  background-color: #000000;
}

.white-theme .iconlink .iconlink__icon svg * {
  fill: #000000;
}

.white-theme .iconlink .iconlink__content {
  color: #000000;
}

.white-theme .iconlink > *:hover .iconlink__icon,
.white-theme .iconlink > *:hover .iconlink__content {
  color: #000000;
}

/* No data message for lists & etc. */
.white-theme .nodata-message {
  background-color: #ffffff;
  color: #404040;
}

/* Main view widgets */
.white-theme .widget_title,
.white-theme .widget_title > a,
.white-theme .widget_title > a:hover,
.white-theme .widget_title > a:visited {
  color: #000000;
}

.white-theme .widget_title .glyph svg * {
  fill: #000000;
}

/* Transaction type menu */
.white-theme .trtype-menu__item_selected {
  color: #000000;
}

.white-theme .stretch-input {
  border-color: #000000;
  background-color: #ffffff;
}

/* Input group */
.white-theme .input-group__btn_inactive {
  color: #000000;
  background-color: #ffffff;
}

/* DropDown  */
.white-theme .dd__combo,
.white-theme .dd__input,
.white-theme .dd__single-selection,
.white-theme .dd__toggle-btn {
  background-color: #ffffff;
  color: #000000;
}

.white-theme .dd__combo {
  border-color: #000000;
}

.white-theme .dd__container_active .dd__combo,
.white-theme .dd__container_active .dd__input,
.white-theme .dd__container_active .dd__single-selection,
.white-theme .dd__container_active .dd__toggle-btn {
  color: #202020;
}

.white-theme .dd__container.dd__container_disabled .dd__combo {
  color: #a0a0a0;
  border-color: #ffffff;
  background-color: #ffffff;
}

.white-theme .dd__list {
  background-color: #ffffff;
  border-right-color: #000000;
  border-left-color: #000000;
}

.white-theme .dd__list_drop-down {
  border-bottom-color: #000000;
}

.white-theme .dd__list_drop-up {
  border-top-color: #000000;
}

.white-theme .dd__list-item {
  color: #000000;
  background-color: #ffffff;
}

.white-theme .dd__list-item > svg {
  fill: #000000;
}

.white-theme .dd__container_enabled .dd__toggle-btn:hover path {
  fill: #000000;
}

@media (max-width: 767px) {
  .white-theme .dd__container.dd__fullscreen.dd__open .dd__background {
    background-color: #ffffff;
  }

  .white-theme .dd__container.dd__fullscreen.dd__open .dd__list {
    border-color: #000000;
  }
}

/* Date picker */
.white-theme .dp__wrapper {
  background-color: #ffffff;
  color: #000000;
  border-color: #000000;
}

.white-theme .dp__cell {
  color: #000000;
  border-color: #ffffff;
  background-color: #ffffff;
}

.white-theme .dp__other-month-cell {
  color: #b0b0b0;
}

.white-theme .dp__today-cell,
.white-theme .dp__cell_hl.dp__today-cell {
  border: 1px dashed #00bef3;
}

.white-theme .dp__cell_act {
  border-color: #20d0ff;
}

.white-theme .dp__cell_hl {
  background-color: #005688;
  border-color: #005688;
  color: #ffffff;
}

.white-theme .dp__year-range-view__cell:hover,
.white-theme .dp__year-view__cell:hover,
.white-theme .dp__day-cell:hover {
  background-color: #80d0ff;
  color: #ffffff;
}

/* Transaction list */
.white-theme .paginator-item,
.white-theme a.paginator-arrow:hover {
  border-color: #ffffff;
}

/* Transaction list item */
.white-theme .trans-list_details td > div,
.white-theme table.trans-list-items td > div,
.white-theme .trans-list_details tr.trans-list__item_selected > td > div {
  background-color: #f0f0f0;
}

.white-theme .trans-list__item-comment {
  border-left-color: #808080;
}

.white-theme .trans-list_details .trans-list__item-comment,
.white-theme table.trans-list-items .trans-list__item-comment {
  color: #808080;
}

.white-theme .trans-list__item,
.white-theme div.trans-list__item_selected {
  background-color: #f0f0f0;
}

.white-theme .tritem_balance,
.white-theme .trans-list__item-title,
.white-theme .trans-list__item-content {
  color: #000000;
}

.white-theme .trans-list__item-details {
  color: #808080;
}

/* Bar chart */
.white-theme .charts svg text tspan {
  fill: #000000;
}

/* Profile view */
.white-theme .profile_block {
  color: #000000;
}

/* Popup */
.white-theme .popup__content .popup__content-box {
  color: #000000;
  background-color: #ffffff;
}

.white-theme .popup__title,
.white-theme .popup__message {
  color: #000000;
}

/* Tiles list */
.white-theme .tiles > span,
.white-theme .info-tiles > span {
  color: #000000;
}

/* Import view */
.white-theme .content-header {
  background-color: #ffffff;
}

.white-theme .import-item {
  background-color: #dddddd;
}

.white-theme .import-item .extended-content {
  color: #202020;
  border-color: #b0b0b0;
  background-color: #cccccc;
}

.white-theme .import-item.import-item_disabled .extended-content {
  color: #a0a0a0;
  border-color: #d0d0d0;
  background-color: #e0e0e0;
}

.white-theme .import-item select,
.white-theme .import-item input[type="text"] {
  border-color: #000000;
}

.white-theme .import-item select[disabled],
.white-theme .import-item input[disabled] {
  color: #dddddd;
  border-color: #dddddd;
  background-color: #eeeeee;
}

.white-theme .import-item.import-item_disabled {
  background-color: #e8e8e8;
  color: #808080;
  border-color: #e8e8e8;
}

.white-theme .import-item_disabled select,
.white-theme .import-item_disabled select[disabled],
.white-theme .import-item_disabled input[type="text"],
.white-theme .import-item_disabled input[disabled] {
  color: #dddddd;
  border-color: #eeeeee;
  background-color: #eeeeee;
}

.white-theme .import-item_disabled input::placeholder {
  color: #dddddd;
}

.white-theme .import-item .btn,
.white-theme .import-item .btn:visited,
.white-theme .import-item .btn:active {
  color: #202020;
}

.white-theme .import-item .btn:hover {
  background-color: #808080;
}

.white-theme .import-item .btn svg {
  fill: #a7a7a7;
}

/* Placeholder */
.white-theme .import-item.import-item__placeholder {
  border-color: #888888;
  background-color: #ffffff;
}

.white-theme .import-controls {
  color: #ffffff;
}

/* Upload dialog */
.white-theme .upload-form__browser.drag-over {
  outline-color: #202020;
}

/* Import rules dialog */
.white-theme .rules-dialog__loading {
  color: #000000;
  background-color: #d0d0d0;
}

/* Import rule */
.white-theme .rule-item .collapsible-content {
  background-color: #dddddd;
}

.white-theme .rule-item .collapsible-header,
.white-theme .rule-form-collapse .collapsible-header {
  color: #000000;
  background-color: #dddddd;
  border-color: #dddddd;
}

.white-theme .rule-item .collapsible-header:hover,
.white-theme .rule-form-collapse .collapsible-header:hover {
  background-color: #cccccc;
  border-color: #808080;
}

.white-theme .rule-item__operator {
  color: #808080;
}

.white-theme .rule-item .icon-btn:hover,
.white-theme .rule-form .icon-btn:hover {
  background-color: #cccccc;
}

.white-theme .rule-item .icon-btn svg,
.white-theme .rule-form .icon-btn svg {
  fill: #b0b0b0;
}

.white-theme .rule-item .icon-btn:hover svg,
.white-theme .rule-form .icon-btn:hover svg {
  fill: #ffffff;
}

.white-theme .rule-item__info {
  color: #808080;
}

.white-theme .rule-form-collapse .collapsible-content,
.white-theme .rule-item .collapsible-content {
  color: #202020;
  border-color: #ffffff;
  background-color: #e8e8e8;
}

/* Condition item */
.white-theme .cond-item,
.white-theme .cond-form {
  background-color: #cccccc;
  border-color: #cccccc;
}

.white-theme .cond-item__operator {
  color: #808080;
}

/* Action item */
.white-theme .action-item,
.white-theme .action-form {
  background-color: #cccccc;
}

/* Import item */
.white-theme .import-item .btn:hover svg {
  fill: #ffffff;
}

/* Statistics view */
.white-theme .stat-histogram > span {
  color: #000000;
}

.white-theme .chart_popup {
  border-color: #000000;
  background-color: #ffffff;
  color: #000000;
}

.white-theme .iconlink:hover .iconlink__icon svg * {
  fill: #ffffff;
}

/* Tile info block */
.white-theme .tile-info-block > div > span {
  color: #000000;
}

.white-theme .tile_header > .close-btn:hover > svg {
  fill: #000000;
}

/* Transaction list mode selector */
.white-theme .mode-selector > b > span {
  color: #000000;
}

/* Input group close button */
.white-theme .input-group .close-btn:hover > svg {
  fill: #000000;
}
