.white-theme {
  --main-text-color: #000000;
  --dimmed-text-color: #a7a7a7;
  --main-bg-color: #ffffff;
  --semitrans-bg-color: #ffffff66;
  --alt-bg-color: #f0f0f0;

  /* List separator */
  --list-separator-color: #ebebeb;

  /* Header */
  --header-bg-color: #404040;
  --header-hover-btn-bg-color: #606060;

  /* Navigation menus */
  --nav-menu-separator-color: #c0c0c0;

  /* Buttons */
  --btn-bg: #e8e8e8;
  --btn-hover-bg: #c9c9c9;
  --icon-btn-hover-bg: #dddddd;

  /* Inputs */
  --input-bg-color: #f2f2f2;
  --input-border-color: #b0b0b0;
  --active-input-border-color: #888888;

  /* Disabled inputs */
  --input-disabled-bg-color: #eeeeee;
  --input-disabled-border-color: #dddddd;
  --input-disabled-text-color: #b0b0b0;

  /* List item */
  --list-item-bg-color: var(--alt-bg-color);

  /* List item icons */
  --list-item-icon-fill: #a7a7a7;
  --list-item-hover-icon-fill: #808080;

  /* Popup menu */
  --popup-menu-bg: #ffffffeb;
  --popup-menu-box-shadow: 0 0 10px 0 #00000080;

  color: var(--main-text-color);
  background-color: var(--main-bg-color);

  /* Navigation items */
  a.nav-item__link,
  a.nav-item__link:visited {
    color: #202020;
  }

  /* Login/Register view */
  .login-layer,
  .register-layer {
    background-color: var(--main-bg-color);
  }

  .login-layer h1,
  .register-layer h1 {
    color: var(--main-text-color);
  }

  .heading {
    color: var(--main-text-color);
  }

  /* No data message for lists & etc. */
  .nodata-message {
    color: #404040;
  }

  /* Main view widgets */
  .widget_title,
  .widget_title > a,
  .widget_title > a:hover,
  .widget_title > a:visited {
    color: var(--main-text-color);
  }

  .widget_title .glyph-icon {
    fill: var(--main-text-color);
  }

  /* Input group */
  .input-group {
    --ig-border-color: var(--input-border-color);
    --ig-input-color: var(--main-text-color);
    --ig-input-bg: var(--input-bg-color);
    --ig-input-active-border: var(--active-input-border-color);
    --ig-input-disabled-color: var(--input-disabled-text-color);
    --ig-input-disabled-bg: var(--input-disabled-bg-color);
    --ig-input-disabled-border: var(--input-border-color);
    --ig-button-disabled-color: var(--input-disabled-text-color);
    --ig-button-disabled-border: var(--input-border-color);
    --ig-button-disabled-bg: #e7e7e7;
    --ig-inner-button-color: #888888;
    --ig-inner-button-active-color: #000000;
    --ig-text-bg: #e7e7e7;
    --ig-text-border: var(--input-border-color);
    --ig-text-color: var(--main-text-color);
  }

  /* Checkbox */
  .checkbox {
    --checkbox-text: var(--main-text-color);
    --checkbox-bg: var(--input-bg-color);
    --checkbox-border: var(--input-border-color);
    --checkbox-checked-fill: var(--accent-color);
  }

  /* DropDown  */
  .dd__container,
  .dd__container_attached {
    --dd-bg-color: var(--input-bg-color);
    --dd-selection-text: var(--main-text-color);
    --dd-border-color: var(--input-border-color);
    --dd-input-text: var(--main-text-color);

    /* Active component */
    --dd-active-bg: var(--input-bg-color);
    --dd-active-border: var(--active-input-border-color);

    /* Clear and toggle buttons */
    --dd-btn-fill: #888888;
    --dd-btn-hover-fill: var(--main-text-color);

    /* Disabled component */
    --dd-disabled-bg: var(--input-disabled-bg-color);
    --dd-disabled-border: var(--input-disabled-border-color);
    --dd-disabled-selection-color: var(--input-disabled-text-color);
    --dd-disabled-input-text: var(--input-disabled-text-color);
    --dd-disabled-btn-fill: var(--input-disabled-text-color);
    --dd-disabled-selection-item-text: var(--input-disabled-text-color);
    --dd-disabled-selection-item-bg: #dfdfdf;

    /* List item */
    --dd-list-item-text: var(--main-text-color);
    --dd-list-item-bg: #f2f2f2;
    --dd-list-item-check: var(--main-text-color);
    --dd-disabled-list-item-text: var(--input-disabled-text-color);

    /* List group */
    --dd-list-group-text: var(--accent-color);
    --dd-list-group-bg: #f2f2f2;
  }

  /* Date picker */
  .dp__container {
    --dp-bg-color: #ffffff;
    --dp-border-color: #888888;
    --dp-text-color: var(--main-text-color);
    --dp-other-text-color: #b0b0b0;
    --dp-active-color: #20d0ff;
    --dp-today-color: #00bef3;
    --dp-hover-bg-color: #80d0ff;
    --dp-hover-color: #ffffff;
    --dp-hl-bg-color: #005688;
    --dp-hl-color: #ffffff;
    --dp-nav-fill: #b0b0b0;
    --dp-nav-hover-fill: #80d0ff;
  }

  /* Collapsible */
  .rule-item .collapsible-header,
  .rule-form-collapse .collapsible-header {
    color: var(--main-text-color);
    background-color: var(--list-item-bg-color);
  }

  /* Filters */
  .filters-offcanvas {
    --offcanvas-bg: var(--semitrans-bg-color);
  }

  .filters-heading label {
    color: var(--main-text-color);
  }

  .filter-icon {
    fill: var(--main-text-color);
  }

  .filter-item__title {
    color: var(--dimmed-text-color);
  }

  /* Transaction list item */
  .trans-item__content,
  .trans-item__controls {
    background-color: var(--list-item-bg-color);
  }

  .trans-item__title {
    color: var(--main-text-color);
  }

  .trans-item__date,
  .trans-item__category,
  .trans-item__comment,
  .trans-item__date-field .field__content,
  .trans-item__category-field .field__content,
  .trans-item__comment-field .field__content {
    color: #808080;
  }

  .trans-item_details .field__title {
    color: var(--dimmed-text-color);
  }

  /* Profile view */
  .profile-block {
    color: var(--main-text-color);
  }

  /* Swap button */
  .swap-btn:active {
    background-color: #b0b0b0;
  }

  .swap-icon {
    fill: #888888;
  }

  /* Import view */
  .content-header {
    background-color: var(--main-bg-color);
  }

  .popup-menu-list {
    --popupmenu-border-color: #b0b0b0;
    --popupmenu-separator-color: #ebebeb;
    --popupmenu-background: var(--popup-menu-bg);
    --popupmenu-title-color: var(--main-text-color);
    --popupmenu-icon-color: var(--main-text-color);
    --popupmenu-hover-icon-color: #ffffff;
    --popupmenu-hover-title-color: #ffffff;
  }

  /* Import form */
  .import-form {
    --input-disabled-border-color: #eeeeee;

    .stretch-input {
      border-color: var(--input-border-color);
    }

    .stretch-input[disabled] {
      color: var(--input-disabled-text-color);
      -webkit-text-fill-color: var(--input-disabled-text-color);
      border-color: var(--input-disabled-border-color);
      background-color: var(--input-disabled-bg-color);
    }

    .stretch-input:focus {
      border-color: #888888;
      background-color: #f2f2f2;
    }

    .toggle-btn {
      --btn-icon-color: var(--list-item-icon-fill);
      --btn-hover-icon-color: var(--list-item-hover-icon-fill);
    }
  }

  /* Import item */
  .import-item {
    .item-container,
    .controls {
      background-color: #dddddd;
    }

    &[disabled] {
      .item-container,
      .controls {
        background-color: #e8e8e8;
        color: #808080;
        border-color: #e8e8e8;
      }
    }

    &.import-item__placeholder {
      border-color: #888888;
      background-color: var(--main-bg-color);
    }

    .field {
      --field-title-color: var(--dimmed-text-color);
    }

    .btn {
      color: #202020;
    }

    .icon {
      fill: var(--list-item-icon-fill);
    }

    .toggle-btn {
      --btn-icon-color: var(--list-item-icon-fill);
      --btn-hover-icon-color: var(--list-item-hover-icon-fill);
    }
  }

  /* Upload dialog */
  .upload-form__descr {
    color: #4e4e4e;
  }

  .upload-form__browser.drag-over {
    outline-color: #202020;
  }

  /* Import rules dialog */
  .rules-dialog .loading-indicator {
    color: var(--main-text-color);
    background-color: #d0d0d0;
  }

  /* Import rule */
  .rule-item__operator {
    color: #808080;
  }

  .rule-item,
  .rule-form {
    .icon {
      fill: var(--list-item-icon-fill);
    }

    .toggle-btn {
      --btn-icon-color: var(--list-item-icon-fill);
      --btn-hover-icon-color: var(--list-item-hover-icon-fill);
    }
  }

  .rule-item__info {
    color: #808080;
  }

  .rule-form-collapse .collapsible-content,
  .rule-item .collapsible-content {
    color: #202020;
    border-color: #ffffff;
    background-color: #d0d0d0;
  }

  /* Condition item */
  .cond-item,
  .cond-form {
    background-color: var(--list-item-bg-color);
  }

  .cond-item__operator {
    color: #808080;
  }

  /* Action item */
  .action-item,
  .action-form {
    background-color: var(--list-item-bg-color);
  }

  /* Original import data container */
  .import-item,
  .import-form {
    .collapsible-content {
      color: #202020;
      border-color: #b0b0b0;
      background-color: #e8e8e8;
    }
  }

  .import-item[disabled] .collapsible-content {
    color: #a0a0a0;
    border-color: #d0d0d0;
    background-color: #e0e0e0;
  }

  /* Statistics view */
  .stat-histogram > span {
    color: var(--main-text-color);
  }

  .chart__popup {
    background-color: var(--popup-menu-bg);
    color: var(--main-text-color);
  }

  .chart-popup-list__value,
  .chart-legend__item-title {
    color: var(--main-text-color);
  }

  /* Link menu item */
  b.link-menu-item_selected .link-menu-item__title {
    color: var(--main-text-color);
  }

  /* Input group disabled button with icon */
  .input-group .btn.icon-btn {
    --btn-disabled-icon-color: var(--input-disabled-text-color);
  }
}

@media (hover: hover) {
  .white-theme {
    a.nav-item__link:hover {
      color: var(--main-text-color);
    }

    .nav-item__icon-btn:hover {
      background: var(--icon-btn-hover-bg);
    }

    .swap-btn:hover .swap-icon {
      fill: var(--main-text-color);
    }

    .rule-item .collapsible-header:hover,
    .rule-form-collapse .collapsible-header:hover {
      background-color: #cccccc;
      border-color: #808080;
    }

    .rule-item .icon-btn:hover,
    .rule-form .icon-btn:hover {
      background-color: #cccccc;
    }

    .rule-item .icon-btn:hover .icon,
    .rule-form .icon-btn:hover .icon {
      fill: var(--list-item-hover-icon-fill);
    }

    /* Import item */
    .import-form .icon-btn:hover .icon,
    .import-item .icon-btn:hover .icon {
      fill: var(--list-item-hover-icon-fill);
    }

    .back-btn:hover {
      background: var(--icon-btn-hover-bg);
    }
  }
}
