/* Transaction item */
.import-form {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  margin: 2px 0;

  .form-container {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    align-items: normal;
    gap: 8px;
  }

  .form-rows {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    align-items: normal;
    gap: 8px;
  }

  .form-row {
    display: flex;
    flex-flow: column nowrap;
    gap: 8px;
  }

  /* Input field and label group */
  .field {
    --field-title-font-size: 12px;

    flex-flow: column nowrap;
    align-items: normal;
  }

  .field__title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .amount-field input {
    min-width: 50px;
  }

  .date-field input {
    min-width: 50px;
    max-width: 100px;
  }

  .amount-field input,
  .date-field input,
  .comment-field input {
    width: 100%;
  }

  .form-rows.type-col,
  .form-rows.amount-col {
    max-width: 300px;
  }

  .form-row .comment-field,
  .form-row .comment-field div {
    flex-grow: 1;
  }

  /* Controls */
  .controls {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  .dd__container {
    display: flex;
  }

  input[type="text"] {
    display: flex;
    padding: 5px;
    height: 34px;
  }

  input[type="button"] {
    width: 30px;
    border: 0 none;
    pointer-events: all;
  }

  .input-group {
    --ig-height: 34px;
  }

  /* Enable/disable item checkbox container */
  .enable-check {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 6px;

    .checkbox__check {
      margin: 0;
    }

    input[type="checkbox"] {
      pointer-events: all;
    }
  }

  /* Common buttons style */
  .btn,
  .btn:visited,
  .btn:active {
    pointer-events: all;
    background: none;
    padding: 4px;
    cursor: pointer;
  }

  /* Toggle expand/collapse button */
  .toggle-btn,
  .toggle-btn:visited,
  .toggle-btn:active {
    padding: 7px;
  }

  .toggle-icon {
    width: 18px;
    height: 18px;
  }

  /* Delete item button */
  .delete-icon {
    width: 24px;
    height: 24px;
  }

  /* Container for transaction form */
  .main-content {
    padding: 4px 0;
    display: flex;
    flex-flow: row nowrap;
  }

  .collapsible-content {
    border-top: 1px solid;
    padding: 8px;
    overflow: hidden;
  }

  &.collapsible__expanded .toggle-icon {
    transform: rotate(180deg);
  }

  /* Validation */
  .invalid-feedback {
    padding: 4px 8px;
    color: #ff0000;
  }

  .field.invalid-block input,
  .field.invalid-block .dd__combo {
    --input-border-color: #ff0000;
  }
}

/* Disabled transaction row */
.import-form[disabled] {
  .dd__container,
  input[type="text"],
  input[disabled] {
    pointer-events: none;
  }
}

/* Placeholder */
.import-form__placeholder {
  border: 1px dashed;

  * {
    opacity: 0;
  }
}

.field.invalid-block .field__title {
  color: #ff0000;
}

/* Desktop */
@media (min-width: 768px) {
  .import-form {
    .form-container {
      flex-flow: row nowrap;
    }

    .form-row {
      flex-flow: row nowrap;
    }

    .main-content {
      padding: 4px 0 6px 0;
    }

    .controls {
      align-items: start;
      padding-top: 16px;
    }
  }
}
