.import-form-popup .popup__content-box {
  --import-form-popup-zindex: 500;

  max-width: 600px;
  width: 100%;
}

/* Transaction item */
.import-form {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;

  .form-container {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    align-items: normal;
    gap: 8px;
  }

  .form-rows {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    align-items: normal;
    gap: 8px;
  }

  .form-row {
    display: flex;
    flex-flow: column nowrap;
    gap: 8px;
  }

  /* Input field and label group */
  .field {
    --field-title-font-size: 12px;

    flex-flow: column nowrap;
    align-items: normal;
  }

  .field__title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .amount-field input {
    min-width: 50px;
  }

  .date-field input {
    min-width: 50px;
    max-width: 100px;
  }

  .amount-field input,
  .date-field input,
  .comment-field input {
    width: 100%;
  }

  .form-rows.type-col,
  .form-rows.amount-col {
    max-width: 300px;
  }

  .date-field {
    min-width: 125px;
  }

  .form-row .comment-field,
  .form-row .comment-field div {
    flex-grow: 1;
  }

  .dd__container {
    --dd-list-z-index: var(--import-form-popup-zindex);

    display: flex;
  }

  .dp__wrapper {
    z-index: var(--import-form-popup-zindex);
  }

  input[type="button"] {
    width: 30px;
    border: 0 none;
    pointer-events: all;
  }

  .input-group {
    --ig-height: var(--input-height);
  }

  /* Toggle expand/collapse button */
  .toggle-btn {
    width: 32px;
    height: 32px;
    padding: 7px;
    background: none;
    pointer-events: all;
    cursor: pointer;
    margin-left: auto;
  }

  .toggle-icon {
    width: 18px;
    height: 18px;
  }

  .toggle-btn.rotate .toggle-icon {
    transform: rotate(180deg);
  }

  /* Delete item button */
  .calendar-icon {
    width: 24px;
    height: 24px;
  }

  .collapsible-content {
    flex-flow: column nowrap;
    row-gap: 1rem;
    border-top: 1px solid;
    padding: 8px;
    overflow: hidden;
  }

  /* Found similar transaction info */
  .similar {
    display: flex;
    flex-flow: row nowrap;
    column-gap: 1rem;
    font-size: 14px;
  }

  .field.invalid-block input,
  .field.invalid-block .dd__combo {
    --input-border-color: #ff0000;
  }
}
