/* Transaction item */
.import-form {
  --import-form-popup-zindex: 500;

  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;

  .main-content {
    display: flex;
    flex-flow: row nowrap;
  }

  .form-container {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    align-items: normal;
    gap: 8px;
    padding: 4px 8px 4px 8px;
  }

  .form-rows {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    align-items: normal;
    gap: 8px;
  }

  .form-row {
    display: flex;
    flex-flow: column nowrap;
    gap: 8px;
  }

  /* Input field and label group */
  .field {
    --field-title-font-size: 12px;

    flex-flow: column nowrap;
    align-items: normal;
  }

  .field__title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .amount-field input {
    min-width: 50px;
  }

  .date-field input {
    min-width: 50px;
    max-width: 100px;
  }

  .amount-field input,
  .date-field input,
  .comment-field input {
    width: 100%;
  }

  .form-rows.type-col,
  .form-rows.amount-col {
    max-width: 300px;
  }

  .date-field {
    min-width: 125px;

    .dp__container {
      width: 100%;
    }
  }

  .form-row .comment-field,
  .form-row .comment-field div {
    flex-grow: 1;
  }

  /* Select controls */
  .select-controls {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    width: 0;
    overflow: hidden;
    transition: width 0.2s ease;

    .checkbox {
      --checkbox-size: 24px;

      margin: 0;
    }

    .checkbox__check {
      margin: 0;
      border-radius: 50%;
    }
  }

  /* Controls */
  .controls {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  .dd__container {
    --dd-list-z-index: var(--import-form-popup-zindex);

    display: flex;
  }

  .dp__wrapper {
    z-index: var(--import-form-popup-zindex);
  }

  input[type="text"] {
    display: flex;
    padding: 5px;
    height: 34px;
  }

  input[type="button"] {
    width: 30px;
    border: 0 none;
    pointer-events: all;
  }

  .input-group {
    --ig-height: 34px;
  }

  /* Toggle expand/collapse button */
  .toggle-btn {
    width: 32px;
    height: 32px;
    padding: 7px;
    background: none;
    pointer-events: all;
    cursor: pointer;
  }

  .toggle-icon {
    width: 18px;
    height: 18px;
  }

  /* Delete item button */
  .calendar-icon {
    width: 24px;
    height: 24px;
  }

  /* Menu */
  .popup-menu-btn {
    width: 26px;
    height: 26px;
    padding: 4px;
    background: none;
    pointer-events: all;
    cursor: pointer;
  }

  .popup-menu-btn__icon {
    width: 18px;
    height: 18px;
  }

  .popup-menu {
    margin: 0 4px;
  }

  .collapsible-content {
    flex-flow: column nowrap;
    row-gap: 1rem;
    border-top: 1px solid;
    padding: 8px;
    overflow: hidden;
  }

  &.collapsible__expanded .toggle-icon {
    transform: rotate(180deg);
  }

  /* Sort mode */
  &.import-form_sort {
    cursor: move;
  }

  /* Found similar transaction info */
  .similar {
    display: flex;
    flex-flow: row nowrap;
    column-gap: 1rem;
    font-size: 14px;
  }

  /* Validation */
  .invalid-feedback {
    padding: 4px 8px;
    color: #ff0000;
  }

  .field.invalid-block input,
  .field.invalid-block .dd__combo {
    --input-border-color: #ff0000;
  }

  .form-controls {
    padding: 24px 8px 12px 8px;
  }
}

.import-list_select .select-controls {
  width: 32px;
}

/* Disabled transaction row */
.import-form[disabled] {
  .dd__container,
  input[type="text"],
  .input-group__btn,
  input[disabled] {
    pointer-events: none;
  }

  .date-field .icon.calendar-icon {
    fill: var(--input-disabled-text-color);
  }
}

/* Placeholder */
.import-form__placeholder {
  border: 1px dashed;

  * {
    opacity: 0;
  }
}

.field.invalid-block .field__title {
  color: #ff0000;
}

/* Desktop */
@media (min-width: 768px) {
  .import-form {
    .form-container {
      flex-flow: row nowrap;
      padding: 4px 0 6px 8px;
    }

    .form-row {
      flex-flow: row nowrap;
    }

    .controls {
      align-items: start;
      padding-top: 16px;
    }
  }
}
