/* Import rules dialog */
.rules-popup {
  --popup-max-width: 600px;

  .popup__wrapper {
    position: relative;
    align-items: flex-start;
  }

  .popup__header {
    column-gap: 24px;

    .popup__title {
      flex: 1 1 auto;
    }
  }

  &.popup_scroll-message .popup__message {
    overflow-y: hidden;
    display: flex;
    flex-flow: row nowrap;
  }
}

.rules-dialog {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  flex: 1 1 auto;
  min-height: 100px;

  .search-field {
    margin-bottom: 1rem;
  }

  .loading-indicator {
    border-radius: 10px;
    color: var(--main-text-color);
    background-color: var(--bg-color-5);
  }
}

/* Import rules dialog heading */
.rules-header {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  column-gap: 24px;

  label {
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 32px;
    margin: 0;
  }

  /* Create button */
  .create-btn {
    --btn-icon-color: var(--list-item-icon-fill);
    --btn-hover-icon-color: var(--list-item-hover-icon-fill);

    margin-left: auto;
  }
}

.rules-list {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 4px;
}

.rules-content {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}

.rules-list-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  padding-bottom: var(--content-padding-bottom);
}

/* Desktop */
@media (min-width: 768px) {
  .rules-popup {
    .popup__wrapper {
      padding-top: 60px;
      padding-bottom: 20px;
    }
  }

  .rules-list-container {
    padding-bottom: 0;
  }
}
