/* Mode selector */
.mode-selector {
  --ms-focus-shadow: #0d6efd40;

  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 5px 0;
}

.mode-selector__item {
  display: inline-flex;
  flex-flow: row nowrap;

  &:focus {
    box-shadow: 0 0 0 0.25rem var(--ms-focus-shadow);
  }

  span {
    height: 22px;
    line-height: 22px;
    padding: 0 10px 0 5px;
  }

  .icon {
    width: 24px;
    height: 24px;
    padding: 0;
  }

  .icon-content {
    width: 24px;
    height: 24px;
  }
}
